<!-- Top Level Nav -->

<div class="pt-2 pb-2 mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active tab-icon" id="admin-gateways-tab" href="#gateways-table-tab" data-toggle="tab"
        role="tab" aria-controls="admin-gateways" aria-selected="true"><i class="mr-2 icon-gateway"></i>Gateways</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-icon" id="admin-sensor-tab" href="#sensor-table-tab" data-toggle="tab" role="tab"
        aria-controls="admin-sensor" aria-selected="false"><i class="mr-2 icon-sensonode"></i>Sensors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-icon" id="admin-map-tab" href="#map-tab" data-toggle="tab" role="tab"
        aria-controls="admin-map" aria-selected="false"><i class="mr-2 icon-loc-pin-map"></i>Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-icon" id="admin-alert-tab" href="#alert-tab" data-toggle="tab" role="tab"
        aria-controls="admin-alert" aria-selected="false"><i class="mr-2 icon-warn"></i>Alert</a>
    </li>
  </ul>




  <!-- Second Level Nav -->


  <div class="tab-content bg-white">

    <!-- Gateways Table tab  -->

    <div class="tab-pane fade show active border border-top-0 p-3 mb-3 flex-grow-1 shadow" id="gateways-table-tab"
      role="tabpanle" area-labelledby="admin-gateways-tab">
      <app-votm-cloud-admin-gateways-home></app-votm-cloud-admin-gateways-home>
    </div>

    <!-- Sensors Table Tab  -->
    <div class="tab-pane fade border border-top-0 p-3 mb-3 flex-grow-1" id="sensor-table-tab" role="tabpanle"
      area-labelledby="admin-sensor-tab">
      <app-votm-cloud-admin-sensor-home></app-votm-cloud-admin-sensor-home>
    </div>

    <!-- Admin Map Dashboard Tab  -->
    <div class="tab-pane fade border border-top-0 p-3 mb-3 flex-grow-1" id="map-tab" role="tabpanle"
      area-labelledby="admin-map-tab">
      <app-votm-cloud-admin-network-map></app-votm-cloud-admin-network-map>
    </div>


    <!-- Admin Alert Tab  -->
    <div class="tab-pane fade border border-top-0 p-3 mb-3 flex-grow-1" id="alert-tab" role="tabpanle"
      area-labelledby="admin-alert-tab">
      <app-votm-cloud-admin-sensor-alert></app-votm-cloud-admin-sensor-alert>
    </div>

  </div>
</div>