<div class="position-relative">
  <div class="lock-tab border border-bottom-0">
    <i class="icon-lock edit-view-lock" id="view-lock" name="lockTogglebutton"></i>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="g_name">Gateway Name:</label>
      <input class="form-control form-control-sm" placeholder="Gateway Name" type="text" id="g_name" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="owning_org">Owning Organization:</label>
      <input class="form-control form-control-sm" placeholder="Owning Organization" type="text" id="owning_org" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="serial_name">Serial Number:</label>
      <input class="form-control form-control-sm" placeholder="Serial Number" type="text" id="serial_name" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="inst_loc">Installed Location:</label>
      <!-- <input class="form-control form-control-sm" placeholder="Installed Location" type="text" id="inst_loc" /> -->
      <ng-select id="inst_loc" name="inst_loc" class="drop-down custom">
        <ng-option value="" data-default selected>Select Location</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="description">Description:</label>
      <input class="form-control form-control-sm" placeholder="Description" type="text" id="description" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="g_type">Gateway Type:</label>
      <input class="form-control form-control-sm" placeholder="Gateway Type" type="text" id="g_type" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="g_state">Gateway State:</label>
      <input class="form-control form-control-sm" placeholder="Gateway State" type="text" id="g_state" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="time_on_line">Time on-line:</label>
      <input class="form-control form-control-sm" placeholder="Time on-line" type="text" id="time_on_line" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="model_number">Model Number:</label>
      <input class="form-control form-control-sm" placeholder="Model Number" type="text" id="model_number" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-6">
    <div class="form-group">
      <label for="data_transmitted">Data transmitted:</label>
      <input class="form-control form-control-sm" placeholder="Data transmitted" type="text" id="data_transmitted" />
    </div>
  </div>
</div>
<div class="row">
  <div class="ml-auto mr-3">
    <button class="btn btn-secondary btn-sm mr-2" (click)="returnToGatewayList()"><i class="icon-gateway"></i> Return to List</button>
    <button class="btn btn-info btn-sm">Save</button>
  </div>
</div>
