<!-- Top Level Nav -->

<div class="nav nav-tabs" role="tablist">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active tab-icon" id="org-tab" href="#org-details-tab" data-toggle="tab" role="tab"
        aria-controls="org-info" aria-selected="true"><i class="mr-2 fa fa-building"></i>Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-icon" id="event-tab" href="#event-details-tab" data-toggle="tab" role="tab"
        aria-controls="event-details" aria-selected="false"><i class="mr-2 fa fa-warning"></i>Alerts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-icon" id="dashboard1-tab" href="#dashboard1-details-tab" data-toggle="tab" role="tab"
        aria-controls="dashboard1-details" aria-selected="false"><i class="mr-2 fa fa-laptop"></i>Dashboard</a>
    </li>
  </ul>
</div>



<!-- Second Level Nav -->


<div class="tab-content">

  <!-- organization details tab  -->

  <div class="tab-content tab-pane fade show active" id="org-details-tab"
    *ngIf="(!orgId && pageLabels) || (orgId && pageLabels && organization)" role="tabpanle"
    area-labelledby="org-info-tab">

    <div class="row">
      <div class="col-1">
        <ul class="nav flex-column" aria-orientation="vertical">

          <!-- details view/edit  -->
          <li class="nav-item">
            <a class="nav-link active tab-icon" id="org-details-tab" name="org-view-edit" href="#org-details"
              data-toggle="tab" role="tab" aria-controls="org-details" aria-selected="true"><i
                class="fa fa-building"></i></a>
          </li>
          <!-- Alerts Tab  -->
          <li class="nav-item">
            <a class="nav-link tab-icon" id="org-alert-tab" name="alert-view-edit" href="#org-alert"
              (click)="onAlertRuleTabClick()" data-toggle="tab" role="tab" aria-controls="org-alert"
              aria-selected="false"><i class="fa fa-warning"></i></a>
          </li>

          <!-- Asset Template Tab  -->
          <li class="nav-item">
            <a class="nav-link tab-icon" id="asset-template-tab" name="asset-template-list" href="#asset-template"
              (click)="onTemplateTabClick()" data-toggle="tab" role="tab" aria-controls="asset-template"
              aria-selected="false"><i class="fa fa-archive"></i></a>
          </li>

          <!-- Sensor Tab  -->
          <li class="nav-item">
            <a class="nav-link tab-icon" id="org-sensor-tab" name="org-sensor-list" href="#org-sensor" data-toggle="tab"
              role="tab" aria-controls="org-sensor" aria-selected="false">
              <i class="fa fa-thermometer-full"></i></a>
          </li>

          <!-- Gateways Tab  -->

          <li class="nav-item">
            <a class="nav-link tab-icon" id="org-gateways-tab" name="org-gateways-list" href="#org-gateways"
              data-toggle="tab" role="tab" aria-controls="org-gateways" aria-selected="false"><i
                class="fa fa-server"></i></a>
          </li>

        </ul>
      </div>

      <div class="col-11">
        <div class="tab-content">

          <div class="tab-pane fade show active org-create-font"
            *ngIf="(!orgId && pageLabels) || (orgId && pageLabels && organization)" id="org-details" role="tabpanle"
            area-labelledby="org-details-tab">

            <form #organizationForm="ngForm" class="create-org-container needs-validation"
              (ngSubmit)="onOrganizationSubmit()" novalidate>

              <div class="row">
                <div class="col">
                  <i class="fa fa-lock edit-view-lock" id="view-lock" name="lockTogglebutton"
                    *ngIf="pageType.toLowerCase() === 'view'" (click)="onLockClick()"></i>
                  <i class="fa fa-unlock edit-view-lock" id="edit-lock" name="unlockTogglebutton"
                    *ngIf="pageType.toLowerCase() === 'edit'" (click)="onLockClick()"></i>
                </div>
              </div>


              <div class="row">

                <div class="col-6">
                  <div class="row form-group">
                    <label class="col-sm-3 col-form-label" votmrequired id="org-name"><b>{{pageLabels.Name.labelName}}
                        :</b></label>
                    <div class="col-sm-9">
                      <input type="text" maxlength="100" [(ngModel)]="organization.name"
                        class="form-control form-control-sm" id="org-dtl-name" placeholder="Name" name="name"
                        [disabled]="pageType==='View'" #orgName="ngModel" required>
                      <div *ngIf="orgName.dirty && orgName.invalid">
                        <app-votm-cloud-validator message="Name is required"></app-votm-cloud-validator>
                      </div>
                      <app-votm-cloud-char-validator [condition]="organization.name && organization.name.length>=100">
                      </app-votm-cloud-char-validator>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label"
                      id="parentOrgLbl"><b>{{pageLabels.ParentOrganization.labelName}}
                        :</b></label>
                    <div class="col-sm-7">
                      <select [disabled]="pageType==='View'" id="parentOrgLblList"
                        [(ngModel)]="organization.parentOrganizationId" name="parentOrganizationName"
                        class="drop-down form-control form-control-sm" required>
                        <option *ngFor="let org of organizationList" class="dropdown-item" [value]="org.id">
                          {{org.name}}
                        </option>
                      </select>



                      <!-- <input for="parentOrgName" class="form-control org-create-font" type="text"
                placeholder="{{parentOrganizationInfo? parentOrganizationInfo.parentOrganizationName: organization.parentOrganizationName}}"
                readonly disabled> -->
                      <!-- <label
                        for="parentOrgName">{{parentOrganizationInfo? parentOrganizationInfo.parentOrganizationName: organization.parentOrganizationName}}</label> -->
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-3">
                  <div class="row form-group">
                    <label class="col-sm-6 col-form-label" votmrequired id="nameShortLbl"><b>Short Name:</b></label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-sm" id="nameShort" placeholder="Short Name"
                        maxlength="500" [disabled]="pageType==='View'" [(ngModel)]="organization.shortName"
                        name="shortName" required>
                    </div>
                  </div>
                </div>

                <div class="col-3">
                  <div class="row form-group">
                    <label class="col-sm-6 col-form-label px-0" votmrequired id="customerNumLbl"><b>Customer
                        No.:</b></label>
                    <div class="col-sm-6">
                      <input type="text" [(ngModel)]="organization.customerNumber" id="customerNum"
                        class="form-control form-control-sm" placeholder="Customer Number" maxlength="500"
                        #customerNum="ngModel" [disabled]="pageType==='View'" name="customerNum" required>
                      <div *ngIf="customerNum.dirty && customerNum.invalid">
                        <app-votm-cloud-validator message="Customer No. is required"></app-votm-cloud-validator>
                      </div>
                      <app-votm-cloud-char-validator
                        [condition]="organization.customerNumber && organization.customerNumber.length>=500">
                      </app-votm-cloud-char-validator>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label" id="orgTypeLbl"
                      for="organizationType"><b>{{pageLabels.OrganizationType.labelName}}:</b></label>
                    <div class="col-sm-7">
                      <input type="text" [disabled]="pageType==='View'" id="orgTypeInput"
                        [(ngModel)]="organization.organizationType" class="form-control form-control-sm" maxlength="100"
                        placeholder="Organization Type" name="organizationType">
                      <app-votm-cloud-char-validator
                        [condition]="organization.organizationType && organization.organizationType.length>=100">
                      </app-votm-cloud-char-validator>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-6">
                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label" votmrequired id="primarycontactLbl"><b>
                        {{pageLabels.PrimaryContact.labelName}}:</b></label>
                    <div class="col-sm-7">
                      <input type="email" id="primarycontact" [disabled]="pageType==='View'"
                        [(ngModel)]="organization.primaryContactEmailAddress" class="form-control form-control-sm" email
                        #primaryContact="ngModel" maxlength="100" placeholder="Email Address" name="contact" required>


                      <div *ngIf="primaryContact.dirty && primaryContact.invalid">
                        <app-votm-cloud-validator *ngIf="primaryContact.errors && primaryContact.errors.required"
                          message="Primary Contact is required"></app-votm-cloud-validator>
                        <app-votm-cloud-validator *ngIf="primaryContact.errors && primaryContact.errors.email"
                          message="This is not valid mail id"></app-votm-cloud-validator>

                      </div>
                      <app-votm-cloud-char-validator
                        [condition]="organization.primaryContactEmailAddress && organization.primaryContactEmailAddress.length>=100">
                      </app-votm-cloud-char-validator>
                    </div>

                  </div>


                </div>

                <div class="col-6">
                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label" votmrequired id="primarycontactnumberlbl"><b> Contact
                        Phone:</b></label>
                    <div class="col-sm-7">
                      <input type="text" id="primarycontactnumber" [disabled]="pageType==='View'"
                        class="form-control form-control-sm" [(ngModel)]="organization.contactPhone" number
                        maxlength="100" placeholder="Phone Number" name="contact" required>


                      <div *ngIf="primaryContact.dirty && primaryContact.invalid">
                        <app-votm-cloud-validator *ngIf="primaryContact.errors && primaryContact.errors.required"
                          message="Primary Contact is required"></app-votm-cloud-validator>
                        <app-votm-cloud-validator *ngIf="primaryContact.errors && primaryContact.errors.email"
                          message="This is not valid phone #"></app-votm-cloud-validator>
                      </div>

                    </div>

                    <app-votm-cloud-char-validator
                      [condition]="organization.primaryContactEmailAddress && organization.primaryContactEmailAddress.length>=100">
                    </app-votm-cloud-char-validator>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label" votmrequired id="primaryDistributorNamelbl"><b>Distributor:
                      </b></label>
                    <div class="col-sm-7"><input type="text" id="primaryDistributorName" [disabled]="pageType==='View'"
                        name="primaryDistributorName" [(ngModel)]="organization.primaryDistributorName"
                        class="form-control form-control-sm" placeholder="Primary Distributor Name"
                        #primaryDistributorName="ngModel" maxlength="50" required>

                      <div *ngIf="primaryDistributorName.dirty && primaryDistributorName.invalid">
                        <app-votm-cloud-validator message="Primary Distributor Name is required">
                        </app-votm-cloud-validator>
                      </div>
                    </div>
                  </div>

                  <app-votm-cloud-char-validator
                    [condition]="organization.primaryDistributorName && organization.primaryDistributorName.length>=50">
                  </app-votm-cloud-char-validator>
                </div>

                <div class="col-6">
                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label" votmrequired id="primaryDistributorEmailLbl"><b>Distributor
                        Contact:
                      </b></label>
                    <div class="col-sm-7">
                      <input type="email" id="primaryDistributorEmail" [disabled]="pageType==='View'"
                        name="primaryDistributorEmail" [(ngModel)]="organization.primaryDistributorEmailAddress"
                        #primaryDistributorEmail="ngModel" class="form-control form-control-sm" email
                        placeholder="Primary Distributor Email" maxlength="100" required>


                      <div *ngIf="primaryDistributorEmail.dirty && primaryDistributorEmail.invalid">
                        <app-votm-cloud-validator
                          *ngIf="primaryDistributorEmail.errors && primaryDistributorEmail.errors.required"
                          message="Primary Distributor Contact is required"></app-votm-cloud-validator>
                        <app-votm-cloud-validator
                          *ngIf="primaryDistributorEmail.errors && primaryDistributorEmail.errors.email"
                          message="This is not valid mail id"></app-votm-cloud-validator>
                      </div>
                    </div>
                  </div>
                  <app-votm-cloud-char-validator
                    [condition]="organization.primaryDistributorEmail && organization.primaryDistributorEmail.length>=100">
                  </app-votm-cloud-char-validator>
                </div>
              </div>

              <fieldset class="form-group">
                <legend><b id="contractHeadingLbl" votmrequired>{{pageLabels.Contract.labelName}}</b></legend>

                <div class="row org-create-font">

                  <div class="col-sm-2">
                    <!-- <label id="startDatelbl"><b>{{pageLabels.StartDate.labelName}}:</b></label> -->
                    <!-- <div class="input-group-append"> -->
                    <label id="startDatelbl"><b>Term:</b></label>
                    <!-- <button class="ml-5 btn btn-light calendar" (click)="d.toggle()" type="button"><i
                          class="fa fa-calendar"></i></button> -->
                    <!-- </div> -->
                    <input class="form-control form-control-sm"
                      (click)="contractStartDate.toggle(); onStartDateChange();" placeholder="yyyy-mm-dd"
                      [disabled]="pageType==='View'" [(ngModel)]="tempContractStartDate" name="startDate" ngbDatepicker
                      #contractStartDate="ngbDatepicker" (change)="onStartDateChange()" (keyup)="onStartDateChange()"
                      #startDate="ngModel" required>

                    <!-- <input type="date" id="startDate" [disabled]="pageType==='View'"
                      [(ngModel)]="organization.contractStartDate" class="form-control org-create-font"
                      (change)="onStartDateChange()" (click)="onStartDateChange()" (keyup)="onStartDateChange()"
                      #startDate="ngModel" placeholder="Start Date" name="startDate" required> -->
                    <div *ngIf="startDate.dirty && startDate.invalid">
                      <app-votm-cloud-validator *ngIf="startDate.errors && startDate.errors.required"
                        message="Start Date is required"></app-votm-cloud-validator>
                      <app-votm-cloud-validator *ngIf="startDate.errors && startDate.errors.invalidDate"
                        message="Start Date can not be greater than or equal to end date"></app-votm-cloud-validator>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <label id="endDateLbl"><b>{{pageLabels.EndDate.labelName}}:</b></label>
                    <input class="form-control form-control-sm" (click)="contractEndDate.toggle(); onEndDateChange();"
                      placeholder="yyyy-mm-dd" [disabled]="pageType==='View'" [(ngModel)]="tempContractEndDate"
                      name="endDate" ngbDatepicker #contractEndDate="ngbDatepicker" (change)="onEndDateChange()"
                      (keyup)="onEndDateChange()" #endDate="ngModel" required>

                    <!-- <input type="date" id="endDate" [disabled]="pageType==='View'"
                      [(ngModel)]="organization.contractEndDate" class="form-control org-create-font" #endDate="ngModel"
                      (change)="onEndDateChange()" (click)="onEndDateChange()" (keyup)="onEndDateChange()"
                      placeholder="End Date" name="endDate" required> -->

                    <div *ngIf="endDate.dirty && endDate.invalid">
                      <app-votm-cloud-validator message="End Date is required"></app-votm-cloud-validator>
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <label id="serviceLbl"><b>{{pageLabels.SVCLevel.labelName}}: </b></label>
                    <select [disabled]="pageType==='View'" id="service" [(ngModel)]="organization.svclevels"
                      name="svcLevels" class="drop-down form-control form-control-sm" required>
                      <option *ngFor="let svcLevel of svcLevels" [value]="svcLevel.optionId">
                        {{svcLevel.optionValue}}
                      </option>
                    </select>
                    <!-- <input type="text" [disabled]="pageType==='View'" maxlength="100" [(ngModel)]="organization.svclevel"
                class="form-control org-create-font" #svcLabel="ngModel" placeholder="Service Level" name="svcLabel" required>
              <div *ngIf="svcLabel.dirty && svcLabel.invalid">
                <app-votm-cloud-validator message="SVC Level is required"></app-votm-cloud-validator>
              </div> -->
                  </div>

                  <div class="col-sm-3">
                    <label id="sensorBlockLbl"><b>Sensor Blocks: </b></label>
                    <select [disabled]="pageType==='View'" id="sensorBlock" [(ngModel)]="organization.sensorBlocks"
                      name="sensorBlock" class="drop-down form-control form-control-sm">
                      <option *ngFor="let sensorBlock of sensorBlocks" [value]="sensorBlock.optionId">
                        {{sensorBlock.optionValue}}
                      </option>
                    </select>
                    <!-- <input type="text" disabled maxlength="100" 
                class="form-control org-create-font" placeholder="Sensor Block" name="sensorBlockCt" required> -->
                  </div>

                  <div class="col-sm-3">
                    <label id="cellularBlockLbl"><b>Cellular Blocks: </b></label>
                    <select [disabled]="pageType==='View'" id="cellularBlock" [(ngModel)]="organization.cellularBlocks"
                      name="cellularBlock" class="drop-down form-control form-control-sm">
                      <option *ngFor="let cellularBlock of cellularBlocks" [value]="cellularBlock.optionId">
                        {{cellularBlock.optionValue}}
                      </option>
                    </select>
                    <!-- <input type="text" disabled maxlength="100"
                class="form-control org-create-font" placeholder="Cellular Block" name="cellularBlockCt" required> -->
                  </div>

                </div>

              </fieldset>

              <div *ngIf="organization.address" class="row">

                <div class="col-6">
                  <fieldset class="form-group">
                    <legend id="billingaddress" votmrequired><b>{{pageLabels.BillingAddress.labelName}} :</b></legend>
                    <div class="row">

                      <div class="col-12 form-group">
                        <!-- <label for="address2"><b>* {{pageLabels.Address1.labelName}} :</b></label> -->
                        <input type="text" id="address1" [disabled]="pageType==='View'"
                          [(ngModel)]="organization.address[0].address1" class="form-control form-control-sm"
                          #address1="ngModel" placeholder="Street Name" name="address1" required>
                        <div *ngIf="address1.dirty && address1.invalid">
                          <app-votm-cloud-validator message="Street name is required"></app-votm-cloud-validator>
                        </div>
                      </div>

                      <div class="col-12 form-group">
                        <!-- <label for="address1"><b>* {{pageLabels.Address2.labelName}} :</b></label> -->
                        <input type="text" id="address2" [disabled]="pageType==='View'"
                          [(ngModel)]="organization.address[0].address2" class="form-control form-control-sm"
                          placeholder="Apt/Suite Number" #address2="ngModel" name="address2">
                        <!-- <div *ngIf="address1.dirty && address1.invalid">
                                                  <app-votm-cloud-validator message="Apt/Suite Number is required"></app-votm-cloud-validator>
                                                </div> -->
                      </div>

                      <div class="col-6 form-group">
                        <!-- <label for="city"><b>* {{pageLabels.City.labelName}} :</b></label> -->
                        <input type="text" id="city" [disabled]="pageType==='View'"
                          [(ngModel)]="organization.address[0].city" class="form-control form-control-sm"
                          #city="ngModel" placeholder="City" name="city" required>
                        <div *ngIf="city.dirty && city.invalid">
                          <app-votm-cloud-validator message="City is required"></app-votm-cloud-validator>
                        </div>
                      </div>

                      <div class="col-6">
                        <select #state="ngModel" id="state" [disabled]="pageType==='View'"
                          [(ngModel)]="organization.address[0].state" name="state"
                          class="drop-down form-control form-control-sm" required>
                          <option *ngFor="let state of states" [value]="state.value">
                            {{state.text}}
                          </option>
                        </select>
                        <div *ngIf="state.dirty && state.invalid">
                          <app-votm-cloud-validator message="State is required"></app-votm-cloud-validator>
                        </div>
                      </div>

                      <div class="col-6">
                        <select [disabled]="pageType==='View'" id="country"
                          [(ngModel)]="organization.address[0].country" name="country"
                          class="drop-down form-control loc-create-font" (change)="onCountryChange($event)" required
                          #country="ngModel">
                          <option value="" disabled selected>Country</option>
                          <option *ngFor="let country of countries" [value]="country.countryName">
                            {{country.countryName}}
                          </option>
                        </select>


                        <!-- <select required [disabled]="pageType==='View'" [(ngModel)]="organization.address[0].country"
                  name="country" class="drop-down form-control form-control-sm" #country="ngModel">
                  <option *ngFor="let country of countries" [value]="country.value">
                    {{country.text}}
                  </option>
                </select> -->
                        <div *ngIf="country.dirty && country.invalid">
                          <app-votm-cloud-validator message="Country is required"></app-votm-cloud-validator>
                        </div>
                      </div>

                      <div class="col-6">
                        <!-- <label for="zipcode"><b>* {{pageLabels.Zipcode.labelName}} :</b></label> -->
                        <input type="text" id="zipCode" [disabled]="pageType==='View'"
                          [(ngModel)]="organization.address[0].postalCode" class="form-control form-control-sm"
                          #zipcode="ngModel" placeholder="Zip Code" name="zipCode" required>
                        <div *ngIf="zipcode.dirty && zipcode.invalid">
                          <app-votm-cloud-validator message="Zip Code is required"></app-votm-cloud-validator>
                        </div>
                      </div>

                    </div>
                  </fieldset>
                </div>

                <div class="col-6">
                  <div class="row form-group" *ngIf="!orgId && applicationConfiguration">
                    <label class="col-sm-5 col-form-label" votmrequired
                      id="DefaultLangLbl"><b>{{pageLabels.Language.labelName}}
                        :</b></label>
                    <div class="col-sm-7">
                      <select required [(ngModel)]="organization.localeId" id="DefaultLang" name="language"
                        class="drop-down form-control form-control-sm" #defLanguage="ngModel">
                        <option value="" data-default selected>Select Language</option>
                        <option *ngFor="let locale of applicationConfiguration.locale" [value]="locale.localeId">
                          {{locale.localeName}}
                        </option>
                      </select>
                      <div *ngIf="defLanguage.dirty && defLanguage.invalid">
                        <app-votm-cloud-validator message="Language is required"></app-votm-cloud-validator>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group" *ngIf="orgId && applicationConfiguration">
                    <label class="col-sm-5 col-form-label" votmrequired
                      id="DefaultLangLbl"><b>{{pageLabels.Language.labelName}}
                        :</b></label>
                    <div class="col-sm-7">
                      <select required #language="ngModel" id="DefaultLang" [disabled]="pageType==='View'"
                        [(ngModel)]="organization.locale" name="language"
                        class="drop-down form-control form-control-sm">
                        <!-- <option value="" data-default selected>Select Language</option> -->
                        <option *ngFor="let locale of applicationConfiguration.locale" [value]="locale.localeId">
                          {{locale.localeName}}
                        </option>
                      </select>
                      <div *ngIf="language.dirty && language.invalid">
                        <app-votm-cloud-validator message="Language is required"></app-votm-cloud-validator>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group" *ngIf="!orgId && applicationConfiguration">
                    <!-- <label for="DefatimezoneultLang"><b>* {{pageLabels.TimeZone.labelName}} :</b></label> -->
                    <label class="col-sm-5 col-form-label" votmrequired
                      id="timezoneLbl"><b>{{pageLabels.DefaultTimeZone.labelName}}
                        :</b></label>
                    <div class="col-sm-7">
                      <select required #timezone="ngModel" id="timezone" [disabled]="pageType==='View'"
                        [(ngModel)]="organization.timeZoneId" name="timezone"
                        class="drop-down form-control form-control-sm">
                        <!-- <option value="" data-default selected>Select Timezone</option> -->
                        <option *ngFor="let timeZone of applicationConfiguration.timeZone"
                          [value]="timeZone.timeZoneId">
                          {{timeZone.timeZoneName}}
                        </option>
                      </select>
                      <div *ngIf="timezone.dirty && timezone.invalid">
                        <app-votm-cloud-validator message="Timezone is required"></app-votm-cloud-validator>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group" *ngIf="orgId && applicationConfiguration">
                    <!-- <label for="DefatimezoneultLang"><b>* {{pageLabels.TimeZone.labelName}} :</b></label> -->
                    <label class="col-sm-5 col-form-label" votmrequired id="timezoneLbl"><b>
                        {{pageLabels.DefaultTimeZone.labelName}}
                        :</b></label>
                    <div class="col-sm-7">
                      <select required #timezone="ngModel" id="timezone" [disabled]="pageType==='View'"
                        [(ngModel)]="organization.timeZone" name="timezone"
                        class="drop-down form-control form-control-sm">
                        <!-- <option value="" data-default selected>Select Timezone</option> -->
                        <option *ngFor="let timeZone of applicationConfiguration.timeZone"
                          [value]="timeZone.timeZoneId">
                          {{timeZone.timeZoneName}}
                        </option>
                      </select>
                      <div *ngIf="timezone.dirty && timezone.invalid">
                        <app-votm-cloud-validator message="Timezone is required"></app-votm-cloud-validator>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label" name="uom-change-lbl" votmrequired id="unitsOfMeasureLbl"><b>
                        Default UOM
                        :</b></label>
                    <div class="col-sm-7">
                      <label name="uom-logo" id="unitsOfMeasureSelected" class="mr-3"><b>{{UOM}}</b></label>
                      <button id="uom-change-btn" id="UomChance Button" class="btn btn-sm btn-secondary"
                        *ngIf="pageType !=='View'" type="button" (click)="openmodal()">Change</button>
                    </div>
                  </div>
                  <div class="row form-group org-create-font">
                    <div class="col-md-9">
                      <label id="logoLbl"><b>{{pageLabels.LogoFile.labelName}} :</b></label>
                      <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
                      <input #file id="imageUploadButton" type="file" accept='image/*' *ngIf="pageType !=='View'"
                        (change)="preview(file.files)" />
                      <label id="imageLbl" style="font-weight: bold"
                        *ngIf="organization && organization.logo">{{organization.logo.imageName}}</label>
                      <img [src]="imgURL" height="70" *ngIf="imgURL">

                    </div>

                  </div>

                </div>

              </div>


              <div class="row org-create-font">
                <label id="orgDescriptionLbl" class="col-2"><b>{{pageLabels.DescriptionofOrganization.labelName}}
                    :</b></label>
                <div class="col-10">
                  <textarea class="form-control form-control-sm" id="orgDesText" #description="ngModel"
                    [disabled]="pageType==='View'" [(ngModel)]="organization.description"
                    (keyup)="onDescriptionChange()" name="orgDescription" rows="3"
                    id="f-orgDescription"></textarea><br />
                  <div *ngIf="description.dirty && description.invalid">
                    <app-votm-cloud-validator *ngIf="description.errors && description.errors.invalidDescription"
                      message="Can not add more than 4000 characters"></app-votm-cloud-validator>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <button id="org-cancel" type="button" (click)="onCancelClick($event)"
                    class="btn btn-secondary btn-sm button-mod"><i class="pr-2 fa fa-window-close-o"></i>
                    Cancel</button>
                  <button id="org-delete" *ngIf="organization.organizationId && pageType !=='View'" type="button"
                    class="btn btn-secondary btn-sm button-mod" (click)="openConfirmDialog()"><i
                      class="pr-2 fa fa-trash"></i>
                    Delete</button>
                  <button id="org-save" type="submit" *ngIf="pageType !=='View'"
                    class="btn btn-sm btn-info button-mod"><i class="pr-2 fa fa-building"></i> Save
                    Organization</button>
                </div>

              </div>


              <!-- <div class="col-md-12"> -->
              <!-- <button id="loc-org-create" *ngIf="organization.organizationId" (click)="createNestedLocation($event)"
                  type="button" class="btn btn-sm btn-info"><i class="fa fa-location-arrow"></i> Add Location</button>
                <button id="suborg-create" *ngIf="organization.organizationId"
                  (click)="createNestedOrganization($event)" type="button" class="btn btn-sm btn-info ml-1"><i
                    class="fa fa-building"></i> Add Suborganization</button> -->
              <!-- <button id="org-cancel" type="button" (click)="onCancelClick($event)"
                  class="btn btn-secondary btn-sm button-mod"><i class="pr-2 fa fa-window-close-o"></i> Cancel</button>
                <button id="org-delete" *ngIf="organization.organizationId && pageType !=='View'" type="button"
                  class="btn btn-secondary btn-sm button-mod" (click)="openConfirmDialog()"><i
                    class="pr-2 fa fa-trash"></i>
                  Delete</button>
                <button id="org-save" type="submit" *ngIf="pageType !=='View'" class="btn btn-sm btn-info button-mod"><i
                    class="pr-2 fa fa-building"></i> Save Organization</button> -->
              <!-- </div> -->


            </form>

          </div>

          <div class="create-org-container tab-pane fade" id="org-alert" role="tabpanle"
            area-labelledby="org-alert-tab">
            <app-votm-cloud-alerts-home [alertList]="alertRuleList"></app-votm-cloud-alerts-home>
          </div>

          <div class="create-org-container tab-pane fade" id="asset-template" data-toggle="tab" role="tabpanle"
            area-labelledby="asset-template-tab">
            <app-votm-cloud-asset-template-list [templateList]="templateList"></app-votm-cloud-asset-template-list>
          </div>

          <div class="create-org-container tab-pane fade" id="org-sensor" data-toggle="tab" role="tabpanle"
            area-labelledby="org-sensor-tab">
            <app-votm-cloud-sensors-home></app-votm-cloud-sensors-home>
          </div>

          <div class="create-org-container tab-pane fade" id="org-gateways" data-toggle="tab" role="tabpanle"
            area-labelledby="org-gateways-tab">
            <app-votm-cloud-gateways-home></app-votm-cloud-gateways-home>
          </div>

          <button id="loc-org-create" *ngIf="organization.organizationId" (click)="createNestedLocation($event)"
            type="button" class="btn btn-sm btn-outline-info"><i class="fa fa-location-arrow"></i> Add
            Location</button>
          <button id="suborg-create" *ngIf="organization.organizationId" (click)="createNestedOrganization($event)"
            type="button" class="btn btn-sm btn-outline-info ml-1"><i class="fa fa-building"></i> Add
            Suborganization</button>

        </div>
      </div>
    </div>

  </div>

  <!-- Event Details Tab  -->
  <div class="tab-pane fade" id="event-details-tab" role="tabpanle" area-labelledby="event-details-tab">
    <app-votm-cloud-events-home></app-votm-cloud-events-home>
  </div>


  <div class="tab-pane fade" id="dashboard1-details-tab" role="tabpanle" area-labelledby="dashboard1-details-tab">
    <app-votm-cloud-organization-dashboard></app-votm-cloud-organization-dashboard>
  </div>
</div>





<app-votm-cloud-confim-dialog (onClose)="deleteOrganizationById($event)" #confirmBox
  message="Do you want to delete this organization?" headerMessage="Warning"></app-votm-cloud-confim-dialog>

<!-- UOM Modal -->
<div id="myModal" class="modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable org-create-font">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <label for="UOM" class="pr-2"><b>Units of Measure :</b></label>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input org-create-font" type="radio" value="SI"
            name="UOM" (change)="onUnitChange($event)" checked id="f-si">
          <label class="form-check-label" for="f-si">SI</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Imperial" name="UOM"
            (change)="onUnitChange($event)" id="f-imperial">
          <label class="form-check-label" for="f-imperial">Imperial</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Metric" name="UOM"
            (change)="onUnitChange($event)" id="f-metric">
          <label class="form-check-label" for="f-metric">Metric</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Custom" name="UOM"
            (change)="onUnitChange($event)" id="f-custom">
          <label class="form-check-label" for="f-custom">Custom</label>
        </div>
      </div>
      <div class="modal-body org-create-font">

        <div *ngFor="let uom of applicationConfiguration.unitOfMeassurement; let i = index" [attr.data-index]="i"
          class="container-fluid">
          <div class="row" *ngIf="i%2===0 && uom">

            <div class="col-4">
              <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="uom.uomTypeName"><b>{{uom.uomTypeName}}:</b></label>
                <div class="col-sm-8 org-create-font">
                  <select [(ngModel)]="uomModels[uom.uomTypeName]"
                    (change)="onUoMDropdownChange($event,uom.uomTypeName)" name="uom.uomTypeName"
                    class="form-control org-create-font">
                    <option></option>
                    <option *ngFor="let view of uom.uoMView" [value]="view.uoMId">
                      {{view.uoMName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="uom.uomTypeName"><b>{{uom.uomTypeName}}:</b></label>
                <div class="col-sm-8 org-create-font">
                  <select [(ngModel)]="uomModels[uom.uomTypeName]"
                    (change)="onUoMDropdownChange($event,uom.uomTypeName)" name="uom.uomTypeName"
                    class="form-control org-create-font">
                    <option></option>
                    <option *ngFor="let view of uom.uoMView" [value]="view.uoMId">
                      {{view.uoMName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-4" *ngIf="applicationConfiguration.unitOfMeassurement[i+1]">
              <div class="row form-group">
                <label class="col-sm-4 col-form-label"
                  for="applicationConfiguration.unitOfMeassurement[i+1].uomTypeName"><b>{{applicationConfiguration.unitOfMeassurement[i+1].uomTypeName}}:</b></label>
                <div class="col-sm-8 org-create-font">
                  <select [(ngModel)]="uomModels[applicationConfiguration.unitOfMeassurement[i+1].uomTypeName]"
                    (change)="onUoMDropdownChange($event, applicationConfiguration.unitOfMeassurement[i+1].uomTypeName)"
                    name="applicationConfiguration.unitOfMeassurement[i+1].uomTypeName"
                    class="form-control org-create-font">
                    <option></option>
                    <option *ngFor="let view of applicationConfiguration.unitOfMeassurement[i+1].uoMView"
                      [value]="view.uoMId">
                      {{view.uoMName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="org-uom-cancle" type="button" class="btn button-mod btn-secondary"
          (click)="closemodal('cancel')">Cancel
        </button>
        <button id="org-uom-save" type="button" class="btn button-mod btn-color"
          (click)="closemodal('save')">Save</button>
      </div>

    </div>

  </div>
</div>