fieldset{
    padding:10px;
    border: 1px solid #ddd;
}
legend{
    font-size: 1rem;
    width: auto;
    padding: 0 5px;
    margin:0;
}
.create-org-container {
    padding: 15px;
    background-color: white;
   
  }
  
  .org-create-font{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
 
  .edit-view-lock{
    float: right; 
    font-size: 40px; 
    color:  #02b3bf;
    margin-left: auto;
  }
 
  .drop-modal{
    width: 50%;
    margin: 5px 6px 22px 10px;
  }

  .uom-btn{
    margin: -35px 0px 8px 100px;
  }

  .uom-body{
    width:140px;
    float:left;
    padding-top:3px;
  }
  
  .uom-drop-down{
    width:100px;
  }
  .btn-color{
    background-color: rgb(0,185,195);
    float: left;
  }

  .uom-modal-list{
    width:140px;
    float:left;
    padding-top:3px;
  }
  

  .modal-uom-label{
    margin-left: 15px;
  }
  .button-mod {
    margin: 4px 2px;
    cursor: pointer;
    float: right;
  }
  
  /* Full-width input fields */
  input[type=text],input[type=date], input[type=password],input[type=email],input[type=file] {
    
    display: inline-block;
    border: 1px solid #ddd;
  }
  
 
// Modal CSS

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modal-label{
  font-size: 14px;
}