.loc-outside-border {
    margin: -12px -15px -20px -25px;
    padding: 20px;
    border: 20px solid #dbdada;
}
fieldset{
    padding:10px;
    border: 1px solid #ddd;
}
legend{
    font-size: 1rem;
    width: auto;
    padding: 0 5px;
}