<div class="loc-outside-border">
<div class="row">
  <div class="col-6">
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label">Installation Location</label>
      <div class="col-sm-8">
        <select class="custom-select">
          <option>--</option>
          <option>1</option>
        </select>
      </div>
    </div>

    <fieldset>
      <legend>Reporting Via Gateway</legend>
      <div class="row form-group">
        <label class="col-sm-4 col-form-label">GW Serial Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-4 col-form-label">GW Location</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="row form-group">
      <label class="col-sm-6 col-form-label">Sensor State</label>
      <div class="col-sm-6">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row form-group">
      <label class="col-sm-6 col-form-label">Sensor State <i class="fa fa-battery"></i></label>
      <div class="col-sm-6">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row form-group">
      <label class="col-sm-6 col-form-label">Sensor State <i class="fa fa-wifi"></i></label>
      <div class="col-sm-6">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>

<fieldset>
  <legend>Signal Mapping</legend>
  <div class="row">
    <div class="col-6">
      <div class="row form-group">
        <label class="col-sm-4 col-form-label">Sensor Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row form-group">
        <label class="col-sm-4 col-form-label">Installation Location</label>
        <div class="col-sm-8">
          <select class="custom-select">
            <option>--</option>
            <option>1</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row form-group">
        <label class="col-sm-6 col-form-label">Sensor State</label>
        <div class="col-sm-6">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row form-group">
        <label class="col-sm-6 col-form-label">Sensor State <i class="fa fa-battery"></i></label>
        <div class="col-sm-6">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row form-group">
        <label class="col-sm-6 col-form-label">Sensor State <i class="fa fa-wifi"></i></label>
        <div class="col-sm-6">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>

</fieldset>

<div class="d-flex justify-content-end py-3">
  <button class="btn btn-danger mr-3">Cancel</button>
  <button class="btn btn-secondary">Save</button>
</div>
</div>

<!-- Test Code  -->