<div class="sensor-outside-border">
<div class="row">
  <div class="col-6">
    <div class="row form-group">
      <label class="col-sm-4 col-form-label"><b>Sensor Name</b></label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label"><b>Serial Number</b></label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label"><b>Description</b></label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label"><b>Sensor Type</b></label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label"><b>Model Number</b></label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <br>
      <!-- <label class="col-sm-4 col-form-label">Sensor Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div> -->
    </div>
  </div>
  <div class="col-6">
    <div class="row form-group">
      <label class="col-sm-4 col-form-label"><b>Owning Organization</b></label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-4 col-form-label"><b>Installed Location</b></label>
      <div class="col-sm-8">
        <select class="custom-select">
          <option>--</option>
          <option>1</option>
        </select>
      </div>
    </div>

    <fieldset>
      <legend><b>Reporting Via Gateway</b></legend>
      <div class="row form-group">
        <label class="col-sm-4 col-form-label"><b>GW Serial Number</b></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-4 col-form-label"><b>GW Location</b></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </fieldset>
  </div>
</div>
<br>
<div class="row">
  <div class="col-4">
    <div class="row form-group">
      <label class="col-sm-6 col-form-label"><b>Sensor State</b></label>
      <div class="col-sm-6">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row form-group">
      <label class="col-sm-6 col-form-label"><b>Battery Level </b><i class="fa fa-battery"></i></label>
      <div class="col-sm-6">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row form-group">
      <label class="col-sm-6 col-form-label"><b>Signal Strength</b><i class="fa fa-wifi"></i></label>
      <div class="col-sm-6">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>

<fieldset>
  <legend><b>Signal Mapping</b></legend>
  <div class="row">
    <div class="col-6">
      <div class="row form-group">
        <label class="col-sm-4 col-form-label"><b>Mapped Signal Name</b></label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row form-group">
        <label class="col-sm-4 col-form-label"><b>Signal Type</b></label>
        <div class="col-sm-8">
          <select class="custom-select">
            <option>--</option>
            <option>1</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row form-group">
        <label class="col-sm-6 col-form-label"><b>Source UOM</b></label>
        <div class="col-sm-6">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row form-group">
        <label class="col-sm-6 col-form-label"><b>Low</b> 00000>>>></label>
        <div class="col-sm-6">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row form-group">
        <label class="col-sm-6 col-form-label"><b>High</b> 20000>>>></label>
        <div class="col-sm-6">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </div>

</fieldset>

<div class="row">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="align-center table-col-name" >Name</th>
        <th scope="col" class="align-center table-col-name" >Association Name</th>
        <th scope="col" class="align-center" >Last Value</th>
        <th scope="col" class="align-center" >Time</th>
        <th scope="col" class="align-center" >State</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngTemplateOutlet="recursiveTableList; context:{ orgList: assetsList, level: 0 }"></ng-container>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-end py-3">
  <button class="btn btn-danger mr-3">Cancel</button>
  <button class="btn btn-secondary">Save</button>
</div>
</div>

<!-- Test Code  -->