<div class="row">
  <h5 class="col-12">Receiver Details</h5>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label for="re_sr_no">Serial Number</label>
      <input class="form-control form-control-sm" placeholder="AB3382ER45B90" type="text" id="re_sr_no" />
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label for="re_fw">Firmware</label>
      <input class="form-control form-control-sm" placeholder="QX-008-674_REVh" type="text" id="re_fw" />
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-9 col-lg-9 col-xl-9">
      <table class="table table-bordered table-stripped table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Sensor Name</th>
            <th>Serial Number</th>
            <th>Type</th>
            <th>GW</th>
            <th class="text-center">Battery</th>
            <th class="text-center">Signal</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pressure - E300012</td>
            <td>E300012</td>
            <td>Pressure</td>
            <td>Compressor</td>
            <td class="text-center"><i class="demo-icon icon-battery-100 pr-2"></i> 2.91</td>
            <td class="text-center"><i class="demo-icon icon-signal-100 pr-2"></i> 18%</td>
            <td class="text-center"><i class="demo-icon icon-warn"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3">
      <fieldset>
        <legend>Sensors Status</legend>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <label class="col-6">Total</label>
              <span class="col-6 form-control form-control-sm">12</span>
            </div>
          </div>
          <div class="col-6">chart</div>
        </div>
      </fieldset>
    </div>
</div>
