.btn-search{
    padding: 0.15rem 0.5rem;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){

  }

/* Portrait iPadPro*/
@media only screen 
  and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait){
    .ipad-pro-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
  }

  /* Portrait iPad 1024 x 768*/
@media only screen 
and (min-device-width: 768px) and (max-device-width: 1024px) {
  .ipad-pro-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}