<div class="vert-fill form-row">
  <div class="col-12 h-100">
    
        <!-- <app-votm-animated-gauge [id]="'wg1'" [data]="dbItem" [locked]="locked"></app-votm-animated-gauge> -->
        <app-votm-image-overlay [data]="dbItem" [locked]="locked" [id]="'wio1'"></app-votm-image-overlay>
      
    
  </div>
</div>
<!-- <div class="vert-fill form-row">
  <div class="col-4 h-50 pb-2">
    <app-votm-animated-gauge [id]="'wg1'" [data]="dbItem" [locked]="locked"></app-votm-animated-gauge>
  </div>
  <div class="col-4 offset-4 h-50 pb-2">
    <app-votm-animated-gauge [id]="'wg2'" [data]="dbItem" [locked]="locked"></app-votm-animated-gauge>
  </div>
  <div class="col-4 offset-4 h-50 pt-2">
    <app-votm-animated-gauge [id]="'wg3'" [data]="dbItem" [locked]="locked"></app-votm-animated-gauge>
  </div>
</div> -->
