
.auto-width{
  width:auto;
}

.inline-input{
  display: inline-block;
}

.mar-top-30{
  margin-top: 20px;
}

.mar-top-15{
  margin-top: 15px;
}

.mar-left-30{
  margin-left: 30px;
}

.mar-left-10{
  margin-left: 10px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}


.enclosing-div{
  border: 1px solid #000;
  min-height: 500px;
  max-height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.assoc-table{
  width: 80%;
  margin: 20px;
}

.assoc-table  th, .assoc-table  td{
  padding: 10px;
}

.align-center{
  text-align: center;
}

.assoc-name{
  padding-left: 5px;
  padding-right: 5px;
}

.warning-color{
  color: #e7bd24;
}

.critical-color{
  color: red;
}

.r-interval-width{
  width: 50px;
}
