.nav-link.active {
    border-color: #00A2AE !important;
    background-color: #00A2AE !important;
    color: white !important;
}
// lock tab
.lock-tab {
    top: calc(-2.3125rem - 0.875rem - (-1px));
}

.sensor-details-data-table td {
  & a:link{
    color: #212529;
  }
  & a:visited{
    color: #212529;
  }
}
