<nav class="navbar fixed-top navbar-expand-md navbar-dark header-background shadow">
  <div class="shadow-right p-2 header-logo-spec">
    <button type="button" (click)="toggleMenu()" id="sidebarCollapse" class="btn btn-dark btn-sm float-left ml-1"> <i
        class="fa fa-bars"></i></button>
    <span class="w-75 pl-2"><img src="../../assets/images/VOTM_header_logo.png" class="img-fluid" width="" height="auto"
        alt=""></span>
  </div>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <app-breadcrumbs *ngIf="router.url !== '/login'"></app-breadcrumbs>
    <div class="mr-3">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <!-- <button type="button" class="btn btn-sm btn-secondary mr-2" data-toggle="modal"
                      (click)="onAddNotifiedUsersClick()" data-target="#notifiedUserModal" id="notifyUserBtn"><i
                          class="icon-user-add mr-2"></i>Add Notified User</button> -->
          <a class="nav-link" (click)="openmodal()" id="userFavBtn">
            <i *ngIf="currentFavorite.userFavoriteId" class="icon-star" style="color: #00a2ae;" id="userFavSelected"></i>
            <i *ngIf="!currentFavorite.userFavoriteId" class="icon-star-empty" id="userFavNotSelected"></i>
          </a>
        </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
            id="notificationBtn"><i class="icon-bell"></i></a>
          <div class="dropdown-menu dropdown-menu-notification shadow">
            <div class="card">
              <div class="card-header bg-info"><strong class="text-white">Notification</strong></div>
              <div class="card-body notification-scroll">
                <div class="media border-bottom">

                  <div class="media-body">
                    <h6 class="mt-0 mb-0">David Shanon <small><i>Posted on August 27, 2019</i></small></h6>
                    <p class="mb-1">DWIM</p>
                  </div>
                </div>
                <div class="media border-bottom">

                  <div class="media-body">
                    <h6 class="mt-0 mb-0">Scott Theus <small><i>Posted on August 26, 2019</i></small></h6>
                    <p class="mb-1">Bad Sensor. Needs immediate Action!</p>
                  </div>
                </div>
                <div class="media border-bottom">

                  <div class="media-body">
                    <h6 class="mt-0 mb-0">Sean Haley <small><i>Posted on August 28, 2019</i></small></h6>
                    <p class="mb-1">Gateway has been Installed...</p>
                  </div>
                </div>
                <div class="media border-bottom">

                  <div class="media-body">
                    <div class="alert alert-success" role="alert">This is a success alert!</div>
                  </div>
                </div>
                <div class="media border-bottom">

                  <div class="media-body">
                    <div class="alert alert-danger" role="alert">This is a danger alert!</div>
                  </div>
                </div>
                <div class="media border-bottom">

                  <div class="media-body">
                    <div class="alert alert-warning" role="alert">This is a warning alert!</div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center"><a href="">View All</a></div>
            </div>
          </div>
        </li>
        <li class="nav-item user-divider">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="user"><i
              class="icon-user-circle-o mr-2 user-icon"></i>Sean Haley </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a [routerLink]="['/preferences']" class="dropdown-item"><i
                class="icon-user-profile mr-2 dropdown-icon-size"></i>User Preferences</a>
            <a href="#" class="dropdown-item"><i class="fa fa-key mr-2 dropdown-icon-size"></i>Change Password</a>
            <a href="#" class="dropdown-item"><i class="fa fa-info mr-2 dropdown-icon-size"></i>Help</a>
            <!-- <a id="logout-button" class="dropdown-item" *ngIf="isAuthenticated" (click)="logout()"><i class="fa fa-power-off mr-2 dropdown-icon-size"></i>Logout</a> -->
            <a href="#" class="dropdown-item"><i class="fa fa-power-off mr-2 dropdown-icon-size"></i>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Modal for Favorite  -->
<div id="favModal" class="modal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <label for="userFav" class="pr-2">Add Favorite</label>
      </div>
      <div class="modal-body">
        <form #favoriteForm="ngForm">
          <label id="favNameLbl" class="">Favorite Name</label>
          <div class="">
            <input type="text" [(ngModel)]="currentFavorite.favoriteName" name="favoriteName"
              class="form-control form-control-sm" id="favNameInput" placeholder="Favorite Name">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button id="user-fav-cancle" type="button" class="btn btn-sm btn-outline-secondary"
          (click)="closemodal('cancel')">Cancel
        </button>
        <button [disabled]="!currentFavorite.favoriteName || (currentFavorite.favoriteName === previousFavoriteName)"
          id="user-fav-save" type="button" class="btn btn-info btn-sm" (click)="closemodal('save')">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- <div id="favModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="userFavModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form #favoriteForm="ngForm" (ngSubmit)="onFavoriteSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Favorite</h5>
        </div>
        <div class="modal-body table-responsive">
          <div class="col-12">
            <label id="favNameLbl" class="">Favorite Name</label>
            <div class="">
              <input type="text" [(ngModel)]="favoriteName" name="alertRuleName" class="form-control form-control-sm"
                id="favNameInput" placeholder="Favorite Name">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" id="userFavSave">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="userModalClose">Close</button>
        </div>
      </div>
    </form>
  </div>
</div> -->