/* -- lock tab -- */
.lock-tab {
    position: absolute;
    right: calc(-0.875rem - 1px);
    top: calc(-2.5rem - 0.875rem + 1px);
    background-color: #ffffff;
    padding: 0.5rem;
    padding-top: calc(0.5rem + 1px);
    border-radius: 0.25rem 0.25rem 0 0;
    cursor: pointer;
  }
  
  .lock-tab:hover {
    background-color: #fdfdfd;
  }