<!-- <h3 class="flt-left mt-3 mb-3 ml-2 asset-table-header" id="templateList">List</h3> -->
<form class="form-inline mb-3">
  <div class="form-group">
    <label for="typeahead-config" id="template-search-lbl">Type to filter events:</label>
    <div class="input-group input-group-sm">
      <input class="form-control form-control-sm ml-2" id="templateSearchBox" type="search" placeholder="Search"
        aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text p-0">
          <button class="btn btn-sm btn-search" id="templateSearchButton" type="submit"><i
              class="icon-search"></i></button>
        </span>
      </div>
      <!-- <button class="btn btn-sm btn-outline-info mr-2 ml-2" id="templateSearchButton" type="submit">Search</button> -->
    </div>
  </div>
  <div class="btn-group-right">
    <button [routerLink]="['/template/create']" id="templateCreate" type="button" class="btn btn-info btn-sm">Create Template</button>
  </div>
</form>
<table class="table table-sm table-bordered" id="assetTemplateTb">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="">Template Name</th>
      <th scope="col" class="">Asset Type</th>
      <th scope="col" class="">Ver.</th>
      <th scope="col" class="">Last Updated</th>
      <th scope="col" class="">Updated by</th>
      <th scope="col" class="">Linked Assets</th>
      <th scope="col" class="align-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of templateList">
      <th>
        <a style="color: #212529;" [routerLink]="['/template/view',item.templateId]">
          <i class="icon-asset-robot"></i>
          {{item.templateName}}
        </a>
      </th>
      <td class="">{{item.assetType}}</td>
      <td class="">{{item.templateId}}</td>
      <td class="">{{item.organizationName}}</td>
      <td class="">{{item.organizationName}}</td>
      <td class="">{{item.organizationName}}</td>
      <td class="align-center">

        <!-- <a class="action-icon" title="View">

          <i class="fa fa-eye"></i>
        </a> -->
        <!-- [routerLink]="['/asset/view',item.parentOrganizationId, item.parentOrganizationName, item.parentLocationId, item.parentLocationName, item.id]"> -->
        <a class="action-icon" title="Edit" (click)="onEditViewClick(item, 'edit')">
          <i class="icon-edit"></i>
        </a>
        <a class="action-icon" (click)="openConfirmDialog(item)" title="Delete">
          <i class="icon-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>


<app-votm-cloud-confim-dialog (onClose)="deleteAssetById($event)" #confirmBox message="{{message}}"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>