<!-- <h3 class="flt-left mt-3 mb-3 ml-2 asset-table-header" id="templateList">List</h3> -->
<form class="form-inline">
  <label for="typeahead-config">Type to filter events:</label>
  <input class="form-control form-control-sm ml-2 mb-3 mt-3" id="searchBox" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-sm btn-outline-info mr-2 ml-2" id="searchButton" type="submit">Search</button>

</form>
<table class="table table-sm table-bordered asset-table-fonts">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="align-center table-col-name">Template Name</th>
      <th scope="col" class="align-center">Asset Type</th>
      <th scope="col" class="align-center">Ver.</th>
      <th scope="col" class="align-center table-col-small">Last Updated</th>
      <th scope="col" class="align-center table-col-small">Updated by</th>
      <th scope="col" class="align-center table-col-small">Linked Assets</th>
      <th scope="col" class="align-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of templateList">
      <th>
        <a style="color: #212529;" [routerLink]="['/template/view',item.templateId]">
          <i class="fa fa-industry"></i>
          {{item.templateName}}
        </a>
      </th>
      <td class="align-center">{{item.assetType}}</td>
      <td class="align-center">{{item.templateId}}</td>
      <td class="align-center">{{item.organizationName}}</td>
      <td class="align-center">{{item.organizationName}}</td>
      <td class="align-center">{{item.organizationName}}</td>
      <td class="align-center">

        <!-- <a class="action-icon" title="View">

          <i class="fa fa-eye"></i>
        </a> -->
        <!-- [routerLink]="['/asset/view',item.parentOrganizationId, item.parentOrganizationName, item.parentLocationId, item.parentLocationName, item.id]"> -->
        <a class="action-icon" title="Edit" (click)="onEditViewClick(item, 'edit')">
          <i class="fa fa-edit"></i>
        </a>
        <a class="action-icon" (click)="openConfirmDialog(item)" title="Delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>


<app-votm-cloud-confim-dialog (onClose)="deleteAssetById($event)" #confirmBox message="{{message}}"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>