#login-page-container {
	text-align: center;	
	display:grid;
	align-items: center;
	width: 99.99vw;
	height: 100vh;
	background-color: #231f20;
}

#login-form {
	border-radius: 0px;
	margin-top: 5px;
	padding-top: 2px;
	text-align: center;
	justify-items: center;
	align-items: center;	
	padding-bottom: 3px;
}

.login-btn{
	color: #fff;
	background-color: rgb(0, 170, 172);
	border-color: rgb(0, 170, 172);
}

.forgot-pass{
	color:rgb(0, 170, 172) !important;
	margin-top:10px;
	
}

.custom-success-btn{
	color: #fff;
    background-color: rgb(110, 112, 112);
    border-color: rgb(110, 112, 112);
}

