<!-- <div id="login-page-container" style="color:white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h1 class="mx-auto w-50 mb-5"><img class="img-fluid" src="../../assets/images/VOTM_login_logo.png"></h1>
        <div id="sign-in-widget"></div>
      </div>
    </div>
  </div>
</div> -->

<div id="login-page-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">

        <h1 class="mx-auto w-50 mb-5"><img class="img-fluid" src="../../assets/images/VOTM_login_logo.png"></h1>
        <form action="" role="form">
            <div class="form-group">
              <div class="login-inp-container">
                <input type="text" email [ngModel]="user.userName" class="form-control" name="email" id="login-email" placeholder="Email" required />
              </div>
            </div>
            <div class="form-group">
              <div class="login-inp-container">
                <input type="password" [ngModel]="user.password" class="form-control" placeholder="Password" id="login-pwd" required />
              </div>
            </div>
            <div class="form-group text-center">
              <h6 class="mb-4"><a href="#" class="btn forgot-pass btn-link">Forgot Password</a></h6>
              <button type="submit" id="login-submit-btn" class="btn btn-link btn-lg login-btn"
                (click)="Login()">Login</button>
            </div>
          </form>
      </div>
    </div>

  </div>
 



<!-- <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-heading">
        <img style="height:70px;" src="../../assets/images/VOTM_login_logo.png">
      </div>
      <hr />
      <div class="modal-body">
        
      </div>
    </div>
  </div> 
</div>-->