
    <h3 class="flt-left mt-3 ml-2 alert-header">List</h3>




    <button [routerLink]="['/alerts/create']" type="button" class="btn btn-secondary btn-sm button-mod alert-list-font" id="alert-org-create"><i class="pr-2 fa fa-exclamation-triangle"></i>Create
      Alert Rule</button>



  <table class="table table-sm table-bordered table-hover alert-list-font mt-3">
      <thead class="thead-dark">
          <tr>
              <th scope="col" class="align-left table-col-name">Rule Name</th>
              <th scope="col" class="align-left">Metric Type</th>
              <th scope="col" class="align-left">Rule Type</th>
              <th scope="col" class="align-left table-col-small">Access Scope</th>
              <th scope="col" class="align-left table-col-small">Associations</th>
              <th scope="col" class="align-left table-col-small">Notifications</th>
              <th scope="col" class="align-center table-col-small">Actions</th>
            </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row" (click)="item.opened = !item.opened" [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
                
                {{item.name}}
              </th>
              <td class="align-left">{{item.type}} <i class="fa fa-exclamation-triangle"></i></td>
              <td class="align-left">{{item.customerNo}}</td>
              <td class="align-left">{{item.contractStart.split(" ")[0]}}</td>
              <td class="align-left">{{item.contractEnd.split(" ")[0]}}</td>
              <td class="align-left">{{item.serviceLevel}}</td>
              <td class="align-center">
                <a class="action-icon" title="List">
                    <!-- <a class="action-icon" title="List"> -->
                  <i class="fa fa-list"></i>
                </a>
                <a class="action-icon" title="View" [routerLink]="['/org/view', curOrgId, curOrgName, item.id]">
                  <i class="fa fa-eye"></i>
                </a>
                <a class="action-icon" title="Edit" [routerLink]="['/org/edit',curOrgId, curOrgName, item.id]">
                  <i class="fa fa-edit"></i>
                </a>
                <a class="action-icon" *ngIf="level>0" (click)="openConfirmDialog(item.id, item.name)" title="Delete">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
      </tbody>
    </table>