<div class="ContentPlaceHolder"class="views-body">

  <main class="views-body">

          <input class="views-input"id="tab1" type="radio" name="tabs" checked>
          <label class="views-label views-label-before" for="tab1">Dashboard 1</label>

          <input class="views-input" id="tab2" type="radio" name="tabs">
          <label class="views-label views-label-before" for="tab2">Dashboard 2</label>

          <section id="content1" class="views-section">
                  <div class="row">
                          <div class="col p-3" >
                            <img src="../../assets/images/Parker.jpg" class="img-thumbnail">
                          </div>
                          <div class="col p-3" >
                            <img src="../../assets/images/Parker.jpg" class="img-thumbnail">
                          </div>       
                  </div>
                  <div class="row">
                                  <div class="col p-3">
                                          <img src="../../assets/images/Parker.jpg"  class="img-thumbnail dashboard-down">
                                   </div>
                  </div>      
          </section>
          <section id="content2" class="views-section">
                  <div class="row">
                         
                          <div class="col p-3">
                                  <img class="img-thumbnail top-row" src="../../assets/images/QcD.jpg">
                          </div>
                          <div class="col p-3">
                                  <img class="img-thumbnail top-row" src="../../assets/images/parker11408225.jpg">
                          </div>
                          <div class="col p-3">
                                  <img class="img-thumbnail top-row" src="../../assets/images/images.jpg">
                          </div>
                  </div>
                  <div class="row">
                  
                                  <div class="col p-3">
                                          <img class="img-thumbnail down-row" src="../../assets/images/Transducer.jpg">
                          </div>
                          <div class="col p-3">
                                  <img class="img-thumbnail down-row" src="../../assets/images/Parker.jpg">
                          </div>
                  </div>
              
          </section>
  </main>
</div>
