<h2>Assets</h2>
<div class="btn-group-right">
    <button [routerLink]="['/asset/create']" type="button" class="btn btn-dark">Create Asset</button>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Id</th>
    <th scope="col">Location</th>
    <th scope="col">Organization</th>
    <th scope="col">Alarm State</th>
    <th scope="col">Last Value</th>
    <th scope="col">Last Reading Time</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"></th>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>