<button class="btn btn-info btn-group-right btn-sm asset-table-header" (click)="onCreateAsset()" id="createAssetButton"
  type="button"><i class="icon-asset-add mr-2"></i>Create Asset</button>

<form class="form-inline">
  <!-- <label for="typeahead-config">Type to filter events:</label> -->
  <input class="form-control ml-2 mb-3 mt-3" id="searchBoxAsset" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-info mr-2 ml-2" id="searchButtonAsset" type="submit">Search</button>

</form>

<ng-template #recursiveTableList let-list="assetList" let-lvl="level">
  <ng-container *ngFor="let item of list">
    <tr class="" >
      <th class="underline-on-hover" scope="row" (click)="item.opened = !item.opened"
        [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
        <i class="icon-asset-robot"></i>
        <a (click)="onEditViewClick(item, 'view')"> {{item.name}}</a>&nbsp; <i *ngIf="item.node.length > 0 "
          [ngClass]="{'fa': true, 'fa-caret-right': !item.opened, 'fa-caret-down': item.opened}"></i>
      </th>
      <td class="align-left">{{item.type}}</td>
      <td class="align-left">{{item.assetNumber}}</td>
      <td class="align-left">{{item.parentLocationName}}</td>
      <td class="align-left">{{item.parentOrganizationName}}</td>
      <td class="align-center"><i class="icon-critical" style="color: #d80a0a;"></i></td>
      <td class="align-left"></td>
      <td class="align-left"></td>
      <td class="align-center">
        <a class="action-icon" title="Edit" (click)="onEditViewClick(item, 'edit')">
          <i class="icon-edit"></i>
        </a>
        <a class="action-icon" (click)="openConfirmDialog(item.id, item.name)" title="Delete">
          <i class="icon-trash"></i>
        </a>
      </td>
    </tr>

    <ng-container *ngFor="let subItem of item.node">
      <!-- <tr *ngIf="item.opened && subItem.entityType == 'Asset'">
                  <th scope="row" [ngStyle]="{'padding-left.px': 15*(lvl+2)}"> <i class="icon-asset-robot"></i>
                    {{subItem.name? subItem.name : 'Ahamed'}}</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="align-center">
                    <a class="action-icon">
                      <i class="fa fa-list"></i>
                    </a>
                  </td>
                </tr> -->


      <tr *ngIf="item.opened && subItem.entityType == 'Asset'" class="">
        <th scope="row" (click)="subItem.opened = !subItem.opened" [ngStyle]="{'padding-left.px': 15*(lvl+2)}">
          <i class="icon-asset-robot"></i>

          <a style="color: #212529; text-decoration: underline; cursor: pointer;"
            (click)="onEditViewClick(subItem, 'view')">
            {{subItem.name}}</a>&nbsp;<i *ngIf="subItem.node.length > 0 "
            [ngClass]="{'fa': true, 'fa-caret-right': !subItem.opened, 'fa-caret-down': subItem.opened}"></i>
        </th>
        <td class="align-left">{{subItem.type}}</td>
        <td class="align-left">{{subItem.assetNumber}}</td>
        <td class="align-left">{{subItem.parentLocationName}}</td>
        <td class="align-left">{{subItem.parentOrganizationName}}</td>
        <td class="align-center"><i class="icon-critical" style="color: #d80a0a;"></i></td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-center">
          <a class="action-icon" title="Edit" (click)="onEditViewClick(subItem, 'edit')">
            <i class="icon-edit"></i>
          </a>
          <a class="action-icon" (click)="openConfirmDialog(subItem.id)" title="Delete">
            <i class="icon-trash"></i>
          </a>
        </td>
      </tr>

      <ng-container *ngIf="subItem.opened &&  subItem.node.length>0">
        <ng-container *ngTemplateOutlet="recursiveTableList; context:{ assetList: subItem.node, level: lvl+2 }">
        </ng-container>
      </ng-container>

    </ng-container>

  </ng-container>
</ng-template>
<div class="table-responsive">
  <table class="table table-sm table-bordered" id="assetTbl">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="align-left table-col-name">Name</th>
        <th scope="col" class="align-left">Type</th>
        <th scope="col" class="align-left">Asset ID</th>
        <th scope="col" class="align-left table-col-small">Location</th>
        <th scope="col" class="align-left table-col-small">Organization</th>
        <th scope="col" class="align-center table-col-small">Alarm Status</th>
        <th scope="col" class="align-left table-col-small">Last Value</th>
        <th scope="col" class="align-left table-col-small">Last Reported Time</th>
        <th scope="col" class="align-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngTemplateOutlet="recursiveTableList; context:{ assetList: assetsList, level: 0 }">
      </ng-container>
    </tbody>
  </table>
</div>
<app-votm-cloud-confim-dialog (onClose)="deleteAssetById($event)" #confirmBox message="{{message}}"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>