@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css');

.container {
    padding: 31px;
    background-color: white;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .button {
    background-color: rgb(0, 185, 195);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttonCancel {
    background-color: rgb(165,160,149);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password],input[type=email],input[type=file] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=file]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
//   .registerbtn {
//     background-color: #4CAF50;
//     color: white;
//     padding: 16px 20px;
//     margin: 8px 0;
//     border: none;
//     cursor: pointer;
//     width: 100%;
//     opacity: 0.9;
//   }
  
//   .registerbtn:hover {
//     opacity: 1;
//   }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
//   .signin {
//     background-color: #f1f1f1;
//     text-align: center;
//   }