

<form class="form container">
  <div class="row ">
  <h4 class="col-12">Create Organization</h4>
    <div class="col-sm-6">
      <label for="name"><b>Name: </b></label>
      <!-- <label for="name"><b>Name: {{resp.nameLbl}}:</b></label> -->
      <input type="text" placeholder="Enter Name" name="name" required>
      <!-- <input type="text" placeholder="Enter Name" name="name" [(ngModel)]="newOrg.name" required> -->
    </div>
    
    <div class="col-sm-6">
        <label for="customerNum"><b>Customer Number: </b></label>
        <!-- <label for="Description"><b>Description of Organization: {{resp.descLbl}}:</b></label> -->
        <input type="text" placeholder="Enter Customer Number" name="customerNum">
        <!-- <input type="text" placeholder="Enter Description" name="Description" [(ngModel)]="newOrg.desc"> -->
    </div>

    <div class="col-sm-6">
        <label for="organizationType"><b>Organization Type:</b></label>
        <input type="text" placeholder="Enter Organization Type" name="organizationType" required> 
    </div>
    
    
    <div class="col-sm-6">
        <label for="primarycontact"><b>Primary Contact(Emalil Address): </b></label>
        <!-- <label for="primarycontact"><b>Primary Contact:{{resp.primContLbl}}</b></label> -->
        <input type="email" placeholder="Enter Email Address" name="contact" required>
    </div>
    
    <div class="col-sm-6">
        <label for="billingaddress"><b>Primary Distributor Name::</b></label>
        <input type="text" placeholder="Enter Primary Distributor Name" name="billingaddress" required>
    </div>
    
    <div class="col-sm-6">
        <label for="primaryEmail"><b>Primary Distributor email:</b></label>
        <input type="email" placeholder="Enter Email" name="primaryEmail" required>
    
    </div>
    
    
  <h4 class="col-12">Contract:</h4> 
    <div class="col-sm-6">
        <label for="startDate"><b>Start Date:</b></label>
        <input type="text" placeholder="Enter start Date" name="startDate" required>
    </div>

    <div class="col-sm-6">
            <label for="endDate"><b>End Date:</b></label>
            <input type="text" placeholder="Enter end Date" name="endDate" required>
    </div>
    <div class="col-sm-6">
            <label for="svcLabel"><b>SVC Level: </b></label>
            <input type="text" placeholder="Enter SVC Level" name="svcLabel" required>
    </div>

    <div class="col-sm-6">
          <label for="parentOrg"><b>Parent Organization:</b></label>
          <input type="text" placeholder="Enter Parent Organization" name="parentOrg" required>
    </div>
      
    <div class="col-sm-6">
          <label for="DefaultLang"><b>Default Language: </b></label>
            <select name="language" class="drop-down">
              <option value="0">Select</option>
              <option value="en-us">English(United States)</option>
              <option value="esp">Spanish</option>
              <option value="czech">Czech</option>
            </select>
    </div>

    <div class="col-sm-6">
          <label for="unitsOfMeasure"><b>Units of Measure: </b></label>
          <a (click)="openmodal()" >{{UOM}}</a>
    </div>
      
    <div class="col-sm-6">
            <label for="orgType">Address:</label>
            <input type="text" placeholder="Street Name" name="orgType">
            <input type="text" placeholder="Apt/Suite Number" name="orgType">
            <input type="text" placeholder="City" name="orgType">
            <select name="State" class="drop-down">
              <option value="0">State</option>
              <option value="mn">MN)</option>
              <option value="ok">OK</option>
              <option value="oh">OH</option>
            </select>
            <select name="Country" class="drop-down">
              <option value="0">Country</option>
              <option value="us">United States</option>
              <option value="esp">Spain</option>
              <option value="brazil">Brazil</option>
            </select>
            <input type="text" placeholder="Zip Code" name="orgType">
            <label for="orgType">Address Type:</label>
            <input type="text" placeholder="Enter Address Type" name="orgType">
    </div>
                 
    <div class="col-sm-6">
                <label for="Logo"><b>Logo: </b></label>
                <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
                <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                <img [src]="imgURL" height="200" *ngIf="imgURL">
                <!-- <embed type="image/svg" src="C:\Users\961952\Documents\Parker QCD\Homeversion\7-17\PCMAPP\src\assets\images\AJ_Digital_Camera.svg" /> -->
                <!-- <object type="image/svg" data="C:\Users\961952\Documents\Parker QCD\Homeversion\7-17\PCMAPP\src\assets\images\AJ_Digital_Camera.svg">
                    Your browser does not support SVG
                  </object> -->
                  <!-- <iframe src="C:\Users\961952\Documents\Parker QCD\Homeversion\7-17\PCMAPP\src\assets\images\AJ_Digital_Camera.svg">
                    Your browser does not support iframes
                  </iframe> -->
    </div>
  </div>
    <!-- <button type="submit" class="button">+ Organization</button>
    <button type="submit" class="button">+ Location</button> -->
    <button routerLink="/org/home" type="button" class="btn btn-secondary btn-lg button-mod">Cancel</button>
    <button type="submit" class="btn btn-danger btn-lg button-mod">Delete</button>
    <button type="submit" class="btn btn-success btn-lg button-mod">Save</button>
</form>



  <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <!-- <span class="close" >&times;</span> -->
      <div>
        <label for="UOM"><b>Units of Measure : </b></label>
        <label class="radio-inline">
          <input type="radio" name="UOM" value="SI" checked (change)="onUnitChange($event)"> SI
        </label>
        <label class="radio-inline">
          <input type="radio" name="UOM" value="Imperial" (change)="onUnitChange($event)">Imperial
        </label>
        <label class="radio-inline">
          <input type="radio" name="UOM" value="Metric" (change)="onUnitChange($event)">Metric
        </label>
        <label class="radio-inline">
            <input type="radio" name="UOM" value="Custom" (change)="onUnitChange($event)">Custom
          </label>
    </div>
    <label for="Distance"><b>Distance: </b></label>
                <select name="cars" style="   width: 50%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;">
                  <option value="0">Select</option>
                  <option value="M">Meters</option>
                  <option value="F">Feet</option> 
                </select>
        <label for="Tempreture"><b>Tempreture: </b></label>
                <select name="cars" style="   width: 50%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;">
                  <option value="0">Select</option>
                  <option value="F">Fahrenheit</option>
                  <option value="C">Celsius</option> 
                  <option value="K">Kelvin</option>
                </select>
        <label for="Mass"><b>Mass: </b></label>
                <select name="cars" style="   width: 50%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;">
                  <option value="0">Select</option>
                  <option value="K">Kilograms</option>
                  <option value="P">Pound</option> 
                </select>
<div>
    <button type="button" class="buttonCancel" style="width: 108px" (click)="closemodal()">Cancel</button>
    <button type="submit" class="button" style="float: right;width: 108px">Save</button>
    </div>
</div>
  </div>