 
 
 
 
 <!-- Modal for Favorite  -->
 <div id="favModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="userFavModal"
 aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title">Add Favorite</h5>
       </div>
       <div class="modal-body table-responsive">
         <div class="col-12">
           <label id="favNameLbl" class="">Favorite Name</label>
           <div class="">
               <input type="text" name="alertRuleName"
                   class="form-control form-control-sm" id="favNameInput" placeholder="Favorite Name">
           </div>
       </div>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-info" id="userFavSave">Save changes</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal" id="userModalClose">Close</button>
       </div>
   </div>
</div>
</div>