
    <div class="row">
      <h5 class="col-xl-12">User Management</h5>
      <div class="col-md-3 col-xl-4">
        <div class="form-group">
          <!-- <label for="role_search">Search</label> -->
          <div class="input-group input-group-sm">
            <input type="text" id="role_search" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <!-- <span class="input-group-text"><i class="fa fa-search"></i></span> -->
              <span class="input-group-text p-0"><button class="btn btn-sm btn-search" id="searchButton" type="submit"><i class="fa fa-search"></i></button></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-xl-8 text-right pr-2">
        <div class="form-group">
          <button class="btn btn-info btn-sm mr-2" type="button" (click)="onClickOfCustomizePermissions()" id="custom_permission_btn">Customize
            Data Permissions</button>
          <button class="btn btn-info btn-sm mr-2" type="button" id="guest_access_btn" (click)="onChangeOfGuestUser()"
            >Grant Guest Access</button>
          <button class="btn btn-info btn-sm mr-2"  type="button" (click)="onClickOfAddUser()" id="add_user_btn">
            Add User</button>
        </div>
      </div>

    </div>
    <div class="">
      <div class="table-responsive">
        <table class="table table-bordered table-sm table-stripped table-hover" id="user_table">
          <thead class="thead-dark">
            <tr>
              <th  class="text-center">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="select_all_cb" id="select_all_cb"
                    (change)="onClickOfSelectAllCheckBox()" [checked]="users.length !== 0 && selectedUsers.length === users.length">
                  <label class="custom-control-label" for="select_all_cb"></label>
                </div>
              </th>
              <th class="">User Name</th>
              <th class="">Home Org</th>
              <th class="">Role</th>
              <th class="">Email</th>
              <th class="">Phone</th>
              <th class="">Access</th>
              <th class="">Permissions</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
              <tr  class="text-center" *ngIf="isGetUsersAPILoading" >
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
              </tr>
            <ng-container  *ngIf="!isGetUsersAPILoading && users.length > 0" >
              <tr *ngFor="let user of users; let userIndex = index;" >

                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="user_cb" id="user_cb_{{userIndex}}"
                     (change)="onClickOfUserCheckBox(user)" [checked]="selectedUsers.indexOf(user) !== -1">
                    <label class="custom-control-label" for="user_cb_{{userIndex}}"></label>
                  </div>
                </td>
                <td>{{user.firstName}}&nbsp;{{user.lastName}}</td>
                <td>{{user.organizationName}}</td>
                <td>{{user.roleName}}</td>
                <td>{{user.emailId}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>Home</td>
                <td>Role</td>
                <td class="text-center">
                  <a id="user_check_{{userIndex}}" class="mr-2" [title]="user.active ? 'Active' : 'Deactive'" (click)="onClickOfConfirmUserStatus(user)">
                    <i [ngClass]="user.active ? 'fa fa-check-circle' : 'fa fa-ban'" ></i>
                  </a>
                  <a id="user_edit_{{userIndex}}" title="Edit" class="mr-2"  (click)="onClickOfEditUser(user)">
                    <i class="icon-edit"></i>
                  </a>
                  <a id="user_delete_{{userIndex}}" title="Delete" (click)="onClickOfConfirmDeleteUser(user)" class="mr-2" >
                    <i class="icon-trash"></i>
                  </a>
                </td>

              </tr>
            </ng-container>
            <tr *ngIf="!isGetUsersAPILoading && users.length === 0" >
              <td  class="text-center" colspan="9">No data found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <!-- Modal Customize Data Permissions -->
  <div id="cus_data_per" class="modal">
    <div class="modal-dialog modal-xl  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Customize Data Permissions</h5>
          <button type="button" class="close" (click)="onClickOfCustomizePermissionModalClose()">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-sm table-stripped table-hover" id="cus_data_per_table">
            <thead class="thead-dark">
              <tr>
                <th>Site</th>
                <th class="text-center">View</th>
                <th class="text-center">Create</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Parker Hannifin Corporation</td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck0">
                    <label class="custom-control-label" for="customCheck0"></label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1"></label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2"></label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm" id="cus_data_btncancel"
          (click)="onClickOfCustomizePermissionModalClose()">Cancel</button>
          <button type="button" class="btn btn-info btn-sm" id="cus_data_btncreate">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Grant Guest Access -->
  <div id="grant_guest_access" class="modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Grant Guest Access</h5>
          <button type="button" class="close" (click)="onClickOfGrantAccessModalClose()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="guest_access_search">Search</label>
                <ng-select id="addUserRole" class="custom"
                  [multiple]="false" [(ngModel)]="selectedUserForGuestAccess"
                  name="addRole" (change)="onChangeOfGuestUser()">
                <ng-option *ngFor="let user of users"  [value]="user.userId">{{user.firstName}}&nbsp;{{user.lastName}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="gga_f_name">First Name</label>
                <div class="input-group input-group-sm">
                  <input type="text" id="gga_f_name" disabled class="form-control" placeholder="First Name" [value]="selectedUserForEdit ? selectedUserForEdit.firstName : ''">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="gga_l_name">Last Name</label>
                <div class="input-group input-group-sm">
                  <input type="text" id="gga_l_name" disabled class="form-control" placeholder="Last Name" [value]="selectedUserForEdit ? selectedUserForEdit.lastName : ''">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="gga_e_name">Email</label>
                <div class="input-group input-group-sm">
                  <input type="email" id="gga_e_name" disabled class="form-control" placeholder="email" [value]="selectedUserForEdit ? selectedUserForEdit.emailId : ''">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="guest_access" votmrequired>Guest Access</label>
                <ng-select id="addUserRole" class="custom" [(ngModel)]="selectedOrgForGuestAccess"
                  name="addRole">
                  <ng-option *ngFor="let organization of organizations"  [value]="organization">{{organization.name}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm" id="grant_user_btncancel"
            (click)="onClickOfGrantAccessModalClose()">Cancel</button>
          <button type="button" class="btn btn-info btn-sm" id="grant_user_btncreate"
            [disabled]="!selectedOrgForGuestAccess" (click)="onClickOfGrantGuestAccess()">
            Grant
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Add User -->
  <div id="add_user" class="modal">
    <div class="modal-dialog modal-xl  modal-dialog-centered" *ngIf="userForm" >
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title">{{pageType === 'add' ? 'Add' : (pageType === 'edit' ? 'Edit' : '')}}  &nbsp;User</h5>
          <button type="button" class="close" (click)="onClickOfCloseAddUserModal()">&times;</button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm" >
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="user_f_name" votmrequired>First Name</label>
                      <div class="input-group input-group-sm">
                        <input type="text" id="user_f_name" class="form-control form-control-sm" placeholder="First Name" formControlName="firstName">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>

                      </div>

                      <div *ngIf="userForm.get('firstName').touched && userForm.get('firstName').value === null" >
                        <app-votm-cloud-validator message="First name is required."></app-votm-cloud-validator>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="user_l_name" votmrequired>Last Name</label>
                      <div class="input-group input-group-sm">
                        <input type="text" id="user_l_name" class="form-control form-control-sm" placeholder="Last Name" formControlName="lastName">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                      </div>

                      <div *ngIf="userForm.get('lastName').touched && userForm.get('lastName').value === null" >
                        <app-votm-cloud-validator message="Last name is required."></app-votm-cloud-validator>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="user_e_name" votmrequired>Email</label>
                      <div class="input-group input-group-sm">
                        <input type="text" id="user_e_name" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control form-control-sm" placeholder="Email" formControlName="emailId">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>

                      </div>

                      <div *ngIf="userForm.get('emailId').touched && userForm.get('emailId').value === null" >
                        <app-votm-cloud-validator message="Email is required."></app-votm-cloud-validator>
                      </div>
                      <div *ngIf="!userForm.get('emailId').valid && userForm.get('emailId').touched && userForm.get('emailId').value !== null">
                        <app-votm-cloud-validator message="Enter valid email address."></app-votm-cloud-validator>
                      </div>

                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="guest_access_user">Guest Access</label>
                      <select id="guest_access_add_user" class="form-control form-control-sm" >
                        <option>Quik Coupling Division</option>
                      </select>
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="guest_access_user">Phone Number</label>
                      <div class="input-group input-group-sm">
                        <input type="text" id="user_phone_number" class="form-control form-control-sm" placeholder="Phone number" formControlName="phoneNumber">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="guest_access" votmrequired>Role</label>
                      <ng-select id="addUserRole" class="custom" formControlName="roleId"
                          name="addRole">
                          <ng-option *ngFor="let role of roles"  [value]="role.roleId">{{role.roleName}}</ng-option>
                        </ng-select>
                        <div *ngIf="userForm.get('roleId').touched && userForm.get('roleId').value === null" >
                          <app-votm-cloud-validator message="Role is required."></app-votm-cloud-validator>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <legend>Organizaion Access</legend>
                  <div class="form-group">
                    <label for="guest_access" votmrequired>Home Access</label>
                    <ng-select id="userHomeAccess" class="custom" formControlName="organizationId"
                      name="addRole">
                      <ng-option *ngFor="let organization of organizations"  [value]="organization.organizationId">{{organization.name}}</ng-option>
                    </ng-select>
                    <div *ngIf="userForm.get('organizationId').touched && userForm.get('organizationId').value === null" >
                      <app-votm-cloud-validator message="Home Access is required."></app-votm-cloud-validator>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="guest_access">Guest Access</label>
                    <table class="table table-bordered table-stripped table-hover table-sm" id="addUserTb">
                      <thead class="thead-dark">
                        <tr >
                          <th>Organization Name</th>
                          <th>Role</th>
                          <th class="text-center">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  class="text-center" *ngIf="pageType === 'add'" >
                          <td colspan="3">No data found.</td>
                        </tr>
                        <tr  class="text-center" *ngIf="pageType === 'edit' && selectedUserForEdit.userGuestOrganization.length === 0">
                            <td colspan="3">No data found.</td>
                        </tr>
                        <ng-container  *ngIf="pageType === 'edit' && selectedUserForEdit.userGuestOrganization.length > 0">
                        <tr *ngFor="let guestOrg of selectedUserForEdit.userGuestOrganization; let guestIndex = index;" >
                          <td> {{guestOrg.organizationName}} </td>
                          <td> Role </td>
                          <td  > <a *ngIf="isGetUsersAPILoading" id="user_guest_delete_{{guestIndex}}" class="mr-2" (click)="onClickOfRemoveGuestAccess(guestIndex)"><i class="icon-trash"></i></a> </td>
                        </tr>
                        </ng-container>

                      </tbody>
                    </table>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm" id="add_user_btncancel" (click)="onClickOfCloseAddUserModal()">Cancel</button>
          <button type="button" class="btn btn-info btn-sm" id="add_user_btncreate"
          (click)="onClickOfSubmitUser()"
          [disabled]="(!userForm.valid && (userForm.touched || !userForm.touched)) || isCreateUserAPILoading"
          >{{pageType === 'add' ? 'Create' : 'Update'}} <i *ngIf="isCreateUserAPILoading" class="fa fa-spinner fa-spin fa-fw"></i></button>
        </div>
      </div>
    </div>
  </div>

<app-votm-cloud-confim-dialog (onClose)="onClickOfDeleteUser($event)" #confirmDelUser [message]="confirmDelUserMessage"
headerMessage="Delete User"></app-votm-cloud-confim-dialog>

<app-votm-cloud-confim-dialog (onClose)="onClickOfChangeUserStatus($event)" #confirmUserStatus [message]="confirmUserStatusMessage"
headerMessage="Change User Status"></app-votm-cloud-confim-dialog>
