<nav id="sidebar" class="scrollbar scrollbar-primary" [ngClass]="{ 'active': menuOpen }">
    <div class="sidebar-header"></div>
  <ul class="list-unstyled components left-menu-margin">
    <ng-container *ngFor="let eachItem of menuItems">
    <li *ngIf="eachItem.enabled && (eachItem.id !== 'favorites')" routerLinkActive="active" [ngClass]="{ 'super-admin' : eachItem.id == 'super' }" >
      <a *ngIf="eachItem.enabled && (eachItem.id !== 'admin' && eachItem.id !== 'favorites')" routerLink="{{eachItem.url}}"  (click)="setActiveItem(eachItem.id)" data-toggle="collapse" aria-expanded="false" data-toggle="tooltip" data-placement="right" title="{{eachItem.name}}">
          <i [ngClass]="eachItem.icon" class="dropdown-icon-size" id="favDropDown"></i>
          <span class="icon-text" >{{eachItem.name}}</span>
      </a>
      <a *ngIf="eachItem.enabled && (eachItem.id === 'admin')" (click)="setActiveItem(eachItem.id)" data-toggle="collapse" aria-expanded="false" data-toggle="tooltip" data-placement="right" title="{{eachItem.name}}">
          <i [ngClass]="eachItem.icon" class="dropdown-icon-size" id="favDropDown"></i>
          <span class="icon-text" >{{eachItem.name}}</span>
          <i class="fa fa-caret-down float-right" id="adminDropDown" style="margin-top:4px;"></i>
      </a>
      <ul  style="overflow:hidden; overflow-y:scroll;" class="dropdown-container display-none list-unstyled components left-menu-margin" [id]="eachItem.id" *ngIf="eachItem.childs.length > 0">
          <li *ngFor="let childItem of eachItem.childs"  routerLinkActive="active" [ngClass]="{ 'super-admin' : childItem.id == 'super' }" >
              <a *ngIf="childItem.enabled" routerLink="{{childItem.url}}"  (click)="setActiveItem(childItem.id)" data-toggle="collapse" aria-expanded="false" data-toggle="tooltip" data-placement="right" title="{{childItem.name}}">
                  <i [ngClass]="childItem.icon" class="dropdown-icon-size" id="userFavDropDown"></i>
                  <span class="icon-text" >{{childItem.name}}</span>
              </a>
            </li>
      </ul>
    </li>
    <li *ngIf="eachItem.enabled && (eachItem.id === 'favorites')" [ngClass]="{ 'super-admin' : eachItem.id == 'super' }" >
       <a (click)="setActiveItem(eachItem.id)" data-toggle="collapse" aria-expanded="false" data-toggle="tooltip" data-placement="right" title="{{eachItem.name}}">
            <i [ngClass]="eachItem.icon" class="dropdown-icon-size" id="favDropDown"></i>
            <span class="icon-text" >{{eachItem.name}}</span>
            <i class="fa fa-caret-down float-right" id="adminDropDown" style="margin-top:4px;"></i>
        </a>
        <ul  style="overflow:hidden; overflow-y:scroll;" class="dropdown-container display-none list-unstyled components left-menu-margin" [id]="eachItem.id" *ngIf="eachItem.childs.length > 0">
            <li *ngFor="let childItem of eachItem.childs"  routerLinkActive="active" [ngClass]="{ 'super-admin' : childItem.id == 'super' }" >
                <a *ngIf="childItem.enabled" routerLink="{{childItem.url}}"  (click)="setActiveItem(childItem.id)" data-toggle="collapse" aria-expanded="false" data-toggle="tooltip" data-placement="right" title="{{childItem.name}}">
                    <i [ngClass]="childItem.icon" class="dropdown-icon-size" id="userFavDropDown"></i>
                    <span class="icon-text" >{{childItem.name}}</span>
                </a>
              </li>
        </ul>
      </li>
    </ng-container>
  </ul>

</nav>

<!-- style="height:160px;overflow:hidden; overflow-y:scroll;" -->
