<!-- <h3 class="flt-left sensor-header"> Sensors</h3> -->
<form class="form-inline mb-3">
  <div class="form-group">
    <label for="typeahead-config" id="sensor-filter-lbl">Type to filter events:</label>
    <div class="input-group input-group-sm">
      <input class="form-control form-control-sm ml-2" id="sensorSearchBox" type="search" placeholder="Search"
        aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text p-0">
          <button class="btn btn-sm btn-search" id="sensorSearchButton" type="submit"><i
              class="icon-search"></i></button>
        </span>
      </div>
    </div>

    <!-- <button class="btn btn-sm btn-outline-info mr-2 ml-2" id="sensorSearchButton" type="submit">Search</button> -->
  </div>
  <div class="btn-group-right">
    <button [routerLink]="['/sensor/detail']" id="sensorConfigBtn" type="button" class="btn btn-info btn-sm">Configure
      Sensors</button>
  </div>
</form>

<!-- <ng-template #recursiveTableList let-list="sensorList" let-lvl="level">
  <ng-container *ngFor="let item of list">

    <tr>
      <th scope="row" (click)="item.opened = !item.opened" [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
        <i class="icon-signal"></i>
        <a style="color: #212529;"> {{item.sensorName}}</a>&nbsp;
        <i *ngIf="item.node && item.node.length > 0 "
          [ngClass]="{'fa': true, 'fa-caret-right': !item.opened, 'fa-caret-down': item.opened}"
          id="dropdownParentItem"></i>
      </th>
      <td class="align-left"></td>
      <td class="align-left"></td>
      <td class="align-left"></td>
      <td class="align-left"></td>
      <td class="align-left"></td>
      <td class="align-center"><i class="icon-go" style="color: #28a745;"></i></td>
      <td class="align-center">
        <a class="action-icon" title="List" [routerLink]="['/loc/home', item.id, item.name]">
          <i class="icon-location"></i>
        </a>
        <a class="action-icon" title="Edit" [routerLink]="['/org/edit',curOrgId, curOrgName, item.id]">
          <i class="icon-edit"></i>
        </a>
        <a class="action-icon" *ngIf="item.id.toUpperCase() !== curOrgId.toUpperCase()"
          (click)="openConfirmDialog(item.id, item.name)" title="Delete">
          <i class="icon-trash"></i>
        </a>
      </td>
    </tr>

    <ng-container *ngFor="let subItem of item.node">

      <tr *ngIf="item.opened && subItem.entityType == 'Sensor'">
        <th scope="row" (click)="subItem.opened = !subItem.opened" [ngStyle]="{'padding-left.px': 15*(lvl+2)}">
          <i class="icon-signal"></i>
          <a style="color: #212529;">
            {{subItem.sensorName}}</a>&nbsp;<i *ngIf="subItem.node.length > 0 "
            [ngClass]="{'fa': true, 'fa-caret-right': !subItem.opened, 'fa-caret-down': subItem.opened}"
            id="dropdownSubItem"></i>
        </th>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-center"><i class="icon-go" style="color: #28a745;"></i></td>
        <td class="align-center">
          <a class="action-icon" title="Location" [routerLink]="['/loc/home', subItem.id, subItem.name]">
            <i class="icon-location"></i>
          </a>
        
          <a class="action-icon" title="Edit" [routerLink]="['/org/edit',curOrgId, curOrgName, subItem.id]">
            <i class="icon-edit"></i>
          </a>
          <a class="action-icon" (click)="openConfirmDialog(subItem.id, subItem.name)" title="Delete">
            <i class="icon-trash"></i>
          </a>
        </td>
      </tr>

      <ng-container *ngIf="subItem.opened">
        <ng-container *ngTemplateOutlet="recursiveTableList; context:{ sensorList: subItem.node, level: lvl+2 }">
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>
</ng-template> -->

<div class="row ml-1 mr-1">
  <p-treeTable [scrollable]="true" #tt scrollHeight="750px" [globalFilterFields]="['name']" [resizableColumns]="true"
    [value]="sensorList" [autoLayout]="true" id="sensorsTbl">
    <ng-template pTemplate="caption">
      <div style="text-align: left;">
        <i class="icon-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="20" placeholder="Type to filter"
          (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto" id="sensorFilter">
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col>
        <col>
        <col>
        <col [style.width.px]="80">
        <col [style.width.px]="80">
        <col [style.width.px]="80">
        <col [style.width.px]="60">
        <col [style.width.px]="130">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="background-color: #dee2e6;">
        <th ttResizableColumn ttSortableColumn="name">Sensor Name
          <p-treeTableSortIcon field="name"></p-treeTableSortIcon>
        </th>
        <th ttResizableColumn>Serial Number</th>
        <th ttResizableColumn>Type</th>
        <th ttResizableColumn>Location</th>
        <th ttResizableColumn>Battery</th>
        <th ttResizableColumn>Signal</th>
        <th ttResizableColumn>Status</th>
        <th ttResizableColumn>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">

        <td class="align-left">
          <span container="body" [ngbTooltip]="rowData.name" class="underline-on-hover">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <i class="icon-sensonode2"></i>{{rowData.name}}
          </span>
        </td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-center"><i class="icon-go" style="color: #28a745;"></i></td>
        <td class="align-center"><a class="action-icon" container="body" ngbTooltip="Edit">
            <i class="icon-edit"></i></a>
          <a class="action-icon" container="body" ngbTooltip="Used/Un-Used">
            <i class="icon-unlink"></i></a></td>
        <!-- <td class="align-center"><a class="action-icon" container="body" ngbTooltip="Edit">
            <i class="icon-edit"></i></a>
          <a class="action-icon" container="body" ngbTooltip="Delete">
            <i class="icon-trash"></i></a>
        </td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="8">No data found.</td>
      </tr>
    </ng-template>
  </p-treeTable>

  <!-- <table class="table table-sm table-bordered table-hover org-table-fonts" id="sensorTbl">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="align-left table-col-name">Name</th>
      <th scope="col" class="">Sensor/Signal Name</th>
      <th scope="col" class="">Serial #</th>
      <th scope="col" class="">Sensor Type</th>
      <th scope="col" class="">Location</th>
      <th scope="col" class="">Battery</th>
      <th scope="col" class="">Signal</th>
      <th scope="col" class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="sensorList.length > 0">
        <ng-container *ngTemplateOutlet="recursiveTableList; context:{ sensorList: sensorList, level: 0 }">
        </ng-container>
      </ng-container>
      <tr *ngIf="sensorList.length === 0">
        <td colspan="1"> No Sensor data found.</td>
      </tr>
    </tbody>
    <tbody *ngIf="isGetOrganizationsApiLoading">
      <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    </tbody>
  </table> -->
</div>



<!-- <ng-template>
  <ng-container>

    <tr>
      <th scope="row" (click)="item.opened = !item.opened" [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
        <i class="fa fa-thermometer-half"></i>
        {{item.sensorName}}
      </th>
      <td class="">{{item.serialNumber}}</td>
      <td class="">{{item.sensorType}}</td>
      <td class="">{{item.location}}</td>
      <td class="">{{item.battery}}</td>
      <td class="">{{item.signal}}</td>
      <td class="align-center">
      
        <a class="action-icon" title="Edit" [routerLink]="['/sensor/edit']">
          <i class="icon-edit"></i>
        </a>
        <a class="action-icon" (click)="openConfirmDialog(item.id)" title="Delete">
          <i class="icon-trash"></i>
        </a>
      </td>
    </tr>
  </ng-container>
</ng-template>


<table class="table table-sm table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="">Sensor/Signal Name</th>
      <th scope="col" class="">Serial #</th>
      <th scope="col" class="">Sensor Type</th>
      <th scope="col" class="">Location</th>
      <th scope="col" class="">Battery</th>
      <th scope="col" class="">Signal</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngTemplateOutlet="recursiveTableList; context:{ sensorList: sensorList, level: 0 }"></ng-container>
  </tbody>
</table> -->


<app-votm-cloud-confim-dialog (onClose)="deleteSensorById($event)" #confirmBox
  message="Do you want to delete the Asset?" headerMessage="Warning"></app-votm-cloud-confim-dialog>