<!-- <h3 class="flt-left sensor-header"> Sensors</h3> -->
<form class="form-inline">
  <label for="typeahead-config" id="sensor-filter-lbl">Type to filter events:</label>
  <input class="form-control form-control-sm ml-2 mb-3 mt-3" id="sensorSearchBox" type="search" placeholder="Search"
    aria-label="Search">
  <button class="btn btn-sm btn-outline-info mr-2 ml-2" id="sensorSearchButton" type="submit">Search</button>
  <div class="btn-group-right">
      <button [routerLink]="['/sensor/detail']" id="sensorConfigBtn" type="button" class="btn btn-info btn-sm">Configure Sensors</button>
    </div>
</form>


<ng-template #recursiveTableList let-list="sensorList" let-lvl="level">
  <ng-container *ngFor="let item of list">

    <tr>
      <th scope="row" (click)="item.opened = !item.opened" [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
        <i class="fa fa-thermometer-half"></i>
        {{item.name}}
      </th>
      <td class="align-center">{{item.serialNumber}}</td>
      <td class="align-center">{{item.assetNumber}}</td>
      <td class="align-center"></td>
      <td class="align-center"></td>
      <td class="align-center"></td>
      <td class="align-center"></td>
      <td class="align-center"></td>
      <td class="align-center">
        <!-- <a class="action-icon" title="List" [routerLink]="['/sensor/home', item.id]">
          <i class="fa fa-list"></i>
        </a>
        <a class="action-icon" title="View" [routerLink]="['/sensor/view']">
          <i class="fa fa-eye"></i>
        </a> -->
        <a class="action-icon" title="Edit" [routerLink]="['/sensor/edit']">
          <i class="fa fa-edit"></i>
        </a>
        <a class="action-icon" (click)="openConfirmDialog(item.id)" title="Delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </ng-container>
</ng-template>


<table class="table table-sm table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="align-center table-col-name">Sensor/Signal Name</th>
      <th scope="col" class="align-center">Serial #</th>
      <th scope="col" class="align-center">Sensor Type</th>
      <th scope="col" class="align-center table-col-small">Location</th>
      <th scope="col" class="align-center table-col-small">Organization</th>
      <th scope="col" class="align-center table-col-small">Reported Value</th>
      <th scope="col" class="align-center table-col-small">Last Reported Time</th>
      <th scope="col" class="align-center table-col-small">State</th>
      <th scope="col" class="align-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngTemplateOutlet="recursiveTableList; context:{ sensorList: sensorList, level: 0 }"></ng-container>
  </tbody>
</table>


<app-votm-cloud-confim-dialog (onClose)="deleteSensorById($event)" #confirmBox
  message="Do you want to delete the Asset?" headerMessage="Warning"></app-votm-cloud-confim-dialog>