<form class="text-body">
  <div class="row">
    <div class="col-md-3 col-xl-4">
      <div class="form-group">
        <!-- <label for="role_search">Search</label> -->
        <div class="input-group input-group-sm">
          <input type="text" id="gateway_search" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <!-- <span class="input-group-text"><i class="icon-search"></i></span> -->
            <span class="input-group-text p-0"><button class="btn btn-sm btn-search" id="searchButton" type="submit">
                <i class="icon-search"></i></button></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-8 col-xl-9">
      <!-- <div class="table-responsive">
        <table class="table table-bordered table-sm table-stripped table-hover" id="sensor_table">
          <thead class="thead-dark">
            <tr>
              <th class="">Sensor Name</th>
              <th class="">Serial Number</th>
              <th class="">Type</th>
              <th class="">GW</th>
              <th class="text-center">Battery</th>
              <th class="text-center">Signal</th>
              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let allsensors of allSensors">
              <td class="">
                <a [routerLink]="['/admin/networkmanagement/sensorDetails', 1]">{{ allsensors.sensorname }}</a>
              </td>
              <td>{{ allsensors.serialnumber }}</td>
              <td>{{ allsensors.type }}</td>
              <td>{{ allsensors.gw }}</td>
              <td class="text-center"><i class="icon-battery-50 mr-2"></i> {{ allsensors.battery }}</td>
              <td class="text-center"><i class="icon-signal-100 mr-2"></i> {{ allsensors.signal }}</td>
              <td class="text-center"><i class="text-warning fa fa-warning mr-2"></i></td>
              class="text-warning/text-success/text-info/text-danger" need to add classes as per status
            </tr>
          </tbody>
        </table>
      </div> -->
      <ng-template #recursiveTableList let-list="sensorList" let-lvl="level">
          <ng-container *ngFor="let item of list">
        
            <tr>
              <th scope="row" (click)="item.opened = !item.opened" [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
                <i class="icon-signal"></i>
                <a style="color: #212529;"> {{item.sensorName}}</a>&nbsp;
                <i *ngIf="item.node && item.node.length > 0 "
                  [ngClass]="{'fa': true, 'fa-caret-right': !item.opened, 'fa-caret-down': item.opened}"
                  id="dropdownParentItem"></i>
              </th>
              <td class="align-left"></td>
              <td class="align-left"></td>
              <td class="align-left"></td>
              <td class="align-left"></td>
              <td class="align-left"></td>
              <td class="align-center"><i class="icon-go" style="color: #28a745;"></i></td>
            </tr>
        
            <ng-container *ngFor="let subItem of item.node">
        
              <tr *ngIf="item.opened && subItem.entityType == 'Sensor'">
                <th scope="row" (click)="subItem.opened = !subItem.opened" [ngStyle]="{'padding-left.px': 15*(lvl+2)}">
                  <i class="icon-signal"></i>
                  <a style="color: #212529;">
                    {{subItem.signalName}}</a>&nbsp;<i *ngIf="subItem.node.length > 0 "
                    [ngClass]="{'fa': true, 'fa-caret-right': !subItem.opened, 'fa-caret-down': subItem.opened}"
                    id="dropdownSubItem"></i>
                </th>
                <td class="align-left"></td>
                <td class="align-left"></td>
                <td class="align-left"></td>
                <td class="align-left"></td>
                <td class="align-left"></td>
                <td class="align-center"><i class="icon-go" style="color: #28a745;"></i></td>
              </tr>
        
              <ng-container *ngIf="subItem.opened">
                <ng-container *ngTemplateOutlet="recursiveTableList; context:{ sensorList: subItem.node, level: lvl+2 }">
                </ng-container>
        
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
        
        <div class="table-responsive">
          <table class="table table-sm table-bordered table-hover org-table-fonts" id="sensorTbl">
            <thead class="thead-dark">
              <tr>
                <!-- <th scope="col" class="align-left table-col-name">Name</th> -->
                <th class="">Sensor Name</th>
                <th class="">Serial Number</th>
                <th class="">Type</th>
                <th class="">GW</th>
                <th class="text-center">Battery</th>
                <th class="text-center">Signal</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="sensorList.length > 0">
                <ng-container *ngTemplateOutlet="recursiveTableList; context:{ sensorList: sensorList, level: 0 }">
                </ng-container>
              </ng-container>
              <tr *ngIf="sensorList.length === 0">
                <td colspan="1"> No Sensor data found.</td>
              </tr>
            </tbody>
            <!-- <tbody *ngIf="isGetOrganizationsApiLoading">
              <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
            </tbody> -->
          </table>
        </div>

    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <!--Sensors status start-->
      <fieldset class="mb-3">
        <legend>Sensors Status</legend>
        <div class="row sensors-status">
          <div class="col-4">
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Total</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">4</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Online</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">3</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Offline</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">1</span>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div id="sensor-status-chartdiv-pie-sliced" style="width: 100%; height: 150px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Warning</label>
              <div class="col-6">
                <span class="form-control form-control-sm text-center">4</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Critical</label>
              <div class="col-6">
                <span class="form-control form-control-sm text-center">5</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <!--Sensors status end-->

      <!-- Bettery Levels start-->
      <fieldset class="mb-3">
        <legend>Battery Levels</legend>
        <div class="row bettery-levels">
          <div class="col-4">
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Good</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">5</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Low</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">2</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Replace</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">2</span>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div id="bettery-level-chartdiv-pie-sliced" style="width: 100%; height: 150px"></div>
          </div>
        </div>
      </fieldset>
      <!-- Bettery Levels end-->

      <!-- Signal levels start-->
      <fieldset>
        <legend>Signal Levels</legend>
        <div class="row signal-levels">
          <div class="col-4">
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Good</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">5</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Low</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">2</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Replace</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">2</span>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div id="signal-level-chartdiv-pie-sliced" style="width: 100%; height: 150px"></div>
          </div>
        </div>
      </fieldset>
      <!-- Signal levels end-->
    </div>
  </div>
</form>