.btn-search{
    padding: 0.15rem 0.5rem;
}
.chart-area{
    border:1px solid #ddd;
    height: 180px;
    display:block;
    margin-bottom:10px;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }