.flt-left{
  float: left;
}

.gateway-dropdown{
  border-radius: 21px;
}

// .table-list-contents{
//   display: contents;
// }

// .table-col-small{
//   max-width: fit-content;
// }

.align-center{
  text-align: center;
}

// .table-col-name{
//   min-width: fit-content;
// }

.action-icon{
  padding: 5px;
  cursor: pointer;
  color: #212529;
}


.loc-table-fonts{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.loc-header-fonts{
  font-family: 'Open Sans', sans-serif;
}
.btn-search {
  padding: 0.15rem 0.5rem;
}
.btn-group-right{
  float: right;
  // margin-bottom: 20px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}