
    <!-- <h3 class="flt-left mt-3 mb-3 ml-2 loc-header-fonts"> Locations</h3> -->
    <header>
      <div class="btn-group-right loc-table-fonts">
        <button (click)="onCreateNewLocation()" id="cre-loc" type="button" class="btn btn-sm btn-info loc-table-fonts ml-2"
          style="float: right;"><i class="pr-2 icon-location-add"></i>Create Location</button>
        <button type="button" (click)="onCreateNewAsset()" id="cre-asset" class="btn btn-sm btn-info loc-table-fonts" style="float: right;"><i
            class="pr-2 icon-asset-add"></i>Create Asset</button>
      </div>
    
      <form class="form-inline">
        <label for="typeahead-config" id="loc-filter-eve">Type to filter events:</label>
        <input class="form-control ml-2" id="searchBox" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info mr-2 ml-2" id="searchButton" type="submit">Search</button>
      </form>
    </header>
   
    

    <ng-template #recursiveTableList let-list="locList" let-lvl="level">
        <ng-container *ngFor="let item of list">
      
          <tr>
            <th scope="row" (click)="item.opened = !item.opened" [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
              <i class="icon-loc-pin-map"></i>
              <a style="color: #212529;" [routerLink]="['/loc/view',item.parentOrgId, item.parentOrgName, item.id]"> {{item.name}}</a>&nbsp; <i *ngIf="item.node.length > 0 "
                  [ngClass]="{'fa': true, 'fa-caret-right': !item.opened, 'fa-caret-down': item.opened}"></i>
             
            </th>
            <td class="align-left">{{item.type}}</td>
            <td class="align-left">{{item.parentOrgName}}</td>
            <td class="align-left">{{item.primaryDistributor}}</td>
            <td class="align-left">{{item.city}}, {{item.state}}</td>
            <td class="align-left"><i class="icon-good" style="color: #0ad80a;"></i></td>
            <td class="align-center">
              <a class="action-icon" title="List"   [routerLink]="['/asset/home',item.parentOrgId, item.parentOrgName, item.id]">
                <i class="icon-asset-robot"></i>
              </a>
              <a class="action-icon" title="Edit"
                [routerLink]="['/loc/edit', item.parentOrgId, item.parentOrgName, item.id]">
                <i class="icon-edit"></i>
              </a>
              <a class="action-icon" (click)="openConfirmDialog(item.id, item.name)" title="Delete">
        
                <i class="icon-trash"></i>
              </a>
            </td>
          </tr>
      
          <ng-container *ngFor="let subItem of item.node">
            <tr *ngIf="item.opened && subItem.entityType == 'Location'">
              <th scope="row" (click)="subItem.opened = !subItem.opened" [ngStyle]="{'padding-left.px': 15*(lvl+2)}">
                <i class="icon-location"></i>
                <a style="color: #212529;" [routerLink]="['/loc/view',subItem.parentId, subItem.parentName, subItem.parentOrgId, subItem.parentOrgName,  subItem.id]">
                  {{subItem.name}}</a>&nbsp;<i *ngIf="subItem.node.length > 0 "
                  [ngClass]="{'fa': true, 'fa-caret-right': !subItem.opened, 'fa-caret-down': subItem.opened}"></i>
              </th>
              <td class="align-left">{{subItem.type}}</td>
              <td class="align-left">{{subItem.parentOrgName}}</td>
              <td class="align-left">{{subItem.distributor}}</td>
              <td class="align-left">{{subItem.city}}, {{subItem.state}}</td>
              <td class="align-left"><i class="icon-good" style="color: #0ad80a;"></i></td>
              <td class="align-center">
                <a class="action-icon" title="Asset" [routerLink]="['/asset/home',subItem.parentOrgId, subItem.parentOrgName, subItem.id]">
                  <i class="icon-asset-robot"></i>
                </a>
                <a class="action-icon" title="Edit"
                  [routerLink]="['/loc/edit',subItem.parentId, subItem.parentName, subItem.parentOrgId, subItem.parentOrgName,  subItem.id]">
                  <i class="icon-edit"></i>
                </a>
                <a class="action-icon" (click)="openConfirmDialog(subItem.id, subItem.name)" title="Delete">
                  <i class="icon-trash"></i>
                </a>
              </td>
            </tr>
      
            <ng-container *ngIf="subItem.opened">
              <ng-container *ngTemplateOutlet="recursiveTableList; context:{ locList: subItem.node, level: lvl+2 }">
              </ng-container>
              
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
      
      
      <table class="table table-sm table-bordered table-hover loc-table-fonts">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="align-left table-col-name">Name</th>
            <th scope="col" class="align-left">Type</th>
            <th scope="col" class="align-left">Organization</th>
            <th scope="col" class="align-left">Primary Distributor</th>
            <th scope="col" class="align-left">City & State</th>
            <th scope="col" class="align-left">Status</th>
            <th scope="col" class="align-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngTemplateOutlet="recursiveTableList; context:{ locList: locationsList, level: 0 }"></ng-container>
        </tbody>
      </table>



<app-votm-cloud-confim-dialog (onClose)="deleteLocationById($event)" #confirmBox [message]="message"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>