<hr>

<div class="row" style="padding: 30px;">
  <div id="asset-cont" class="col-md-2">

  </div>
  <div class="col-md-10">
    <div class="chart-cont embed-responsive embed-responsive-16by9" style="background-color: #efefef;">
      <div class="embed-responsive-item" id="map-cont-1">
        <img id="map-image" class="img-fluid" [src]="image" *ngIf="image" />
      </div>
    </div>
    <br />

  </div>
  <div class="col">
    <button id="loc-signal-association-save" type="button"
      class="btn mr-1 btn-secondary button-right-mod btn-info btn-sm button-margin-asset">Save</button>
    <button id="asset-cancel" for="form-cancel" type="button"
      class="btn btn-secondary button-right-mod btn-sm button-margin-asset ">
      Cancel
    </button>

  </div>
</div>