<div class="row">
  <div class="col-12 col-md-6 pr-md-2">
    <!-- <div class="embed-responsive embed-responsive-4by3">
      <div class="embed-responsive-item">
        <widget-image-overlay [id]="'wio1'" [data]="dbItem"></widget-image-overlay>
      </div>
    </div> -->
    <!-- widget-image-overlay -->
    <app-votm-image-overlay></app-votm-image-overlay>
  </div>
  <div class="col-12 col-md-6 pl-md-2 pt-3 pt-md-0">
    <!-- div class="embed-responsive embed-responsive-4by3 border">
      <div class="embed-responsive-item" -->
        <!-- <widget-data-table [id]="'wdt1'" [data]="dbItem"></widget-data-table> -->
      <!-- /div>
    </div -->
    <app-votm-clustered-column-chart></app-votm-clustered-column-chart>
  </div>
  <div class="col-12 mt-3">
    <div class="">
      <div class="">
        <!-- <widget-trend [id]="'wt1'" [data]="dbItem"></widget-trend> -->
        <!-- <app-votm-line-graph></app-votm-line-graph> -->
        <app-votm-simple-gauge></app-votm-simple-gauge>
      </div>
    </div>
  </div>
</div>