<div class="row">
  <div class="col-12 col-md-6 pr-md-2">
    <div class="embed-responsive embed-responsive-4by3">
      <div class="embed-responsive-item">
        <!-- <widget-image-overlay [id]="'wio1'" [data]="dbItem"></widget-image-overlay> -->
        <app-votm-image-overlay [data]="dbItem" [locked]="locked" [id]="'wio1'"></app-votm-image-overlay>
      </div>
    </div>
    <!-- widget-image-overlay -->
    
  </div>
  <div class="col-12 col-md-6 pl-md-2 pt-3 pt-md-0">
    <div class="embed-responsive embed-responsive-4by3">
      <div class="embed-responsive-item">
        <!-- <widget-data-table [id]="'wdt1'" [data]="dbItem"></widget-data-table> -->
        <app-votm-data-table [data]="dbItem" [locked]="locked" [id]="'wg1'"></app-votm-data-table>
  </div>
  </div>
    <!-- <app-votm-clustered-column-chart [data]="dbItem" [locked]="locked"></app-votm-clustered-column-chart> -->
   
  </div>
  <div class="col-12 mt-3">
    <div class="embed-responsive embed-responsive-21by9">
      <div class="embed-responsive-item">
        <!-- <widget-trend [id]="'wt1'" [data]="dbItem"></widget-trend> -->
        <app-votm-line-graph [data]="dbItem" [locked]="locked" [id]="'wt1'"></app-votm-line-graph>
        <!-- <app-votm-line-graph [id]="'wt1'" [data]="dbItem"></app-votm-line-graph> -->
      </div>
    </div>
  </div>
</div>
