<div  id="wrapper">
    <nav  class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <img src="../../assets/images/VOTM_header_logo.png" style="margin-top:0px; height:48px; background-color: #333">
      </div>
      <div style="padding: 15px 50px 5px 10px; float: right; font-size: 16px;"> </div>
      <div>
          <i class="fa fa-star fa-2x" style="font-size:24px; color:white;padding: 13px 0px 0px 20px;float: right;cursor: pointer;"></i>
          <i class="fa fa-bell" style="font-size:24px; color:white;padding: 13px 0px 0px 20px;float: right;cursor: pointer;" (click)="openNavIcon()"></i>
      </div>
    </nav>
      
    <div class="dropdown" style="top:0; position: absolute; right:0">
      <button class="dropbtn">
        <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic fa fa-user" style="font-size:30px; color: white;text-align: center; padding: 0px 0px 0px 0px;float: right;" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
      </button>
      <div class="dropdown-content">
        <a href="#">User Preferences</a>
        <a href="#">Change Password</a>
        <a href="#">Help</a>
        <a href="#">Logout</a>
      </div>
    </div> 
    
</div>