<div class="row">
  <h5 class="col-md-6 text-black-50">User Management</h5>
</div>

<form class="text-body">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="role_name">Role Name</label>
        <input type="text" class="form-control" id="role_name" placeholder="Role Name">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="organization_name">Organization Name</label>
        <input type="text" class="form-control" id="organization_name" placeholder="Organization Name">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="select_role">Select Role</label>
        <select class="form-control" id="select_role">
          <option>List of role</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="role_search">Search</label>
        <div class="input-group">
          <input type="text" id="role_search" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="table-responsive">
      <table class="table table-bordered table-sm table-stripped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Organization/Site Name</th>
            <th class="text-center">View</th>
            <th class="text-center">Create</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Quik Coupling Division</td>
            <td class="text-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck1" checked>
                <label class="custom-control-label" for="customCheck1"></label>
              </div>
            </td>
            <td class="text-center">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
            </td>
            <td class="text-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck2">
                <label class="custom-control-label" for="customCheck2"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button class="btn btn-secondary mr-3" id="um_cancel">Cancel</button>
        <button class="btn btn-info" id="um_save">Save</button>
      </div>
    </div>
  </div>
</form>