<nav id="sidebar" [ngClass]="{ 'active': menuOpen }">
    
  <button type="button" (click)="menuOpen=!menuOpen" [ngClass]="{ 'btn btn-secondary btn-circle menu-btn': true, 'menu-btn-open': menuOpen, 'menu-btn-closed': !menuOpen }"><i [ngClass]="{ 'fa': true, 'fa-bars': menuOpen, 'fa-arrow-left': !menuOpen }"></i>
  </button>

  <ul class="list-unstyled components">
      
    <li *ngFor="let eachItem of menuItems" [ngClass]="{ 'active' : eachItem.id == activeItem , 'super-admin' : eachItem.id == 'super' }">
      <a *ngIf="eachItem.enabled" routerLink="{{eachItem.url}}" (click)="activeItem = eachItem.id" data-toggle="collapse" aria-expanded="false" data-toggle="tooltip" data-placement="right" title="{{eachItem.name}}">
          <i [ngClass]="eachItem.icon"></i>
          <span class="icon-text">{{eachItem.name}}</span>
      </a>
    </li>
    
    
  </ul>

</nav>
