.tab-border{
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.txt-r{
  text-align: right;
}
.table-scroll{
  max-height: 180px;
  overflow: hidden;
  overflow-y: scroll;
  display: block; 
}

.table2-scroll{
  // max-height: 180px;
  overflow: hidden;
  overflow-y: scroll;
  display: block; 
}
.table-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.table-scroll::-webkit-scrollbar-thumb{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0,0,0,0.25);
}

.input-group-text{
  font-size: 13px !important;
}

.form-control{
  font-size: 13px !important;
}

.edit-view-lock{
  // float: right; 
  // font-size: 28px; 
  // color:  #495057;
  // margin-left: auto;
  // margin-top: 4px;
}
// lock tab
.lock-tab {
  top: calc(-2.3125rem - 0.875rem - (13px));
} 
