.alert-view-font{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.alert-list-font{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
fieldset{
    padding: 10px;
    border: 1px solid #ddd;
}
legend{
    font-size: 1rem;
    width: auto;
    padding: 0 5px;
    margin: 0;
}
