<div class="p-2 border">
  <div class="text-right chartConfigureIcon"><i class="icon-cog font-15" (click)="onClickOfCustomizeDataTable()"></i></div>
  <div class="text-center con-wid-preview" *ngIf="!isDataTableConfigured">
      <img class="img-fluid img-fluid-custom" src="../../../../../assets/images/configure_data_table.jpg">
  </div>
  <div *ngIf="isDataTableConfigured" style="width: 100%; height: 350px" >
    <div class="p-2 border">
      <h4>Data Table</h4>
      <ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="ColumnMode.force"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        [limit]="6"
        rowHeight="auto"
        [reorderable]="reorderable"
      >
      </ngx-datatable>
    </div>
  </div>
</div>


<!-- Modal Data Table Configuration -->
<div id="configure-data-table-modal" class="modal">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Configure Data Table</h5>
              <button type="button" class="close" (click)="onClickOfCustomizeDataTableModalClose()">&times;</button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="temp" id="title-name">Title (Optional):</label>
                    <input type="text" maxlength="10"
                      class="form-control" id="title" placeholder="Title" name="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div style="text-align: left;">
                    <!-- <div class="form-group"> -->
                    <!-- <label for="typeahead-config" id="org-filter" class="mr-2">Type to filter events:</label> -->
                    <div class="input-group input-group-sm">
                      <input name="organizationsearch"  class="form-control" id="searchBox"
                        type="search" placeholder="Search" aria-label="Search">
                      <div class="input-group-append">
                        <span class="input-group-text p-0">
                          <button  class="btn btn-sm btn-search" id="searchButton"
                             type="submit"><i class="icon-search"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="sigSelected" class="custom-control-input" />
                    <label class="custom-control-label" for="sigSelected">Selected</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="sigUnSelected" class="custom-control-input"/>
                    <label class="custom-control-label" for="sigUnSelected">Unselected</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <ngx-datatable
        class="bootstrap"
        [loadingIndicator]="loadingIndicator"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        [limit]="6"
        rowHeight="auto"
        [reorderable]="reorderable"
      >
      </ngx-datatable>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" id="grant_user_btncancel"
                  (click)="onClickOfCustomizeDataTableModalClose()">Cancel</button>
              <button type="button" class="btn btn-info btn-sm" id="" (click)="saveDataTableConfiguration()">
                  Save
              </button>
          </div>
      </div>
  </div>
</div>