
<div class="border p-2 h-100 w-100 position-relative">
  <div id="{{ wId }}" class="h-100 w-100">
    <img *ngIf="!configured" style="object-fit: cover; width:100%; height:100%;" src="../../../../assets/images/configure_data_table.jpg" />
    <ng-container *ngIf="configured">
      <div *ngIf="wConfig.title" class="row">
        <div class="col-12">
          <h3>{{ wConfig.title }}</h3>
        </div>
      </div>
      <div class="row h-100 " [class.dt-titlespace]="wConfig.title">
        <div class="col-12 h-100" >
            <p-treeTable [value]="signalsTree"
            [scrollable]="true"
            [resizableColumns]="true"
            class="dt"
            [class.dt-titlespace]="wConfig.title"
            (window:resize)="resizeTable($event)">
            <ng-template pTemplate="colgroup">
                <colgroup>
                  <col *ngIf="wConfig.showState" style="width:2.5em" />
                  <col />
                  <col style="width:6em" />
                  <col style="width:7em" />
                  <col *ngIf="wConfig.showSensor" style="width:6em" />
                  <col *ngIf="wConfig.showStatus" style="width:4.5em" />
                </colgroup>
              </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngIf="wConfig.showState" class="text-center" [ttSortableColumn]="'state'">
                            <p-treeTableSortIcon [field]="'state'"></p-treeTableSortIcon>
                          </th>
                          <th ttResizableColumn [ttSortableColumn]="'name'">Signal<p-treeTableSortIcon [field]="'name'"></p-treeTableSortIcon></th>
                          <th ttResizableColumn class="text-right" [ttSortableColumn]="'value'">Value<p-treeTableSortIcon [field]="'value'"></p-treeTableSortIcon></th>
                          <th ttResizableColumn [ttSortableColumn]="'ts'">Time<p-treeTableSortIcon [field]="'modifiedOn'"></p-treeTableSortIcon></th>
                          <th *ngIf="wConfig.showSensor" ttResizableColumn class="text-center" [ttSortableColumn]="'value'">
                            Sensor<p-treeTableSortIcon [field]="'value'"></p-treeTableSortIcon>
                          </th>
                          <th *ngIf="wConfig.showStatus" class="text-center">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr *ngIf="rowData.sel" [ngClass]="getStateBg(rowData)">
                      <td *ngIf="wConfig.showState" class="text-center align-middle">
                        <i class="mr-0 {{getState(rowData)}}"></i>
                      </td>
                      <td
                    class="ui-resizable-column"
                    title="{{
                      (wConfig.showOrg ? rowData.organization :
                        (wConfig.showLoc ? rowData.location :
                          (wConfig.showAsset ? rowData.asset : '')
                        )
                      )
                    }}
                    {{ rowData.name }}"
                  >
                    <i class="pr-1 {{ rowData.iconFile }}"></i>{{
                      (wConfig.showOrg ? rowData.organization :
                        (wConfig.showLoc ? rowData.location :
                          (wConfig.showAsset ? rowData.asset : '')
                        )
                      )
                    }}
                    {{ rowData.name }}
                  </td>
                  <td
                  class="ui-resizable-column text-right"
                  title="{{ rowData.value }}"
                >
                  {{ rowData.value }}
                </td>
                <td class="ui-resizable-column" title="{{ rowData.modifiedOn }}">
                  {{ rowData.modifiedOn }}
                </td>
                <td
                  *ngIf="wConfig.showSensor"
                  class="ui-resizable-column text-center"
                >
                  {{ rowData.sensor }}
                </td>
                <td *ngIf="wConfig.showStatus" class="text-center align-middle">
                  <i class="{{ getBattery(rowData) }}"></i
                  ><i class="{{ getRSSI(rowData) }}"></i>
                </td>
                    </tr>
                  </ng-template>
            </p-treeTable>

          </div>
        </div>

    </ng-container>
  </div>

  <div class="chart-actions">
    <div *ngIf="configured" ngbDropdown placement="bottom-right">
      <a id="export" ngbDropdownToggle><i class="icon-export"></i></a>
      <div ngbDropdownMenu aria-labelledby="export">
        <button ngbDropdownItem>CSV</button>
        <button ngbDropdownItem>XLSX</button>
        <button ngbDropdownItem>PDF</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem>Print</button>
      </div>
    </div>
    <a (click)="open(config)" [class.d-none]="locked"><i class="icon-cog"></i></a>
  </div>
</div>

<ng-template #config let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Configure Data Table</h5>
    <button type="button" class="close" (click)="modal.close()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label class="form-group mandatory">{{pageLabels.Signals.labelName}}:</label>
        <div class="">
          <div class="input-group input-group-sm form-group">
            <input name="organizationsearch" class="form-control" id="searchBox" type="search" placeholder="Filter Signals"
              aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text p-0">
                <button class="btn btn-sm btn-search" id="searchButton" type="submit"><i class="icon-search"></i></button>
              </span>
            </div>
          </div>
          <!-- <div class="search">
                <div class="form-group has-search">
                  <span class="icon-search form-control-feedback"></span>
                  <input type="text" class="form-control" placeholder="Filter Signals" />
                </div>
              </div> -->
          <div class="table-fixed">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="">{{pageLabels.SignalName.labelName}}</th>
                  <th scope="col" class="">{{pageLabels.SignalType.labelName}}</th>
                  <th scope="col" class="text-center">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="sel-all" class="custom-control-input" [checked]="selAll"
                        (change)="selectSignal(-1)" />
                      <label class="custom-control-label mr-n2" for="sel-all"></label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="!isSignalsDataLoading" >
                <ng-container *ngIf="signals.length > 0" >
                  <tr *ngFor="let signal of signals; index as i">

                    <td><i class="pr-1 {{signal.iconFile}}"></i>
                      {{ signal.fullLabel }}
                      {{ signal.name }}</td>
                    <!-- <td><i class="pr-1 icon-sig-{{ signal.type }}"></i>{{ pathName(signal) }}</td> -->
                    <td>{{ signal.type }}</td>
                    <td class="text-center">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="sel-{{ i }}" class="custom-control-input" [checked]="signal.sel"
                          (change)="selectSignal(i)" />
                        <label class="custom-control-label mr-n2" for="sel-{{ i }}"></label>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="signals.length === 0" >
                  <tr>
                    <td colspan="3">
                      No Data Found.
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              <tbody *ngIf="isSignalsDataLoading">
                <tr>
                  <td colspan="3">
                    <div>
                        <i
                        class="fa fa-spinner fa-2x fa-spin fa-fw"
                      ></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <div class="form-group">
      <label for="title" class="col-form-label">{{pageLabels.Title.labelName}}:</label>
      <div class="">
        <input type="text" class="form-control" id="title" [(ngModel)]="dataTableWidget.title" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-12 col-form-label mandatory">{{pageLabels.Display.labelName}}:</label>

      <div class="col-3">
        <div class="custom-control custom-switch" style="padding-top: calc(.25rem + 1px);">
          <input type="checkbox" class="custom-control-input" id="showOrg"  (change)="onOrgCheckboxChange($event)" [(ngModel)]="dataTableWidget.displayOrg" />
          <label class="custom-control-label" for="showOrg">{{pageLabels.Organization.labelName}}</label>
        </div>
      </div>
      <div class="col-3">
        <div class="custom-control custom-switch" style="padding-top: calc(.25rem + 1px);">
          <input type="checkbox" class="custom-control-input" id="showLoc" (change)="onLocCheckboxChange($event)"  [(ngModel)]="dataTableWidget.displayLoc" />
          <label class="custom-control-label" for="showLoc">{{pageLabels.Location.labelName}}</label>
        </div>
      </div>
      <div class="col-3">
        <div class="custom-control custom-switch" style="padding-top: calc(.25rem + 1px);">
          <input type="checkbox" class="custom-control-input" id="showAsset" (change)="onAssetCheckboxChange($event)" [(ngModel)]="dataTableWidget.displayAsset" />
          <label class="custom-control-label" for="showAsset">{{pageLabels.Asset.labelName}}</label>
        </div>
      </div>
      <div class="col-3">
        <div class="custom-control custom-switch" style="padding-top: calc(.25rem + 1px);">
          <input type="checkbox" class="custom-control-input" id="showSensor" [(ngModel)]="dataTableWidget.displaySensor" />
          <label class="custom-control-label" for="showSensor">{{pageLabels.SourceSensor.labelName}}</label>
        </div>
      </div>
      <div class="col-3">
        <div class="custom-control custom-switch" style="padding-top: calc(.25rem + 1px);">
          <input type="checkbox" class="custom-control-input" id="showStatus" [(ngModel)]="dataTableWidget.displayStatus" />
          <label class="custom-control-label" for="showStatus">{{pageLabels.Status.labelName}}</label>
        </div>
      </div>
      <div class="col-3">
        <div class="custom-control custom-switch" style="padding-top: calc(.25rem + 1px);">
          <input type="checkbox" class="custom-control-input" id="showState" [(ngModel)]="dataTableWidget.displayState"/>
          <label class="custom-control-label" for="showState">Alarm State</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group row pt-1 mb-0">
      <div class="col"></div>
      <div class="col-auto pr-0">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary" (click)="modal.close('save')">
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template>




<!-- <div class="p-2 border">
  <div class="text-right chartConfigureIcon"><i class="icon-cog font-15" (click)="onClickOfCustomizeDataTable()"></i></div>
  <div class="text-center con-wid-preview" *ngIf="!isDataTableConfigured">
      <img class="img-fluid img-fluid-custom" src="../../../../../assets/images/configure_data_table.jpg">
  </div>
  <div *ngIf="isDataTableConfigured" style="width: 100%; height: 350px" >
    <div class="p-2 border">
      <h4>Data Table</h4>
      <ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="ColumnMode.force"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        [limit]="6"
        rowHeight="auto"
        [reorderable]="reorderable"
      >
      </ngx-datatable>
    </div>
  </div>
</div> -->


<!-- Modal Data Table Configuration -->
<!-- <div id="configure-data-table-modal" class="modal">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Configure Data Table</h5>
              <button type="button" class="close" (click)="onClickOfCustomizeDataTableModalClose()">&times;</button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="temp" id="title-name">Title (Optional):</label>
                    <input type="text" maxlength="10"
                      class="form-control" id="title" placeholder="Title" name="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div style="text-align: left;"> -->
                    <!-- <div class="form-group"> -->
                    <!-- <label for="typeahead-config" id="org-filter" class="mr-2">Type to filter events:</label> -->
                    <!-- <div class="input-group input-group-sm">
                      <input name="organizationsearch"  class="form-control" id="searchBox"
                        type="search" placeholder="Search" aria-label="Search">
                      <div class="input-group-append">
                        <span class="input-group-text p-0">
                          <button  class="btn btn-sm btn-search" id="searchButton"
                             type="submit"><i class="icon-search"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="sigSelected" class="custom-control-input" />
                    <label class="custom-control-label" for="sigSelected">Selected</label>
                  </div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" id="sigUnSelected" class="custom-control-input"/>
                    <label class="custom-control-label" for="sigUnSelected">Unselected</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <ngx-datatable
        class="bootstrap"
        [loadingIndicator]="loadingIndicator"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        [limit]="6"
        rowHeight="auto"
        [reorderable]="reorderable"
      >
      </ngx-datatable>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" id="grant_user_btncancel"
                  (click)="onClickOfCustomizeDataTableModalClose()">Cancel</button>
              <button type="button" class="btn btn-info btn-sm" id="" (click)="saveDataTableConfiguration()">
                  Save
              </button>
          </div>
      </div>
  </div>
</div> -->
