<div id="login-page-container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
            <img style="height:70px;" src="../../assets/images/VOTM_login_logo.png">
        </div>
        <hr />
        <div class="modal-body">
          <form action="" role="form">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" style="border-bottom: 1px solid white; width:250px; margin-left:167px" name="username" id="username" placeholder="Email" required />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" style="border-bottom: 1px solid white; width:250px; margin-left:167px;" placeholder="Password" required />
  
              </div>
  
            </div>
  
            <div class="form-group text-center">
              
              <a href="#" class="btn btn-link" style=" color:rgb(0, 170, 172); margin-top:10px;">Forgot Password</a>
              <br>
              <br>
              <button type="submit" style="background-color: rgb(0, 170, 172);border-color: rgb(0, 170, 172)" class="btn btn-success btn-lg" (click)="Login()">Login</button>
              
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>