#login-page-container {
	text-align: center;	
	display:grid;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #231f20;
}

#login-form {
	border-radius: 0px;
	margin-top: 5px;
	padding-top: 2px;
	text-align: center;
	justify-items: center;
	align-items: center;	
	padding-bottom: 3px;
}

.login-inp{
	color: white;
	text-align: center;
	justify-items: center;
	align-items: center;
}
.login-inp-container{
    width: 80%;
    border-bottom: 0px solid white;
    width:315px; 
    margin-left:80px;
}

.modal-content{
	background-color: #231f20;
	height: 352px;
	width: 500px;
	border: 0px;
}
.btn-link{
	color:white;
}
.modal-heading h2{
	color:#ffffff;
}
