.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.menu-opened{
    margin-top: 75px;
    margin-right: 10px;
    margin-left: 185px;
    width: inherit;
}

.menu-closed{
    margin-top: 75px;
    margin-right: 10px;
    margin-left: 60px;
    width: inherit;
}

.main-body{
    margin-bottom: 20px;
    margin-right:15px;
}

@media (max-width: 768px) {
    .menu-opened{
        margin-top: 75px;
        margin-right: 10px;
        margin-left: 60px;
        width: inherit;
    }
    
    .menu-closed{
        margin-top: 75px;
        margin-right: 10px;
        margin-left: 15px;
        width: inherit;
    }
    
}
