<form class="form container"> 
  <div class="row">
    <h4 class="col-12">Create Location:</h4>
      <div class="col-md-4">      
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>
      </div>
      <div class="col-md-4">
          <label for="primaryContact"><b>Primary Contact:</b></label>
          <input type="text" placeholder="Enter Contact" name="primaryContact">
        </div>

        <div class="col-md-4">
            <label for="primarydistribute"><b>Primary Distributor:</b></label>
            <input type="text" placeholder="Enter Primary Distributor" name="primarydistribute" required>
          </div>
          <div class="col-md-4">
              <label for="parentorganization"><b>Parent Organization Name:</b></label>
              <input type="text" placeholder="Enter parent Organization" name="parentorganization" required>
            </div>
            <div class="col-md-4">
              <label for="parentLoc"><b>Parent Location Name:</b></label>
              <input type="text" placeholder="Enter parent location" name="parentLoc" required>
            </div>
      <div class="col-md-4">
          <label for="locationType"><b>Location Type: </b></label>
          <input type="text" placeholder="Enter Location Type" name="locationType" required>
      </div>
      
      <div class="col">
        <label for="Description"><b>Location Description:</b></label>
        <input type="text" placeholder="Enter Description" name="Description">
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <label for="geofence"><b>Geo Fence:</b></label>
          <label class="radio-inline">
          <input type="radio" name="geofence" onClick='' checked>Radius
          </label>
          <label class="radio-inline">
            <input type="radio" name="geofence">Square
          </label>
          <label class="radio-inline">
            <input type="radio" name="geofence">Long/Lat Array
          </label>
      </div> 
      <div class="col-md-6">
        <label for="geoLocation"><b>Geo Location:</b></label>
        <input type="text" style="width: 26%" placeholder="Longitude" name="geoLocation"> / <input type="text" style="width: 26%" placeholder="Latitude" name="geoLocation">
        <button type="button" class="btn-mrgin"><i class="fa fa-bullseye"></i></button>
      </div>
  </div> 
  <div class="row">
      <div class="col">
          <h4><label for="orgType">Billing Address:</label></h4>
          <div class="row">
              <div class="col-md-6">
                  <label for="orgType"><b>Street Name:</b></label>
                  <input type="text" placeholder="Street Name" name="address1">
              </div>
              <div class="col-md-6">
                  <label for="orgType"><b>Apt/Suite Number:</b></label>
                  <input type="text" placeholder="Apt/Suite Number" name="address2">
              </div>
              <div class="col-md-3">
                  <label for="orgType"><b>City:</b></label>
                  <input type="text" placeholder="City" name="orgType">
              </div>
              <div class="col-md-3">
                  <label for="orgType"><b>Zip Code:</b></label>
                  <input type="text" placeholder="Zip Code" name="orgType">
              </div>
              <div class="col-md-3">
                  <label for="orgType"><b>State:</b></label>
                  <select name="State" class="drop-down">
                      <option value="0">Select:</option>
                      <option value="mn">MN</option>
                      <option value="ok">OK</option>
                      <option value="oh">OH</option>
                    </select>
              </div>
              <div class="col-md-3">
                  <label for="orgType"><b>Country:</b></label>
                  <select name="Country" class="drop-down">
                      <option value="0">Country</option>
                      <option value="us">United States</option>
                      <option value="esp">Spain</option>
                      <option value="brazil">Brazil</option>
                    </select>
                </div>
          </div>   
  </div>
    </div>

  <div class="row">
      <div class="col-md-4">
          <label for="DefaultLang"><b>Default Language: </b></label>
            <select name="language" class="drop-down">
              <option value="0">Select</option>
              <option value="1">English(United States)</option>
              <option value="2">Spanish</option>
              <option value="3">Czech</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="unitsOfMeasure"><b>Units of Measure: </b></label>
            <br>
            <button class="btn btn-secondary" (click)="openmodal()">{{UOM}}</button>
          </div>
      <div class="col-md-4">
          <label for="locImage"><b>Location Image: </b></label>
          <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
          <input #file type="file" accept='image/*' (change)="preview(file.files)" />
          <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>
  </div>
    
      <!-- <button type="submit" class="button">+ Location</button>
      <button type="submit" class="button">+ Asset</button>
      <button type="submit" class="button">Associate Signal</button> -->
      <button routerLink="/loc/home" type="button" class="btn btn-secondary btn-lg button-mod">Cancel</button>
    <button type="submit" class="btn btn-secondary btn-lg button-mod">Delete</button>
    <button type="submit" class="btn btn-secondary btn-lg button-mod btn-color">Save</button>
  </form>

 <!-- The Modal -->
 <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <!-- <span class="close" >&times;</span> -->
      <div class="row">
          <div class="col-mod-6">
              <label for="UOM"><b>Units of Measure : </b></label>
              <br>
              <label class="radio-inline">
                <input type="radio" name="UOM" value="SI" checked (change)="onUnitChange($event)"> SI
              </label>
              <br>
              <label class="radio-inline">
                <input type="radio" name="UOM" value="Imperial" (change)="onUnitChange($event)">Imperial
              </label>
              <br>
              <label class="radio-inline">
                <input type="radio" name="UOM" value="Metric" (change)="onUnitChange($event)">Metric
              </label>
              <br>
              <label class="radio-inline">
                  <input type="radio" name="UOM" value="Custom" (change)="onUnitChange($event)">Custom
                </label>
          </div>
          <div class="col-md-6">
              <label for="Distance"><b>Distance : </b></label>
              <select name="distance" class="drop-down drop-modal">
                <option value="0">Select</option>
                <option value="M">Meters</option>
                <option value="F">Feet</option> 
              </select>
              <br>
              <label for="Tempreture"><b>Tempreture : </b></label>
              <select name="temperature" class="drop-down drop-modal">
                <option value="0">Select</option>
                <option value="F">Fahrenheit</option>
                <option value="C">Celsius</option> 
                <option value="K">Kelvin</option>
              </select>
              <br>
      <label for="Mass"><b>Mass : </b></label>
              <select name="mass" class="drop-down drop-modal">
                <option value="0">Select</option>
                <option value="K">Kilograms</option>
                <option value="P">Pound</option> 
              </select>
          </div>
      </div>
<div>
    <button type="button" class="btn button-mod btn-secondary" (click)="closemodal()">Cancel </button>
    <button type="submit" class="btn button-mod btn-color" style="float: left;" (click)="closemodal()">Save</button>
    </div>
</div>
  </div>