<app-votm-cloud-confim-dialog (onClose)="deleteAssetById($event)" #confirmBox message="{{message}}"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>

<app-votm-cloud-confim-dialog (onClose)="removeTemplate($event)" #templateConfirmBox
  message="{{templateWarningMessage}}" confirmName="Yes" cancelName="No" headerMessage="Warning">
</app-votm-cloud-confim-dialog>

<app-votm-cloud-confim-dialog (onClose)="changeImage($event)" #imageChangeConfirmBox
  message="{{templateWarningMessage}}" confirmName="Yes" cancelName="No" headerMessage="Warning">
</app-votm-cloud-confim-dialog>

<app-votm-cloud-confim-dialog (onClose)="changeDocumentation($event)" #documentChangeConfirmBox
  message="{{templateWarningMessage}}" confirmName="Yes" cancelName="No" headerMessage="Warning">
</app-votm-cloud-confim-dialog>

<div class="asset-outside-border">
  <form  class="form-container asset-create-font create-asset-container 
    border shadow" (ngSubmit)="onAssetSubmit()" novalidate>
    <div class="row">
      <h4 class="col-md-6">Edit Template</h4>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label for="assetName"><b>* Name:</b></label>
        <input type="text" [(ngModel)]="asset.assetName" class="form-control asset-create-font"
          [disabled]="pageType==='View'" #assetName="ngModel" placeholder="Enter Name" name="assetName1" required
          maxlength="50">
        <div *ngIf="assetName.dirty && assetName.invalid">
          <app-votm-cloud-validator message="Name is required"></app-votm-cloud-validator>
        </div>
        <app-votm-cloud-char-validator [condition]="asset.assetName && asset.assetName.length>=50">
        </app-votm-cloud-char-validator>
      </div>

      <div class="col-md-2">
        <label for="assetId"><b>Template ID:</b></label>
        <input type="text" [(ngModel)]="asset.assetNumber" class="form-control asset-create-font"
          [disabled]="pageType==='View'" #assetId="ngModel" placeholder="Enter Asset ID" name="assetNumber"
          maxlength="50">
      </div>

      <div class="col-md-2">
        <label for="parentLoc"><b>* Template Name:</b></label>
        <input type="text" [(ngModel)]="asset.parentAssetName" placeholder="Enter Template Name"
          class="form-control asset-create-font" name="parentAsset">
      </div>

      <div class="col-md-2">
        <label for="asset-Type"><b>Asset Type:</b></label>
        <input type="text" [(ngModel)]="asset.assetType" placeholder="Enter Asset Type" [disabled]="pageType==='View'"
          #assetType="ngModel" name="assetType" (blur)="onAssetTypeChange()" maxlength="50"
          class="form-control asset-create-font">
      </div>


      <div class="col-md-2">
        <label for="assetType"><b>* Organization:</b></label>
        <input for="parentorganizationname" class="form-control asset-create-font" type="text"
          placeholder="Enter Organization">
      </div>

    </div>


    <div class="row asset-create-font">
      <div class="col mb-12 asset-des">
        <label for="f-description"><b>Description :</b></label>
        <textarea class="form-control asset-create-font" [disabled]="pageType==='View'" [(ngModel)]="asset.description"
          name="locDescription" rows="5" id="f-description"></textarea>
      </div>
    </div>

    <div class="row asset-des">
      <div class="col-md-3">
        <label for="assetImage"><b>Asset Image : </b></label>
        <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
        <input  #file type="file" accept='image/*' class="form-control-file asset-create-font"
          (change)="onImageChangeClick()" />
        <label style="font-weight: bold" *ngIf="asset && asset.logo"></label>
        <img [src]="imgURL" height="200" width="235" *ngIf="imgURL">
      </div>
      <!-- (change)="(!asset.templateId||(asset.templateId && isConfirmToChangeImage==='change'))?onFileChange($event):null" -->
      <div class="col-md-3 form-group">
        <label for="exampleFormControlFile1"><b>Documentation:</b></label>
        <input type="file" id="documentUpload" name="documentUpload"
          (change)="onDocChangeClick();" class="form-control-file asset-create-font" #fileInput>
        <!-- <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button> -->
        <!-- <label style="font-weight: bold" *ngIf="asset && asset.logo">Image</label> -->
        <a *ngIf="asset.documentation" style="color:blue;"
          (click)="onFileOpen()"><u>{{asset.documentation.fileName}}</u></a>
      </div>
      <div class="col-md-3" *ngIf="asset.templateId">
        <label for="asset-temp"><b>* Asset Template</b></label>
        <br>
        <label for="temp-contain">{{asset.templateName? asset.templateName: '-'}}</label>
        <br>
        <div>
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="acceptedTemplateChages" (click)="onTemplateChangeAccept($event)"
                name="templateAccept">Accept Template Changes</label>
          </div>
          <!-- <input class="form-check-input templt-radio" type="radio"> -->
          <!-- <label for="temp-change" class="templt-label">Accept Template Changes</label> -->
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12 action-btn-asset">

        <button id="nest-loc-create" type="button" class="btn btn-secondary button-left-mod"
          routerLink="/asset/signal">Associate Signal</button>
        <button id="template-cancel" for="form-cancel" type="button" (click)="onCancelClick($event)"
          class="btn btn-secondary button-right-mod">Cancel</button>
        <button id="asset-delete" type="button" 
          (click)="openConfirmDialog()" class="btn btn-secondary button-right-mod">Delete</button>
        <button id="asset-save" type="submit" 
          class="btn btn-secondary button-right-mod btn-color">Save</button>
      </div>
    </div>



  </form>
</div>

