<app-votm-cloud-confim-dialog (onClose)="deleteTemplateById($event)" #confirmBox message="{{templateDeletemessage}}"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>
<div class="d-flex flex-row mt-5">
  <ul class="nav nav-tabs nav-tabs-vertical nav-tabs-left pt-3" aria-orientation="vertical">
    <li class="nav-item" placement="top" ngbTooltip="Details">
      <a class="nav-link tab-icon active" id="template-details-tab" name="template-view-edit" href="#template-details"
        data-toggle="tab" role="tab" aria-controls="template-details" aria-selected="true"><i
          class="icon-asset-robot"></i>
        </a>
        <!-- Details -->
    </li>
    <li class="nav-item" placement="top" ngbTooltip="Signal Type Association">
      <a class="nav-link tab-icon" id="template-signal-tab" name="signal-association-edit" href="#template-signal"
        data-toggle="tab" role="tab" aria-controls="template-signal" aria-selected="false"><i class="icon-cell-tower"></i>
        </a>
        <!-- Signal Type Association -->
    </li>
    <!-- <div class="row"> -->
    <!-- <div class="col-md-12"> -->
    <!-- <h4 class="col-md-6">Edit Template</h4> -->

    <!-- </div>
      </div> -->
  </ul>


<div class="tab-content bg-white w-100">

  <div class="template-outside-border tab-pane fade show active border border-left-0 p-3" id="template-details" role="tabpanle"
    area-labelledby="template-details-tab">
    <div class="position-relative">
      <div class="lock-tab border border-bottom-0">
        <i class="icon-lock edit-view-lock" name="templatetlockbutton" *ngIf="pageType && pageType.toLowerCase() === 'view'"
          (click)="onLockClick()"></i>
        <i class="icon-lock-open edit-view-lock" name="templateunlockbutton"
          *ngIf="pageType && pageType.toLowerCase() === 'edit'" (click)="onLockClick()"></i>
        <!-- lock buttons end -->
      </div>
    </div>
    <form #templateForm="ngForm" class="asset-create-font create-asset-container" (ngSubmit)="onTemplateSubmit()"
      novalidate>

      <!-- <div class="row">
        <div class="col-md-12 mb-3">
          <h4 class="col-md-6">Edit Template</h4>
          <i class="icon-lock edit-view-lock" name="templatetlockbutton" *ngIf="pageType.toLowerCase() === 'view'"
            (click)="onLockClick()"></i>
          <i class="icon-lock-open edit-view-lock" name="templateunlockbutton" *ngIf="pageType.toLowerCase() === 'edit'"
            (click)="onLockClick()"></i>
        </div>
      </div> -->

          <div class="row">
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
              <div class="form-group">
                <label class="" id="template-name-label">* Template Name:</label>
                <input type="text" id="template-name-input" [(ngModel)]="template.templateName"
                  class="form-control form-control-sm" [disabled]="pageType==='View'" #templateName="ngModel"
                  placeholder="Enter Template Name" name="templateName1" required maxlength="50">
                <div *ngIf="templateName.dirty && templateName.invalid">
                  <app-votm-cloud-validator message="Name is required"></app-votm-cloud-validator>
                </div>
                <app-votm-cloud-char-validator [condition]="template.templateName && template.templateName.length>=50">
                </app-votm-cloud-char-validator>
              </div>

            </div>

            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
              <div class="form-group">
                <label class="" id="template-org-lbl" for="assetparentOrg">Template Owner:</label>
                <!-- <select [(ngModel)]="template.organizationId" name="organizationName" disabled
                                  class="col-sm-7 drop-down form-control asset-create-font" (change)="onParentOrgChange($event)"
                                  #organizationName="ngModel">
                                  <option *ngFor="let org of organizationList" [value]="org.organizationId">
                                    {{org.name}}
                                  </option>
                                </select> -->
                <input for="parentorganizationname" id="template-org-input" disabled
                  class="form-control form-control-sm" type="text" placeholder="{{template.organizationName}}"
                  [(ngModel)]="template.organizationName" name="organizationName" #organizationName="ngModel">
                <div *ngIf="organizationName.dirty && organizationName.invalid">
                  <app-votm-cloud-validator message="Organization is required"></app-votm-cloud-validator>
                </div>
              </div>
              <!-- <div class="row form-group">
                                <label class="col-sm-4 col-form-label" for="assetType">* Organization:</label>
                                <input for="parentorganizationname" class="col-sm-8 form-control asset-create-font" type="text"
                                  placeholder="Enter Organization">
                              </div> -->
            </div>

            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
              <div class="form-group">
                <label class="" id="template-asset-label" for="assetName">Default Asset Name:</label>
                <input type="text" id="template-asset-input" [(ngModel)]="template.assetName" disabled
                  class="form-control form-control-sm" name="parentAsset">
              </div>
              <!-- <div class="row form-group">
                              <label class="col-sm-5 col-form-label" for="parentLoc">* Asset Name:</label>
                              <input type="text" [(ngModel)]="template.parentAssetName" placeholder="Enter Asset Name"
                                class="col-sm-7 form-control asset-create-font" name="parentAsset">
                          </div> -->
            </div>

            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
              <div class="form-group">
                <label class="" id="template-asset-lbl-type" for="asset-Type">Asset Type:</label>
                <input type="text" id="template-asset-type" [(ngModel)]="template.assetType"
                  placeholder="Enter Asset Type" [disabled]="pageType==='View'" #assetType="ngModel" name="assetType"
                  (blur)="onAssetTypeChange()" maxlength="50" class="form-control form-control-sm">
              </div>
            </div>

            <div class="col-6 col-md-2 col-lg-2 col-xl-1">
              <div class="form-group">
                <label class="" id="template-asset-lbl-icon">Icon:</label>
                <ng-select id="iconDropDown" class="custom" [searchable]="false" [clearable]="false">
                  <ng-option value="company"><i class="icon-asset-motor-tmpl"></i></ng-option>
                  <ng-option value="company"><i class="icon-asset-robot-tmpl"></i></ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
              <div class="form-group">
                <label class="" id="template-update-lbl">Last Updated:</label>
                <input type="text" id="template-last-updated" class="form-control form-control-sm" disabled readonly
                  placeholder="08/21/2019 13:24" name="updateTemplateTime">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 col-xl-1">
              <div class="form-group">
                <label class="" id="template-update-user-lbl">Updated by:</label>
                <input type="text" id="template-last-updated-user" class="form-control form-control-sm" disabled readonly
                  placeholder="Sean Haley" name="updateTemplateUser">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
              <div class="form-group">
                <label class="" id="template-linked-lbl">Linked Assets:</label>
                <input type="text" id="template-linked" class="form-control form-control-sm" disabled readonly placeholder="22"
                  name="templatedAssetLinked">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2 col-xl-2">
              <div class="form-group">
                <label class="" id="template-version-lbl">Version:</label>
                <input type="text" id="template-version" class="form-control form-control-sm" disabled readonly placeholder="1"
                  name="templateVersion">
              </div>
            </div>
          </div>

      <div class="row asset-create-font">

        <div class="col asset-des">
          <div class="form-group">
            <label class="" id="template-des-lbl" for="f-description">Description:</label>
            <textarea class="form-control form-control-sm" id="template-des-input" [disabled]="pageType==='View'"
              [(ngModel)]="template.description" name="locDescription" rows="2" id="f-description"></textarea>
          </div>
        </div>

      </div>

      <div class="row asset-des">
        <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <label for="assetImage" id="template-image-lbl">Asset Image : </label>

          <div class="custom-file">
            <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <img [src]="imgURL" height="200" width="235" *ngIf="imgURL">
          </div>

         <!-- <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
           <div class="custom-file">
            <input #file type="file" accept='image/*' id="template-image-upload-btn" [disabled]="pageType==='View'"
              class="form-control form-control-sm custom-file-input" (change)="onImageChangeClick()" />
            <label style="font-weight: bold" id="template-image-upload" *ngIf="template && template.logo" class="custom-file-label"></label>
            <img [src]="imgURL" height="200" width="235" *ngIf="imgURL">
          </div> -->
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-xl-2">
          <label for="exampleFormControlFile1" id="template-Doc-upload-lbl">Documentation:</label>
          <div class="custom-file">
            <input class="custom-file-input form-control form-control-sm" type="file" id="documentUpload" [disabled]="pageType==='View'" name="documentUpload"
            (change)="onDocChangeClick();">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <a *ngIf="template.fileStore" style="color:blue;"
            (click)="onFileOpen()"><u>{{template.fileStore.fileName}}</u></a>
          </div>
          <!-- <input type="file" id="documentUpload" [disabled]="pageType==='View'" name="documentUpload"
            (change)="onDocChangeClick();" class="form-control form-control-sm custom-file-input" #fileInput> -->

        </div>
      </div>
      <div class="mb-0 text-right">
        <button id="template-cancel" id="template-cancel-btn" for="form-cancel" type="button"
          (click)="onCancelClick($event)" class="btn btn-secondary btn-sm mr-2"><i class="icon-asset-list"></i>Return to List</button>
        <button id="asset-delete" id="template-delete-btn" *ngIf="pageType !=='View'" type="button"
          (click)="openConfirmDialog()" class="btn btn-secondary btn-sm mr-2"><i class="icon-trash"></i>Delete</button>
        <button id="asset-save" id="template-save-btn" *ngIf="pageType !=='View'" type="submit"
          class="btn btn-info btn-sm"><i class="icon-asset-robot-tmpl"></i>Save</button>
      </div>

    </form>

  </div>

  <div class="tab-pane fade border border-left-0 p-3" id="template-signal" role="tabpanle" area-labelledby="template-signal-tab">
    <!-- <app-votom-cloud-assets-signal></app-votom-cloud-assets-signal> -->
    <app-votm-cloud-templates-signal [imgURL]="imgURL" [template]="template"></app-votm-cloud-templates-signal>
  </div>

</div>
</div>
