<app-votm-cloud-confim-dialog (onClose)="deleteAssetById($event)" #confirmBox message="{{message}}"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>
 
<ul class="nav nav-tabs mt-3">
  
  <li class="nav-item">
    <a class="nav-link active" id="template-details-tab" name="template-view-edit" href="#template-details"
      data-toggle="tab" role="tab" aria-controls="template-details" aria-selected="true"><i class="fa fa-industry"></i>
      Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="template-signal-tab" name="signal-association-edit" href="#template-signal"
      data-toggle="tab" role="tab" aria-controls="template-signal" aria-selected="false"><i class="fa fa-podcast"></i>
      Signal</a>
  </li>
  <!-- <div class="row"> -->
      <!-- <div class="col-md-12"> -->
        <!-- <h4 class="col-md-6">Edit Template</h4> -->
        <i class="fa fa-lock edit-view-lock" name="templatetlockbutton" *ngIf="pageType.toLowerCase() === 'view'"
          (click)="onLockClick()"></i>
        <i class="fa fa-unlock edit-view-lock" name="templateunlockbutton" *ngIf="pageType.toLowerCase() === 'edit'"
          (click)="onLockClick()"></i>
      <!-- </div>
    </div> -->
</ul>


<div class="tab-content">
  <div class="template-outside-border tab-pane fade show active" id="template-details" role="tabpanle"
    area-labelledby="template-details-tab">

    <form #templateForm="ngForm" class="asset-create-font create-asset-container" (ngSubmit)="onTemplateSubmit()" novalidate>

      <!-- <div class="row">
        <div class="col-md-12 mb-3">
          <h4 class="col-md-6">Edit Template</h4>
          <i class="fa fa-lock edit-view-lock" name="templatetlockbutton" *ngIf="pageType.toLowerCase() === 'view'"
            (click)="onLockClick()"></i>
          <i class="fa fa-unlock edit-view-lock" name="templateunlockbutton" *ngIf="pageType.toLowerCase() === 'edit'"
            (click)="onLockClick()"></i>
        </div>
      </div> -->

      <div class="row">

        <div class="col-5">
          <div class="row form-group">
            <label class="col-sm-5 col-form-label" id="template-name-label" for="assetName"><b>* Template Name:</b></label>
            <input type="text" id="template-name-input" [(ngModel)]="template.templateName" class="col-sm-7 form-control asset-create-font"
              [disabled]="pageType==='View'" #templateName="ngModel" placeholder="Enter Template Name"
              name="templateName1" required maxlength="50">
            <div *ngIf="templateName.dirty && templateName.invalid">
              <app-votm-cloud-validator message="Name is required"></app-votm-cloud-validator>
            </div>
            <app-votm-cloud-char-validator [condition]="template.templateName && template.templateName.length>=50">
            </app-votm-cloud-char-validator>
          </div>

        </div>

        <div class="col-4">
          <div class="row form-group">
            <label class="col-sm-5 col-form-label" id="template-asset-label" for="assetName"><b>Asset Name:</b></label>
            <select id="template-asset-dropdown" [(ngModel)]="template.assetId" name="asset" disabled
              class=" col-sm-7 drop-down form-control asset-create-font" #parentAsset="ngModel">
              <option *ngFor="let asset of parentAssetListForDropDown" [value]="asset.assetId">
                {{asset.assetName}}
              </option>
            </select>
          </div>
          <!-- <div class="row form-group"> 
                <label class="col-sm-5 col-form-label" for="parentLoc"><b>* Asset Name:</b></label>
                <input type="text" [(ngModel)]="template.parentAssetName" placeholder="Enter Asset Name"
                  class="col-sm-7 form-control asset-create-font" name="parentAsset">
            </div> -->

        </div>

        <div class="col-2">
          <div class="row form-group">
            <label class="col-sm-5 col-form-label" for="asset-Type"><b>Asset Type:</b></label>
            <input type="text" [(ngModel)]="template.assetType" placeholder="Enter Asset Type"
              [disabled]="pageType==='View'" #assetType="ngModel" name="assetType" (blur)="onAssetTypeChange()"
              maxlength="50" class="col-sm-7 form-control asset-create-font">
          </div>
        </div>

        <div class="col-5">
          <div class="row form-group">
            <label class="col-sm-5 col-form-label" for="templateId"><b>Template ID:</b></label>
            <input type="text" [(ngModel)]="template.templateId" class="col-sm-7 form-control asset-create-font"
              disabled readonly #templateId="ngModel" placeholder="Template ID" name="assetNumber" maxlength="50">
          </div>
        </div>

        <div class="col-4">
          <div class="row form-group">
            <label class="col-sm-5 col-form-label" for="assetparentOrg"><b>* Owning Organization:</b></label>
            <!-- <select [(ngModel)]="template.organizationId" name="organizationName" disabled
              class="col-sm-7 drop-down form-control asset-create-font" (change)="onParentOrgChange($event)"
              #organizationName="ngModel">
              <option *ngFor="let org of organizationList" [value]="org.organizationId">
                {{org.name}}
              </option>
            </select> -->
            <input for="parentorganizationname" disabled class="col-sm-7 form-control asset-create-font" type="text"
              placeholder="{{org.name}}">
            <div *ngIf="organizationName.dirty && organizationName.invalid">
              <app-votm-cloud-validator message="Organization is required"></app-votm-cloud-validator>
            </div>
          </div>
          <!-- <div class="row form-group">
            <label class="col-sm-4 col-form-label" for="assetType"><b>* Organization:</b></label>
            <input for="parentorganizationname" class="col-sm-8 form-control asset-create-font" type="text"
              placeholder="Enter Organization">
          </div> -->
        </div>

      </div>


      <div class="row asset-create-font">

        <div class="col asset-des">
          <div class="row form-group">
              <label class="col-sm-2 col-form-label" for="f-description"><b>Description :</b></label>
              <textarea class="col-sm-10 form-control asset-create-font" [disabled]="pageType==='View'"
                [(ngModel)]="template.description" name="locDescription" rows="3" id="f-description"></textarea>
          </div>
        </div>

      </div>

      <div class="row asset-des">
        <div class="col-md-6">
          <label for="assetImage"><b>Asset Image : </b></label>
          <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
          <input #file type="file" accept='image/*' class="form-control-file asset-create-font"
            (change)="onImageChangeClick()" />
          <label style="font-weight: bold" *ngIf="template && template.logo"></label>
          <img [src]="imgURL" height="200" width="235" *ngIf="imgURL">
        </div>
        <div class="col-md-6 form-group">
          <label for="exampleFormControlFile1"><b>Documentation:</b></label>
          <input type="file" id="documentUpload" name="documentUpload" (change)="onDocChangeClick();"
            class="form-control-file asset-create-font" #fileInput>
          <a *ngIf="template.fileStore" style="color:blue;"
            (click)="onFileOpen()"><u>{{template.fileStore.fileName}}</u></a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 action-btn-asset">
          <button id="template-cancel" for="form-cancel" type="button" (click)="onCancelClick($event)"
            class="btn btn-secondary btn-sm button-right-mod">Cancel</button>
          <button id="asset-delete" type="button" (click)="openConfirmDialog()"
            class="btn btn-secondary btn-sm button-right-mod">Delete</button>
          <button id="asset-save" type="submit" class="btn btn-info btn-sm button-right-mod">Save</button>
        </div>

      </div>

    </form>

  </div>

  <div class="tab-pane fade" id="template-signal" role="tabpanle" area-labelledby="template-signal-tab">
    <!-- <app-votom-cloud-assets-signal></app-votom-cloud-assets-signal> -->
    <app-votm-cloud-templates-signal [imgURL]="imgURL" [template]="template"></app-votm-cloud-templates-signal>
  </div>

</div>