<div>
  <p-overlayPanel
    #op
    id="op"
    [appendTo]="'body'"
    [dismissable]="false"
    [showCloseIcon]="true"
  >
    <h6 *ngIf="selectedSignal">
      {{ selectedSignal.name }}&nbsp;
      <!-- <button type="text" pButton label="Edit"  (click)="op2.toggle($event)"></button> -->
      <a (click)="op2.toggle($event)"><i class="fa fa-pencil-square-o"></i></a
      >&nbsp; <a><i class="fa fa-exclamation-triangle"></i></a>&nbsp;
      <a><i class="fa fa-trash"></i></a>
    </h6>
  </p-overlayPanel>

  <p-overlayPanel #op2 [appendTo]="'body'">
    Edit content
  </p-overlayPanel>

  <!-- <h3>Drag and Drop to Table</h3>
<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column"   style="border: 1px solid">
        <div *ngFor="let car of availableCars"
        (onDragStart)="dragStart($event,car)" (onDragEnd)="dragEnd($event)">
          <i class="{{car.icon}}"></i>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 drop-column" pDroppable="cars"  style="border: 1px solid"
        (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedCar}">
        <img src="../../../../assets/images/images.jpg" width="100px">
        <div id="icon_{{i}}" *ngFor="let car of selectedCars; let i = index" >
          <div  style="display: inline-block; " >
            <i class="{{car.icon}}" (mouseenter)="op.show($event)"  ></i>
          </div>
        </div>
    </div>
</div> -->
  <form class="form">
    <h4 class="col">Associate Signal</h4>

    <div class="row org-create-font mar-top-30">
      <div class="col-md-4">
        <div class="enclosing-div">
          <h5>Available Signals</h5>
          <hr />
          <ul>
            <li *ngFor="let sensor of availableSignals; let sensorIndex = index;">
              <h6><i class="fa fa-plus"></i> &nbsp;{{ sensor.name }}</h6>
              <ul>
                <ng-container *ngIf="sensor.node.length > 0">

                  <li
                    *ngFor="let signal of sensor.node; let signalIndex = index;"
                  >
                  <img [src]="signal.image" style="cursor:pointer" width="40" height="40" id="signal_{{sensorIndex}}_{{signalIndex}}">
                    &nbsp; {{ signal.name }}
                  </li>
              </ng-container>
              </ul>
            </li>
          </ul>

          <!-- <img src="https://js.cx/clipart/ball.svg" style="cursor:pointer" width="40" height="40" id="ball"> -->
        </div>
      </div>

      <div class="col-md-8">
        <!-- <div class="enclosing-div container" pDroppable="signals" (onDrop)="drop($event)">
            <img src="../../../../assets/images/images.jpg" width="475px">
            <div id="icon_{{i}}" *ngFor="let signal of associatedSignals; let i = index" >
              <div  style="display: inline-block; " >
                <i class="{{signal.name}}" (mouseenter)="op.show($event)"  ></i>
              </div>
            </div>
          </div> -->

        <div

          class="enclosing-div"
          style="position: relative"
        >
          <img src="../../../../assets/images/images.jpg" width="400px" />
        </div>
      </div>
    </div>
    <br />
    <div class="col">
      <button
        id="asset-cancel"
        for="form-cancel"
        type="button"
        (click)="onCancelClick($event)"
        class="btn btn-secondary"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
