<div class="pt-2 pb-2 mb-3">
  <!-- Top Level Nav -->
  <ul class="nav nav-tabs pl-3" role="tablist">
    <li class="nav-item">
      <a class="nav-link active tab-icon" (click)="onClickOfNavTab('asset')" id="asset-tab" href="#asset-details-tab"
        data-toggle="tab" role="tab" aria-controls="asset-info" aria-selected="true"><i class="icon-asset-robot"></i>
        Asset</a>
    </li>
    <li class="nav-item nav-border-tab">
      <a class="nav-link tab-icon" id="asset-event-tab" (click)="onClickOfNavTab('event_logs')"
        href="#event-details-tab" data-toggle="tab" role="tab" aria-controls="event-details" aria-selected="false"><i
          class="icon-warn mr-1"></i>
        Event</a>
    </li>
    <li class="nav-item nav-border-tab">
      <a class="nav-link tab-icon" id="asset-dashboard1-tab" (click)="onClickOfNavTab('dashboard1')"
        href="#dashboard1-details-tab" data-toggle="tab" role="tab" aria-controls="dashboard1-details"
        aria-selected="false"><i class="icon-dashboard pr-1"></i>Dashboard1</a>
    </li>
  </ul>

  <!-- Second Level Nav -->

  <div class="tab-content w-100">

    <div class="tab-pane fade border border-top-0 p-3 mb-3 shadow show active" id="asset-details-tab"
      *ngIf="(!assetId && pageLabels) || (assetId && pageLabels && asset)" role="tabpanle"
      area-labelledby="asset-info-tab">
      <div class="d-flex flex-row">
        <ul class="nav nav-tabs nav-tabs-vertical nav-tabs-left pt-3" aria-orientation="vertical">
          <li class="nav-item" placement="top" ngbTooltip="Asset Details">
            <a class="nav-link tab-icon active" (click)="onClickOfNavTab('asset_details')" id="asset-details-tab"
              name="asset-view-edit" href="#asset-details" data-toggle="tab" role="tab" aria-controls="asset-details"
              aria-selected="true"><i class="icon-details"></i></a>
          </li>
          <li class="nav-item" placement="top" ngbTooltip="Associate Signals">
            <a class="nav-link tab-icon" id="asset-signal-tab" (click)="onClickOfNavTab('signal_association')"
              name="signal-association-edit" href="#asset-signal" data-toggle="tab" role="tab"
              aria-controls="asset-signal" aria-selected="false"><i class="icon-cell-tower"></i></a>
          </li>

          <li class="nav-item" placement="top" ngbTooltip="Child Assets">
            <a class="nav-link tab-icon" id="asset-child-tab"
              name="asset-child-edit" href="#asset-child" data-toggle="tab" role="tab"
              aria-controls="asset-child-nav" aria-selected="false"><i class="icon-asset-robot"></i></a>
          </li>

        </ul>
        <div class="tab-content w-100">
          <div class="tab-pane fade show active" *ngIf="(!assetId && pageLabels) || (assetId && pageLabels && asset)"
            id="asset-details" role="tabpanle" area-labelledby="asset-details-tab">
            <form #assetForm="ngForm" class="asset-create-font create-asset-container needs-validation"
              (ngSubmit)="onAssetSubmit()" novalidate>
           

              <div class="lock-tab border border-bottom-0">

                <i class="fa fa-lock edit-view-lock" name="assetlockbutton" *ngIf="pageType.toLowerCase() === 'view'"
                  (click)="onLockClick()"></i>
                <i class="fa fa-unlock edit-view-lock" name="assetunlockbutton"
                  *ngIf="pageType.toLowerCase() === 'edit'" (click)="onLockClick()"></i>

              </div>
              <div class="row">

                <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                  <!-- <div class="row form-group"> -->
                  <div class="form-row">
                    <div class="col-12 col-md-9 col-lg-8 form-group">
                      <label class="" id="assetLongName" votmrequired>Name:(Long)</label>
                      <input class="form-control form-control-sm" type="text" [(ngModel)]="asset.assetName"
                        [disabled]="pageType === 'View'" #assetName="ngModel" placeholder="Enter Name" id="assetName1"
                        name="assetName1" required maxlength="50" />
                      <div *ngIf="assetName.dirty && assetName.invalid">
                        <app-votm-cloud-validator message="Name is required"></app-votm-cloud-validator>
                      </div>
                      <app-votm-cloud-char-validator [condition]="asset.assetName && asset.assetName.length >= 50">
                      </app-votm-cloud-char-validator>
                      <!-- </div> -->
                    </div>

                    <div class="col-12 col-md-3 col-lg-4 form-group">
                      <!-- <div class="row form-group"> -->
                      <label class="" id="assetShortName">Short Name:</label>
                      <input class="form-control form-control-sm" type="text" [disabled]="pageType === 'View'"
                        placeholder="Short Name" id="assetNameShort" name="assetName2" required maxlength="10" />
                      <!-- <input class="form-control form-control-sm" type="text" [(ngModel)]="asset.assetName"
                        [disabled]="pageType === 'View'" #assetName="ngModel" placeholder="Enter Name" id="assetName1"
                        name="assetName1" required maxlength="50" /> -->
                      <!-- <div *ngIf="assetName.dirty && assetName.invalid">
                        <app-votm-cloud-validator message="Name is required"></app-votm-cloud-validator>
                      </div>
                      <app-votm-cloud-char-validator [condition]="asset.assetName && asset.assetName.length >= 50">
                      </app-votm-cloud-char-validator> -->
                      <!-- </div> -->
                    </div>
                  </div>
                </div>


                <div class="col-12 col-md-6 col-lg-4 col-xl-2 form-group">
                  <!-- <div class="row form-group"> -->
                  <label class="" id="assetparentOrg" votmrequired>Owning Organization:</label>

                  <!-- <select [(ngModel)]="asset.organizationId" id="organizationName" name="organizationName"
                    [disabled]="pageType==='View'" class="drop-down form-control form-control-sm"
                    (change)="onParentOrgChange($event)" #organizationName="ngModel">
                    <option *ngFor="let org of organizationList" [value]="org.organizationId">
                      {{org.name}}
                    </option>
                  </select> -->
                  <div class=""> 
                  <ng-select [disabled]="pageType==='View'" class="custom" #organizationName="ngModel"
                    [ngStyle]="{'background-color':pageType==='View'?'#e9ecef':'#fff'}" [multiple]="false"
                    [(ngModel)]="asset.organizationId" id="organizationName" name="organizationName"
                    placeholder="Choose Owning Organization" (change)="onParentOrgChange($event)" required>
                    <ng-option value="null" disabled selected>Organization</ng-option>
                    <ng-option *ngFor="let org of organizationList" [value]="org.organizationId">{{org.name}}
                    </ng-option>
                  </ng-select>
                </div>
                  <div *ngIf="organizationName.dirty && organizationName.invalid">
                    <app-votm-cloud-validator message="Organization is required"></app-votm-cloud-validator>
                  </div>
                  <!-- </div> -->
                </div>

                <div class="col-lg-4 col-xl-2">
                  <div class="form-group">
                    <label class="" id="assetIcon">Icon</label>
                    <!-- <div class="selectpicker drop-down"> -->

                      <ng-select 
                      id="iconDropDown"
                      class="custom"
                      [searchable]="false"
                      [clearable]="false"
                      placeholder="Choose Icon"
                      >
                        <ng-option value="company"><i class="icon-asset-motor-tmpl"></i></ng-option>
                        <ng-option value="company"><i class="icon-asset-motor"></i></ng-option>
                        <ng-option value="company"><i class="icon-asset-robot"></i></ng-option>
                      </ng-select>
                      <!-- <select class="selectpicker form-control-sm form-control" data-style-base="form-control">
                        <option data-icon="icon-org-company"></option>
                        <option data-icon="icon-loc-office"></option>
                        <option data-icon="icon-org-struct"></option>
                      </select> -->
                      <!-- <input type="text" id="icon" class="form-control form-control-sm" placeholder="icon" name="icon">
                      <app-votm-cloud-char-validator> </app-votm-cloud-char-validator>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-image"></i></span>
                      </div> -->
                    <!-- </div> -->
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                  <!-- <div class="row form-group"> -->
                  <label class="" id="f-description">Description :</label>
                  <input id="assetDescription" class="form-control form-control-sm" type="text"
                    placeholder="Description" [disabled]="pageType==='View'">
                  <!-- <textarea class="form-control asset-create-font" [disabled]="pageType === 'View'"
                          [(ngModel)]="asset.description" name="assetDescription" rows="5" id="f-description"></textarea> -->
                  <!-- </div> -->
                </div>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                  <!-- <div class="row form-group"> -->
                  <label class="" id="assetparentLoc" votmrequired>Installed Location:</label>
                 
                  <!-- <select [disabled]="pageType==='View'" [(ngModel)]="asset.locationId" id="installedLocation"
                    name="installedLocation" class="drop-down form-control form-control-sm" #installedLocation="ngModel"
                    required (change)="onLocationChange($event)">
                    <option *ngFor="let loc of locationListForDropDown" [value]="loc.locationId">
                      {{loc.locationName}}
                    </option>
                  </select> -->

                  <!-- Location Image  -->
                  <div class="">
                  <ng-select [disabled]="pageType==='View'" class="custom" #installedLocation="ngModel"
                    [ngStyle]="{'background-color':pageType==='View'?'#e9ecef':'#fff'}" [multiple]="false"
                    [(ngModel)]="asset.locationId" id="installedLocation" name="installedLocation"
                    placeholder="Choose Installed Location" (change)="onLocationChange($event)" required>
                    <ng-option value="null" disabled selected>Location</ng-option>
                    <ng-option *ngFor="let loc of locationListForDropDown" [value]="loc.locationId">{{loc.locationName}}
                    </ng-option>
                  </ng-select>
                </div>
                  <div *ngIf="installedLocation.dirty && installedLocation.invalid">
                    <app-votm-cloud-validator message="Location is required"></app-votm-cloud-validator>
                  </div>
                  <!-- </div> -->
                </div>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                  <!-- <div class="row form-group"> -->
                  <label class="" id="asset-Type">Asset Type:</label>
                  <input type="text" [(ngModel)]="asset.assetType" placeholder="Enter Asset Type"
                    [disabled]="pageType === 'View'" #assetType="ngModel" name="assetType" id="assetType"
                    (blur)="onAssetTypeChange()" maxlength="50" class="form-control form-control-sm" />
                  <!-- </div> -->
                </div>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group" *ngIf="asset.templateId">

                  <div class="row form-group">
                    <label class="col-sm-5 col-form-label" id="asset-temp">Created from Template</label>
                    <br>
                    <!-- <label for="temp-contain">{{asset.templateName? asset.templateName: '-'}}</label> -->
                    <input name="asset-template" id="asset-template" disabled
                      class="col-sm-7 form-control form-control-sm" type="text"
                      placeholder="{{asset.templateName? asset.templateName: '-'}}">
                  </div>
                  <div class="mt-2">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="templateAccept" [(ngModel)]="acceptedTemplateChages"
                          (click)="onTemplateChangeAccept($event)" name="templateAccept">Check to Inherit Template
                        Changes</label>
                    </div>
                   
                  </div>
                </div>


                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                  <!-- <div class="row form-group"> -->
                  <label class="" id="parentAsset">Parent Asset:</label>
                  <!-- <input type="text" [(ngModel)]="asset.parentAssetName" placeholder="{{asset.parentAssetName}}" [disabled]="pageType==='View'"
                                  class="form-control asset-create-font" name="parentAsset"> -->
                  <!-- <select [(ngModel)]="asset.parentAssetId" name="parentAsset" id="parentAsset"
                    [disabled]="pageType==='View'" class="drop-down form-control form-control-sm"
                    (change)="onParentAssetChange($event)" #parentAsset="ngModel">
                    <option *ngFor="let asset of parentAssetListForDropDown" [value]="asset.assetId">
                      {{asset.assetName}}
                    </option>
                  </select> -->
                  <div class="">
                  <ng-select [disabled]="pageType==='View'" class="custom"  #parentAsset="ngModel"
                    [ngStyle]="{'background-color':pageType==='View'?'#e9ecef':'#fff'}" [multiple]="false"
                    [(ngModel)]="asset.parentAssetId" name="parentAsset" id="parentAsset"
                    placeholder="Choose Parent Asset" (change)="onParentAssetChange($event)">
                    <ng-option value="null" disabled selected>Asset</ng-option>
                    <ng-option *ngFor="let asset of parentAssetListForDropDown" [value]="asset.assetId">{{asset.assetName}} 
                    </ng-option>
                  </ng-select>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 form-group">
                  <!-- <div class="row form-group"> -->
                  <label class="" id="assetId">Asset ID:</label>
                  <input type="text" id="assetNumber" [(ngModel)]="asset.assetNumber"
                    class="form-control form-control-sm" [disabled]="pageType === 'View'" #assetId="ngModel"
                    placeholder="Enter Asset ID" name="assetNumber" maxlength="50" />
                  <!-- </div> -->
                </div>

              </div>
             


              <div class="row asset-create-font asset-margin">
                <div class="col-md-4">
                  <label for="assetImage" id="asset-image-lbl">Asset Image : </label>
                  <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
                  <input [disabled]="pageType==='View'" #file type="file" id="asset-image" accept='image/*'
                    class="form-control-file form-control-sm" (change)="onImageChangeClick()" />
                  <label style="font-weight: bold" *ngIf="asset && asset.logo">{{asset.logo.imageName}}</label>
                  <img [src]="imgURL" height="200" width="235" *ngIf="imgURL">
                </div>
                <!-- (change)="(!asset.templateId||(asset.templateId && isConfirmToChangeImage==='change'))?onFileChange($event):null" -->
                <div class="col-md-4 form-group">

                  <label for="exampleFormControlFile1">Documentation:</label>
                  <input type="file" id="documentUpload" name="documentUpload" id="documentUpload"
                    [disabled]="pageType==='View'" (change)="onDocChangeClick();"
                    class="form-control-file form-control-sm" #fileInput>
                  <a *ngIf="asset.fileStore" style="color:blue;"
                    (click)="onFileOpen()"><u>{{asset.fileStore.fileName}}</u></a>
                </div>

                <div class="col-md-4">
                  <label for="locationImage" id="asset-loc--image-lbl">Location Image : </label>
                  <img [src]="locationImageURL" class="imag-size" *ngIf="locationImageURL; else noLocationTemplate">
                  <ng-template #noLocationTemplate><br />
                    <div *ngIf="asset.locationId; else noLocationSelectedTemplate">No Image in the selected Location
                    </div>
                    <ng-template #noLocationSelectedTemplate>
                      No location Selected
                    </ng-template>
                  </ng-template>
                </div>


              </div>

              <div class="row mt-3">
                <div class="col-12">

                  <!-- <button id="nest-loc-create" type="button" *ngIf="asset.assetId" class="btn btn-secondary button-left-mod"
                          routerLink="/asset/signal">Associate Signal</button> -->
                  <button id="asset-create-temp" type="button" *ngIf="pageType !=='View' && pageType !=='Edit'"
                    class="btn btn-secondary button-left-mod btn-sm" (click)="openmodal()"><i
                      class="pr-2 icon-asset-tmpl-add"></i>Create from Asset Template</button>
                  <button id="asset-save-temp" *ngIf="pageType !=='View'" type="button"
                    class="btn btn-secondary button-left-mod btn-sm button-margin-asset"
                    (click)="openTemplateModal()"><i class="pr-2 icon-asset-robot-tmpl"></i>Save as Asset
                    Template</button>
                  <!-- <button id="asset-save-temp" *ngIf="pageType !=='View'" type="button"
                          class="btn btn-secondary button-right-mod" (click)="onSaveAsTemplateClick()">Save as Template</button> -->
                  <button id="nest-asset-create" type="button" *ngIf="asset.assetId" (click)="createNestedAsset($event)"
                    class="btn button-right-mod btn-sm btn-info button-margin-asset"><i
                      class="pr-2 icon-asset-add"></i>Add Child Asset</button>
                  <button id="asset-cancel" for="form-cancel" type="button" (click)="onCancelClick($event)"
                    class="btn btn-secondary button-right-mod btn-sm button-margin-asset"><i
                      class="pr-2 fa fa-window-close-o"></i>Cancel</button>
                  <button id="asset-delete" type="button" *ngIf="asset.assetId && pageType !=='View'"
                    (click)="openConfirmDialog()"
                    class="btn btn-secondary button-right-mod btn-sm button-margin-asset"><i
                      class="pr-2 icon-trash"></i>Delete</button>
                  <button id="asset-save" type="submit" *ngIf="pageType !=='View'"
                    class="btn btn-secondary button-right-mod btn-info btn-sm button-margin-asset"><i
                      class="pr-2 icon-asset-robot"></i>Save Asset</button>
                </div>
              </div>




            </form>
          </div>

          <div class="tab-pane fade" *ngIf="isSignalAssociationClicked" id="asset-signal" role="tabpanle"
            area-labelledby="asset-signal-tab">
            <app-votom-cloud-assets-signal></app-votom-cloud-assets-signal>
          </div>

          <div class="tab-pane fade" id="asset-child" role="tabpanle"
            area-labelledby="asset-child-tab">
            <app-votm-cloud-asset-child></app-votm-cloud-asset-child>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="event-details-tab" role="tabpanle" area-labelledby="event-details-tab">
      <app-votm-cloud-events-asset></app-votm-cloud-events-asset>
    </div>

    <div class="tab-pane fade" id="dashboard1-details-tab" role="tabpanle" area-labelledby="dashboard1-details-tab">
    </div>

    <div class="tab-pane fade" id="dashboard2-details-tab" role="tabpanle" area-labelledby="dashboard2-details-tab">
    </div>

  </div>


</div>

<app-votm-cloud-confim-dialog (onClose)="deleteAssetById($event)" #confirmBox message="{{message}}"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>

<app-votm-cloud-confim-dialog (onClose)="removeTemplate($event)" #templateConfirmBox
  message="{{templateWarningMessage}}" confirmName="Yes" cancelName="No" headerMessage="Warning">
</app-votm-cloud-confim-dialog>

<app-votm-cloud-confim-dialog (onClose)="changeImage($event)" #imageChangeConfirmBox
  message="{{templateWarningMessage}}" confirmName="Yes" cancelName="No" headerMessage="Warning">
</app-votm-cloud-confim-dialog>

<app-votm-cloud-confim-dialog (onClose)="changeDocumentation($event)" #documentChangeConfirmBox
  message="{{templateWarningMessage}}" confirmName="Yes" cancelName="No" headerMessage="Warning">
</app-votm-cloud-confim-dialog>

<!-- Template List Modal -->
<div id="myModal" class="modal modal-label">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <label for="asset-temp-modal" class="pr-2">List of Template :</label>
      </div>
      <div class="modal-body">
        <div>
          <select class="custom-select" size="6" [(ngModel)]="templateId" id="templateId" name="templateId"
            class="drop-down form-control org-create-font">
            <option *ngFor="let template of templates" [value]="template.value">
              {{ template.text }}
            </option>
          </select>

          <!-- <ng-select [disabled]="pageType==='View'" class="custom custom-select" size="6"
            [ngStyle]="{'background-color':pageType==='View'?'#e9ecef':'#fff'}" [multiple]="false"
            [(ngModel)]="templateId" id="templateId" name="templateId" placeholder="Choose Template">
            <ng-option *ngFor="let template of templates" [value]="template.value">{{template.text}}
            </ng-option>
          </ng-select> -->
        </div>
        <div></div>
      </div>
      <div class="modal-footer">
        <button id="asset-temp-modal-cancle" type="button" class="btn button-mod btn-secondary"
          (click)="closemodal('cancel')">
          Cancel
        </button>
        <button id="asset-temp-modal-save" type="button" class="btn button-mod btn-info" (click)="closemodal('save')">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Save As Template Modal -->
<div id="templateSave" class="modal modal-label">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <label for="new-temp-modal" class="pr-2">Save as Template :</label>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <form class="form-inline">

            <div class="row">
              <div class="col-6">
                <div class="row form-group">
                  <label class="col-sm-5 col-form-label">Choose your Organization: </label>
                  <!-- <select id="parentorg" required [(ngModel)]="asset.organizationId" name="parentorg"
                    class="col-sm-7 drop-down form-control asset-create-font" #parentorgModel="ngModel">
                    <option *ngFor="let organization of organizationList" [value]="organization.organizationId">
                      {{organization.name}}
                    </option>
                  </select> -->

                  <ng-select class="custom" 
                    [ngStyle]="{'background-color':pageType==='View'?'#e9ecef':'#fff'}" [multiple]="false" [(ngModel)]="templateId"
                    id="parentorg" required [(ngModel)]="asset.organizationId" name="parentorg" #parentorgModel="ngModel" placeholder="Choose Organization">
                    <ng-option *ngFor="let organization of organizationList" [value]="organization.organizationId">{{organization.name}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-6">
                <div class="row form-group">
                  <label class="col-sm-5 col-form-label">Template Name: </label>
                  <input id="templateNameToSave" class="col-sm-7 form-control asset-create-font"
                    [(ngModel)]="templateNameToSave" type="text" placeholder="Template Name" name="templateNameToSave"
                    #templateName="ngModel" maxlength="50" required>
                  <div *ngIf="templateName.dirty && templateName.invalid">
                    <app-votm-cloud-validator message="Template name is required"></app-votm-cloud-validator>
                  </div>
                </div>

              </div>
            </div>


            <app-votm-cloud-char-validator [condition]="templateName && templateName.length>=50">
            </app-votm-cloud-char-validator>
          </form>

        </div>
        <div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="asset-temp-new-modal-cancle" type="button" class="btn button-mod btn-secondary"
          (click)="closemodal('cancel')">Cancel
        </button>
        <button id="asset-temp-new-modal-save" type="button" class="btn button-mod btn-info"
          (click)="onSaveAsTemplateClick('save')">Save</button>
      </div>

    </div>

  </div>
</div>