@import "../../../../../styles/_functions.scss", "../../../../../styles/_variables.scss";
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.font-15 {
    font-size: 15px;
}

.chartConfigureIcon{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    z-index: 9;
}


/* */


.assoc-pane > div {
    position: relative;
    line-height: calc(2 * #{$font-size-base} + 2px);
    text-shadow: none;
    font-weight: normal;
    padding-left: calc(2 * #{$font-size-base} + 2px + #{$input-btn-padding-x});
    background-color: #fff;
    // border: 1px solid $gray-300;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: calc(#{$font-size-base} + 1px);
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding-right: 0;
    user-select: none;
    cursor: move;
}

  .signal-list > div:not(:first-child) {
    margin-top: calc(#{$spacer} * 0.5);
  }

  .signal-list > div.assoc {
    border-color: $primary;
  }

  .signal-list > div.assoc:before {
    border-color: $primary;
    background-color: $primary;
    color: #ffffff;
  }

  // .signal-list > div:before,
  // .assoc-pane > div:before {
  //   position: absolute;
  //   left: -1px;
  //   top: -1px;
  //   width: calc(2 * #{$font-size-base} + 4px);
  //   line-height: calc(2 * #{$font-size-base} + 2px);
  //   background-color: $gray-300;
  //   border: 1px solid $gray-300;
  //   border-radius: calc(#{$font-size-base} + 1px);
  //   margin: 0;
  // }

  .assoc-pane {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $gray-100;
  }

  .assoc-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    // outline: 1px dashed $gray-300;
    background-color: $white;
  }

  .assoc-pane > div {
    border-top-right-radius: calc(#{$font-size-base} + 1px) !important;
    border-bottom-right-radius: calc(#{$font-size-base} + 1px) !important;
    display: inline-block !important;
    width: 0;
    padding-right: 0;
    padding-left: calc(2 * #{$font-size-base} + 2px);
    position: absolute;

  }

  .assoc-pane > div.active {
    padding-right: calc(#{$font-size-base} / 2 + #{$input-btn-padding-x}) !important;
    padding-left: calc(2 * #{$font-size-base} + 2px + #{$input-btn-padding-x});
    width: auto !important;
  }

  // .assoc-pane > div:before {
  //   color: $white;
  //   background-color: $green;
  // }

// extra small icon
  .assoc-pane > div.widget-icon-extra-small{
    padding-left:calc(0 * 0.625rem + 0px);
    line-height: calc(1 * 0.625rem + 0px);
    border-radius: calc(1 * 0.625rem / 2 + 0px) !important;
    background: $qcd-white-90;
    transition: all 0.3s ease;
    border-color: $qcd-success-brd;
    cursor: pointer;
    // max-width: 60%;
    font-size: 0.75rem;
    min-height: calc(1 * 0.625rem + 0px);
    &:hover{
      border: 1px solid $qcd-success;
      padding-left:calc(1 * 0.625rem + 0px);
      z-index:1000;
      .values{
        line-height: normal;
        font-size: 0.75rem;
        border-left: 1px solid #ccc;
        margin-top: 0px;
        margin-left: 22px;
      }
      .icon-wrapper {
        position: absolute;
        left: 10px;
        top: 2px;
        display: flex;
        flex-direction: column;
      }
    }
    &:before {
      width: calc(1 * 0.625rem + 0px);
      line-height: calc(1 * 0.625rem + 0px);
      border-radius: calc(1 * 0.625rem + 0px);
      background-color: $qcd-success;
      color: $white;
      border-color: $qcd-success-brd;
      position: absolute;
      left: -1px;
      top: -1px;
      font-size: 0.75rem;
      content: '';
      min-height: calc(1 * 0.625rem + 0px);
    }
  }

  // small icon
  .assoc-pane > div.widget-icon-small{
    padding-left:calc(1 * 1.5rem + -10px);
    line-height: calc(1 * 1.4rem + 0px);
    border-radius: calc(1 * 1.5rem / 2 + 0px) !important;
    background: $qcd-white-90;
    transition: all 0.3s ease;
    border-color: $qcd-success-brd;
    cursor: pointer;
    // max-width: 60%;
    font-size: 0.75rem;
    min-height: calc(1 * 1.5rem + 0px);
    &:hover{
      border: 1px solid qcd-success;
      padding-left:calc(1 * 1.5rem + 0px);
      z-index:1000;
      .values{
        line-height: normal;
        // white-space: pre-wrap;
        font-size: 0.75rem;
      }
      .icon-wrapper {
        position: absolute;
        left: 1px;
        display: flex;
        flex-direction: column;
        line-height: 1;
        border-right: 1px solid #ccc;
        padding-right: 1px;
        min-height: 87%;
        justify-content: flex-end;
        top: 7px;
      }
    }
    &:before {
      width: calc(1 * 1.5rem + 0px);
      line-height: calc(1 * 1.4rem + 0px);
      border-radius: calc(1 * 1.5rem + 0px);
      background-color: $qcd-success;
      color: $white;
      border-color: $qcd-success-brd;
      position: absolute;
      left: -1px;
      top: -1px;
      font-size: 0.75rem;
    }
  }

  // Medium icon
  .assoc-pane > div.widget-icon-medium{
    padding-left:calc(1 * 2rem + 4px);
    line-height: calc(1 * 2rem + 0px);
    border-radius: calc(1 * 2rem / 2 + 0px) !important;
    background: $qcd-white-90;
    transition: all 0.3s ease;
    border-color: $qcd-success-brd;
    cursor: pointer;
    // max-width: 60%;
    font-size: 0.75rem;
    &:hover{
      border: 1px solid $qcd-success;
      padding-left:calc(1 * 2rem + 0px);
      min-height:70px;
      z-index:1000;
      .values{
        line-height: normal;
        // white-space: pre-wrap;
        font-size: 0.75rem;
        display: flex;
        padding: 4px 0px;
        flex-direction:column;
      }
      .values-assets{
        line-height: normal;
        font-size: 0.85rem;
        border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        min-height: 70px;
      }
      .icon-wrapper {
        position: absolute;
        left: 7px;
        top: 12px;
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        border-right: 1px solid #ccc;
        padding-right: 6px;
        min-height: 84%;
        justify-content: flex-end;
      }
    }
    &:before {
      width: calc(1 * 2rem + 2px);
      line-height: calc(1 * 2rem + 0px);
      border-radius: calc(1 * 2rem + 0px);
      background-color: $qcd-success;
      color: $white;
      border-color: $qcd-success-brd;
      position: absolute;
      left: -1px;
      top: -1px;
      font-size: 0.75rem;
    }
  }
  // large icon
  .assoc-pane > div.widget-icon-large{
    padding-left:calc(1 * 3rem + 3px);
    line-height: calc(1 * 3rem + 0px);
    min-height: calc(1 * 3rem + 0px);
    border-radius: calc(1 * 3rem / 2 + 0px) !important;
    background: $qcd-white-90;
    transition: all 0.3s ease;
    border-color: $qcd-success-brd;
    cursor: pointer;
    // max-width: 60%;
    font-size: 0.85rem;
    &:hover{
      border: 1px solid $qcd-success-brd;
      padding-left:calc(1.6 * 3rem + 0px);
      z-index:1000;
      .values{
        // line-height: calc(0.295 * 12rem + 0px);
        line-height: normal;
        // white-space: pre-wrap;
        font-size: 0.85rem;
        border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
      }
      .values-assets{
        line-height: normal;
        font-size: 0.85rem;
        border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        margin-left: -30px;
      }
      .icon-wrapper {
        position: absolute;
        left: 50px;
        top: 0;
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        font-size: 1rem;
      }
    }
    &:before {
      width: calc(1 * 3rem + 0px);
      line-height: calc(1 * 3rem + 0px);
      border-radius: calc(1 * 3rem + 0px);
      background-color: $qcd-success;
      color: $white;
      border-color: $qcd-success-brd;
      position: absolute;
      left: -1px;
      top: -1px;
      font-size: 1.5rem;
    }
  }
  //extra large icon
  .assoc-pane > div.widget-icon-extra-large{
    padding-left:calc(1 * 5.75rem + 3px);
    line-height: calc(0.98 * 5.75rem + 0px);
    min-height: calc(1 * 5.75rem + 0px);
    border-radius: calc(1 * 5.75rem / 2 + 0px) !important;
    background: $qcd-white-90;
    transition: all 0.3s ease;
    border-color: $qcd-success-brd;
    cursor: pointer;
    // max-width: 60%;
    font-size: 1rem;
    // p{
    //   line-height: 1.99rem !important;
    // }
    &:hover{
      border: 1px solid $qcd-success-brd;
      padding-left:calc(1.35 * 5.75rem + 0px);
      z-index:1000;
      // line-height: calc(1 * 1.99rem + 0px) !important;
      .values{
        // line-height: calc(0.295 * 12rem + 0px);
        line-height: normal;
        //white-space: pre-wrap;
        font-size: 1rem;
        border-left: 1px solid #ccc;
        display: flex;
        white-space: pre-line;
        flex-direction: column;
        min-height: calc(1 * 5.75rem + 0px);
      }
      .values-assets{
        line-height: normal;
        font-size: 1rem;
        border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        margin-left: -27px;
        min-height: calc(1 * 5.75rem + 0px);
      }
      .icon-wrapper {
        position: absolute;
        left: 90px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 2;
        font-size: 1.3rem;
      }
    }
    &:before {
      width: calc(1 * 5.75rem + 0px);
      line-height: calc(0.98 * 5.75rem + 0px);
      border-radius: calc(1 * 5.75rem + 0px);
      background-color: $qcd-success;
      color: $white;
      border-color: $qcd-success-brd;
      position: absolute;
      left: -1px;
      top: -1px;
      font-size: 3rem;
    }
  }

// Extgra Extra large icon
.assoc-pane > div.widget-icon-extra-extra-large{
    padding-left:calc(1 * 12rem + 3px);
    line-height: calc(1 * 12rem + 0px);
    min-height: calc(1 * 12rem + 0px);
    border-top-left-radius: calc(1 * 12rem / 2 + 0px) !important;
    border-bottom-left-radius: calc(1 * 12rem / 2 + 0px) !important;
    border-top-right-radius: calc(1 * 12rem / 12 + 0px) !important;
    border-bottom-right-radius: calc(1 * 12rem / 12 + 0px) !important;
    background: $qcd-white-90;
    transition: all 0.3s ease;
    border-color: $qcd-success-brd;
    cursor: pointer;
    // max-width: 60%;
    font-size: 1.25rem;
    &:hover{
      border: 1px solid $qcd-success-brd;
      padding-left:calc(1.2 * 12rem + 0px);
      z-index:1000;
      .values{
        line-height: normal;
        // white-space: pre-wrap;
        font-size: 1.25rem;
        border-left: 1px solid #ccc;
        display: flex;
        white-space: pre-line;
        flex-direction: column;
        min-height: calc(1 * 12rem + 0px);
      }
      .values-assets{
        line-height: normal;
        font-size: 1.25rem;
        border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        min-height: calc(1 * 12rem + 0px);
      }
      .icon-wrapper {
        position: absolute;
        left: 190px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 2;
        font-size: 1.5rem;
      }
    }
    &:before {
      width: calc(1 * 12rem + 0px);
      line-height: calc(0.99 * 12rem + 0px);
      border-radius: calc(1 * 12rem + 0px);
      background-color: $qcd-success;
      color: $white;
      border-color: $qcd-success-brd;
      position: absolute;
      left: -1px;
      top: 0px;
      font-size: 6rem;
    }
}

// need to append dynamic classes
.icon-state-danger{
  border-color:$qcd-danger-brd !important;
  &:hover{
    border: 1px solid $qcd-danger-brd;
  }
  &:before{
    background-color:$qcd-danger-brd !important;
    border-color: $qcd-danger-brd !important;
  }
}
.icon-state-warning{
  border-color:$qcd-warning-brd !important;
  &:hover{
    border: 1px solid $qcd-warning-brd;
  }
  &:before{
    background-color:$qcd-warning !important;
    border-color: $qcd-warning-brd !important;
  }
}
.icon-state-success{
  border-color:$qcd-success-brd !important;
  &:hover{
    border: 1px solid $qcd-success-brd;
  }
  &:before{
    background-color:$qcd-success !important;
    border-color: $qcd-success-brd !important;
  }
}



.con-wid-preview{
  background-color: #f1f1f1;
  min-height: 36vh;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}
.img-fluid-custom {
  max-height: 36vh;
}

.warning-bg {
  border-color: $danger;
}
.warning-border {
  border-color: $danger;
}

.signal-data-wrapper {
  background-color: $white;
  padding: 0px 10px 0px 5px;
}

.signal-data-wrapper p {
  margin: 0px;
}


// new css added by urvisha.
.assoc-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  outline: 1px dashed $gray-300;
  background-color: $white;
}

.assoc-pane {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $gray-100;
  > .signal-item {
    border-top-right-radius: calc(#{$font-size-base} + 1px) !important;
    border-bottom-right-radius: calc(#{$font-size-base} + 1px) !important;
    display: inline-block !important;
    width: auto!important;
    // padding-right: 0;
    padding-right: 0.5rem;
    position: absolute;
    border-color: $success;
    &:hover {
      // padding-right: calc(#{$font-size-base} / 2 + #{$input-btn-padding-x});
      padding-left: calc(2 * #{$font-size-base} + 2px);
      width: auto;
      z-index: 1;
      border: 1px solid $qcd-success-brd;
      p {
        // line-height: 0.9rem;
        padding: 0px 8px;
        margin: 4px 0 0 -1px;
      }
    }
    &:before {
      color: $white;
      background-color: $success;
      border-color: $success;
    }
    &.unbound {
      border-style: dashed;
      &:before {
        color: $success;
        background-color: $white;
        border-style: dashed;
      }
    }
    &.locked {
      cursor: default;
    }
    > i {
      cursor: pointer;
    }
  }
}

.signal-item {
  position: relative;
  line-height: calc(2 * #{$font-size-base} + 2px);
  text-shadow: none;
  font-weight: normal;
  padding-left: calc(2 * #{$font-size-base} + 2px + #{$input-btn-padding-x});
  background-color: #fff;
  border: 1px solid $gray-300;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  width: 100%;
  border-radius: calc(#{$font-size-base} + 1px);
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding-right: 0;
  user-select: none;
  cursor: move;
  &:before {
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(2 * #{$font-size-base} + 4px);
    line-height: calc(2 * #{$font-size-base} + 2px);
    background-color: $gray-300;
    border: 1px solid $gray-300;
    border-radius: calc(#{$font-size-base} + 1px);
    margin: 0;
  }
}

.logo-preview{
  background-color: #F1F1F1;
  min-height: 220px;
  /* margin: 0 auto; */
  justify-content: center;
  text-align: center;
  display: flex;
  /* flex: 1 1 100%; */
  align-items: center
}

// over write for the icon hover div display.
.embed-responsive{
  overflow: visible;
  z-index: 0;
  border:1px solid red;
}