@import "../../../../../styles/_functions.scss", "../../../../../styles/_variables.scss";
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.font-15 {
    font-size: 15px;
}

.chartConfigureIcon{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    z-index: 9;
}


/* */

  
.assoc-pane > div {
    position: relative;
    line-height: calc(2 * #{$font-size-base} + 2px);
    text-shadow: none;
    font-weight: normal;
    padding-left: calc(2 * #{$font-size-base} + 2px + #{$input-btn-padding-x});
    background-color: #fff;
    border: 1px solid $gray-300;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: calc(#{$font-size-base} + 1px);
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding-right: 0;
    user-select: none;
    cursor: move;
}
  
  .signal-list > div:not(:first-child) {
    margin-top: calc(#{$spacer} * 0.5);
  }
  
  .signal-list > div.assoc {
    border-color: $primary;
  }
  
  .signal-list > div.assoc:before {
    border-color: $primary;
    background-color: $primary;
    color: #ffffff;
  }
  
  // .signal-list > div:before,
  // .assoc-pane > div:before {
  //   position: absolute;
  //   left: -1px;
  //   top: -1px;
  //   width: calc(2 * #{$font-size-base} + 4px);
  //   line-height: calc(2 * #{$font-size-base} + 2px);
  //   background-color: $gray-300;
  //   border: 1px solid $gray-300;
  //   border-radius: calc(#{$font-size-base} + 1px);
  //   margin: 0;
  // }
  
  .assoc-pane {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $gray-100;
  }
  
  .assoc-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    // outline: 1px dashed $gray-300;
    background-color: $white;
  }
  
  .assoc-pane > div {
    border-top-right-radius: calc(#{$font-size-base} + 1px) !important;
    border-bottom-right-radius: calc(#{$font-size-base} + 1px) !important;
    display: inline-block !important;
    width: 0;
    padding-right: 0;
    padding-left: calc(2 * #{$font-size-base} + 2px);
    position: absolute;
    
  }
  .assoc-pane > div:hover {
    padding-right: calc(#{$font-size-base} / 2 + #{$input-btn-padding-x}) !important;
    padding-left: calc(2 * #{$font-size-base} + 2px + #{$input-btn-padding-x});
    width: auto !important;
  }
  
  .assoc-pane > div.active {
    padding-right: calc(#{$font-size-base} / 2 + #{$input-btn-padding-x}) !important;
    padding-left: calc(2 * #{$font-size-base} + 2px + #{$input-btn-padding-x});
    width: auto !important;
  }
  
  // .assoc-pane > div:before {
  //   color: $white;
  //   background-color: $green;
  // }
 
// extra small icon
  .assoc-pane > div.widget-icon-extra-small{
    padding-left:calc(2 * #{$font-size-sm} + 0px);
    line-height: calc(2 * #{$font-size-sm} + 0px);
    border-radius: calc(#{$font-size-sm} + 1px) !important;
    transition: all 0.3s ease;
    &:hover{
      background-color: $white;
    }
    &:before {
      width: calc(2 * #{$font-size-sm} + 0px);
      line-height: calc(2 * #{$font-size-sm} + 2px);
      border-radius: calc(#{$font-size-sm} + 0px);
      background-color: $green;
      color: $white;
      border-color: $green;
      position: absolute;
      left: -3px;
      top: 0px;
    }
  }

  // small icon
  .assoc-pane > div.widget-icon-small{
    padding-left:calc(2 * #{$h4-font-size} + 0px);
    line-height: calc(2 * #{$h4-font-size} + 0px);
    border-radius: calc(#{$h4-font-size} + 1px) !important;
    background: transparent;
    transition: all 0.3s ease;
    &:hover{
      background-color: $white;
    }
    &:before {
      width: calc(2 * #{$h4-font-size} + 0px);
      line-height: calc(2 * #{$h4-font-size} + 0px);
      border-radius: calc(#{$h4-font-size} + 0px);
      background-color: rgba(220, 53, 69, 0.7);
      color: $white;
      border-color: $danger;
      position: absolute;
      left: -5px;
      top: 0px;
      font-size: 1.5rem;
    }
  }

  // Medium icon
  .assoc-pane > div.widget-icon-medium{
    padding-left:calc(2 * 3rem + 0px);
    line-height: calc(2 * 3rem + 0px);
    border-radius: calc(3rem + 1px) !important;
    background: transparent;
    transition: all 0.3s ease;
    &:hover{
      background-color: $white;
    }
    &:before {
      width: calc(2 * 3rem + 0px);
      line-height: calc(2 * 3rem + 0px);
      border-radius: calc(3rem + 0px);
      background-color: rgba(255, 193, 7, 0.7);
      color: $white;
      border-color: $warning;
      position: absolute;
      left: -10px;
      top: 0px;
      font-size: 3rem;
    }
  }
  // large icon
  .assoc-pane > div.widget-icon-large{
    padding-left:calc(2 * 6rem + 0px);
    line-height: calc(2 * 6rem + 0px);
    border-radius: calc(6rem + 1px) !important;
    background: transparent;
    transition: all 0.3s ease;
    &:hover{
      background-color: $white;
    }
    &:before {
      width: calc(2 * 6rem + 0px);
      line-height: calc(2 * 6rem + 0px);
      border-radius: calc(6rem + 0px);
      background-color: rgba(255, 193, 7, 0.7);
      color: $white;
      border-color: $warning;
      position: absolute;
      left: -20px;
      top: 0px;
      font-size: 6rem;
    }
  }
  //extra large icon
  .assoc-pane > div.widget-icon-extra-large{
    padding-left:calc(2 * 10rem + 0px);
    line-height: calc(2 * 10rem + 0px);
    border-radius: calc(10rem + 1px) !important;
    background: transparent;
    transition: all 0.3s ease;
    &:hover{
      background-color: $white;
    }
    &:before {
      width: calc(2 * 10rem + 0px);
      line-height: calc(2 * 10rem + 0px);
      border-radius: calc(10rem + 0px);
      background-color: rgba(255, 193, 7, 0.7);
      color: $white;
      border-color: $warning;
      position: absolute;
      left: -10px;
      top: 0px;
      font-size: 10rem;
    }
  }
  
// Extgra Extra large icon
.assoc-pane > div.widget-icon-extra-extra-large{
  padding-left:calc(2 * 15rem + 0px);
  line-height: calc(2 * 15rem + 0px);
  border-radius: calc(15rem + 1px) !important;
  background: transparent;
  transition: all 0.3s ease;
  &:hover{
    background-color: $white;
  }
  &:before {
    width: calc(2 * 15rem + 0px);
    line-height: calc(2 * 15rem + 0px);
    border-radius: calc(15rem + 0px);
    background-color: rgba(255, 193, 7, 0.7);
    color: $white;
    border-color: $warning;
    position: absolute;
    left: -10px;
    top: 0px;
    font-size: 15rem;
  }
}

