 
.create-org-container {
    padding: 15px;
    background-color: white;
    // margin-top: 40px;
}

.org-create-font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.org-h5{
    margin-top: 14px;
}

.auto-width{
    width:auto;
}

.inline-input{
    display: inline-block;
}


.org-outside-border{
    background:#dbdada;
    margin: -12px -15px -20px -25px;
    padding: 20px;
    // height: 116%;
    height: 106%;
}
.drop-down{
    width: 100%;
    padding:  5px 0px 7px 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.create-org-head{
    padding: 0px;
}

.uom-btn{
    margin: -35px 0px 8px 100px;
}

.uom-body{
    width:140px;
    float:left;
    padding-top:3px;
}

.uom-drop-down{
    width:100px;
}
.btn-color{
    background-color: rgb(0,185,195);
    float: left;
}

.modal-uom-label{
    margin-left: 15px;
}
.button-mod {
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

/* Full-width input fields */
input[type=text],input[type=date], input[type=password],input[type=email],input[type=file] {
    padding: 5px 0px 7px 15px;
    display: inline-block;
    border: 1px solid #ddd;
    background: #f1f1f1;
    box-shadow: #069;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=file]:focus {
    background-color: #ddd;
    outline: none;
}

.mar-top-30{
    margin-top: 30px;
}

.mar-top-15{
    margin-top: 15px;
}

.mar-left-30{
    margin-left: 30px;
}

.mar-left-10{
    margin-left: 10px;
}

.enclosing-div{
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 500px;
    max-height: 500px;
    padding: 10px;
    overflow-y: auto;
}

.assoc-table{
    width: 80%;
    margin: 20px;
}

.assoc-table  th, .assoc-table  td{
    padding: 10px;
}

.align-center{
    text-align: center;
}

.assoc-name{
    padding-left: 5px;
    padding-right: 5px;
}

.warning-color{
    color: #e7bd24;
}

.critical-color{
    color: red;
}

.r-interval-width{
    width: 50px;
}