<form class="text-body">
  <div class="row">
    <div class="col-md-3 col-xl-4">
      <div class="form-group">
        <!-- <label for="role_search">Search</label> -->
        <div class="input-group input-group-sm">
          <input type="text" id="gateway_search" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <!-- <span class="input-group-text"><i class="icon-search"></i></span> -->
            <span class="input-group-text p-0"><button class="btn btn-sm btn-search" id="searchButton" type="submit">
                <i class="icon-search"></i></button></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div [ngClass]="{'col-12 col-md-6 col-lg-8 col-xl-9' : originList !== 'organizationView', 'col-12 col-md-12 col-lg-12 col-xl-12' : originList === 'organizationView'}">
        <!-- <div class="col-12 col-md-12 col-lg-12 col-xl-12"> -->
      <!-- <div class="table-responsive">
        <table class="table table-bordered table-sm table-stripped table-hover" id="gateway_table">
          <thead class="thead-dark">
            <tr>
              <th>Gateway Name</th>
              <th>Serial Number</th>
              <th>Type</th>
              <th>Location</th>
              <th>On-line Time</th>
              <th>Data Transfer</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let allgetways of allGetways">
              <td class="">
                <a [routerLink]="['/admin/networkmanagement/GatewayDetails', 1]"><i class="icon-gateway mr-1"></i>
                  {{ allgetways.gatewayname }}</a>
              </td>
              <td>{{ allgetways.eath0mac }}</td>
              <td>{{ allgetways.location }}</td>
              <td>{{ allgetways.organization }}</td>
              <td class="text-center"><i class="icon-signal-100"></i></td>
              <td>{{ allgetways.lastreporttime * 1000| date: 'MM-dd-yy'}} @
                {{ allgetways.lastreporttime * 1000| date: 'hh:mm a'}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <ngx-datatable
      class="bootstrap"
      style="height: 600px;"
      [rows]="gatewayList"
      columnMode="force"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="50"
      [scrollbarV]="true"
      >
        <ngx-datatable-column name="Gateway Name" [sortable]="true">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <a class="cursor-point" [routerLink]="['/admin/networkmanagement/GatewayDetails', 1]">{{row.gatewayName}}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Serial Number" [sortable]="true" prop="gatewayName"></ngx-datatable-column>
        <ngx-datatable-column name="Type" [sortable]="true" prop="productName"></ngx-datatable-column>
        <ngx-datatable-column name="Location" [sortable]="true" prop="gatewayLocationMapping.0.locationName"></ngx-datatable-column>
        <ngx-datatable-column name="On-line Time" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Data Transfer" [sortable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="Action">
            <!-- <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <a id="user_check_{{rowIndex}}" class="mr-2" [title]="row.active ? 'Active' : 'Deactive'" >
                <i [ngClass]="row.active ? 'fa fa-check-circle' : 'fa fa-ban'" ></i>
              </a>
              <a id="user_edit_{{rowIndex}}" title="Edit" class="mr-2"  (click)="onClickOfEditUser($event, row, 'edit')">
                <i class="icon-edit"></i>
              </a>
              <a id="user_delete_{{rowIndex}}" title="Delete" (click)="onClickOfConfirmDeleteUser($event, row)" class="mr-2" >
                <i class="icon-trash"></i>
              </a>
              </ng-template> -->
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 ipad-pro-lg-12" *ngIf="originList !== 'organizationView'">
      <!--gatewaystatus start-->
      <fieldset>
        <legend>Gateway Status</legend>
        <div class="row gateway-status">
          <div class="col-4">
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Total</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">4</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Online</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">3</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-6 col-form-label" for="total">Offline</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">1</span>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div id="getways-status-chartdiv-pie-sliced" style="width: 100%; height: 100%"></div>
          </div>
        </div>
      </fieldset>
      <!--gatewaystatus end-->

      <!--newtwork usage start-->
      <fieldset class="mt-3">
        <legend>Network Usage</legend>
        <div class="chart-area">
          <div class="network-usage-chart" style="width: 100%; height: 100%"></div>
        </div>
        <div class="col-8 offset-2">
          <div class="row">
            <label class="col-6 col-form-label" for="total">Current</label>
            <div class="col-6 p-0">
              <span class="form-control form-control-sm text-center">1.2 MB</span>
            </div>
          </div>
        </div>
      </fieldset>
      <!--newtwork usage end-->

      <!--cellular data start-->
      <fieldset class="mt-3">
        <legend>Cellular Data</legend>
        <div class="row cellular-data">
          <div class="cellular-data-chart" style="width: 100%; height: 100%"></div>
        </div>
        <div class="text-center">
          <div class="chart-area">
            <div class="cellular-data-chart" id="cellular-data-chart" style="width: 100%; height: 100%"></div>
          </div>
          <div class="col-8 offset-2">
            <div class="row">
              <label class="col-6 col-form-label" for="total">Daily</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">35.40 MB</span>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-6 col-form-label" for="total">Monthly</label>
              <div class="col-6 p-0">
                <span class="form-control form-control-sm text-center">350 MB</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <!--cellular data end-->
    </div>
  </div>
</form>
<!--
<button id="configure-gateways" routerLink="GatewayDetails" type="button"
  class="btn btn-sm btn-info loc-table-fonts ml-2">
  <i class="pr-2 icon-gateway"></i>Configure Gateways</button> -->
