<div class="pt-2 pb-2 mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active tab-icon" id="user-tab" href="#user-management-tab" data-toggle="tab" role="tab"
        aria-controls="user-management" aria-selected="true"><i class="mr-2 icon-org-company"></i>User Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tab-icon" id="group-tab" href="#group=management-tab" data-toggle="tab" role="tab"
        aria-controls="group-management" aria-selected="false"><i class="mr-2 icon-warn"></i>Group Management</a>
    </li>

    <!-- Dashboard-david -->
  </ul>
  <div class="tab-content bg-white">
    <div class="tab-pane fade show active border border-top-0 p-3 mb-3 flex-grow-1 shadow" id="user-management-tab"
    role="tabpanle"
    area-labelledby="user-management">
      <app-votm-cloud-admin-user-management></app-votm-cloud-admin-user-management>
    </div>
    <div class="tab-pane fade show border border-top-0 p-3 mb-3 flex-grow-1 shadow" id="group=management-tab"
    role="tabpanel"
    area-labelledby="group-management">
      <app-votm-cloud-admin-group-management></app-votm-cloud-admin-group-management>
    </div>
</div>
