
.icon-sig-flow-v2:before { content: '\e800'; } /* '' */
.icon-asset-motor:before { content: '\e801'; } /* '' */
.icon-sig-capacitor:before { content: '\e802'; } /* '' */
.icon-sig-heat:before { content: '\e803'; } /* '' */
.icon-sig-humidity:before { content: '\e804'; } /* '' */
.icon-sig-pressure:before { content: '\e805'; } /* '' */
.icon-sig-vibration:before { content: '\e806'; } /* '' */
.icon-sig-vibration-accel:before { content: '\e807'; } /* '' */
.icon-sig-vibration-velocity:before { content: '\e808'; } /* '' */
.icon-sig-vibration-displacement:before { content: '\e809'; } /* '' */
.icon-sig-strain:before { content: '\e80a'; } /* '' */
.icon-sig-concentration:before { content: '\e80b'; } /* '' */
.icon-sig-flow:before { content: '\e80c'; } /* '' */
.icon-sig-conductivity:before { content: '\e80d'; } /* '' */
.icon-sig-binary:before { content: '\e80e'; } /* '' */
.icon-sig-categorical:before { content: '\e80f'; } /* '' */
.icon-sig-volume:before { content: '\e810'; } /* '' */
.icon-sig-area:before { content: '\e811'; } /* '' */
.icon-sig-angle:before { content: '\e812'; } /* '' */
.icon-sig-sound:before { content: '\e813'; } /* '' */
.icon-sig-ph:before { content: '\e814'; } /* '' */
.icon-sig-dynVis:before { content: '\e815'; } /* '' */
.icon-sig-weight:before { content: '\e816'; } /* '' */
.icon-sig-torque:before { content: '\e817'; } /* '' */
.icon-sig-time:before { content: '\e818'; } /* '' */
.icon-sig-temperature:before { content: '\e819'; } /* '' */
.icon-sig-string:before { content: '\e81a'; } /* '' */
.icon-signal:before { content: '\e81b'; } /* '' */
.icon-sig-percent:before { content: '\e81c'; } /* '' */
.icon-sig-impedance:before { content: '\e81d'; } /* '' */
.icon-sig-number:before { content: '\e81e'; } /* '' */
.icon-sig-location:before { content: '\e81f'; } /* '' */
.icon-sig-light:before { content: '\e820'; } /* '' */
.icon-sig-length:before { content: '\e821'; } /* '' */
.icon-sig-force:before { content: '\e822'; } /* '' */
.icon-sig-current:before { content: '\e823'; } /* '' */
.icon-battery-100:before { content: '\e824'; } /* '' */
.icon-battery-50:before { content: '\e825'; } /* '' */
.icon-battery-75:before { content: '\e826'; } /* '' */
.icon-battery-0:before { content: '\e827'; } /* '' */
.icon-battery-25:before { content: '\e828'; } /* '' */
.icon-sig-switch:before { content: '\e829'; } /* '' */
.icon-sig-function:before { content: '\e82a'; } /* '' */
.icon-sig-fill-level:before { content: '\e82b'; } /* '' */
.icon-sig-sum-fn:before { content: '\e82c'; } /* '' */
.icon-entity-list:before { content: '\e82d'; } /* '' */
.icon-asset-robot:before { content: '\e82e'; } /* '' */
.icon-loc-office:before { content: '\e82f'; } /* '' */
.icon-cell-tower:before { content: '\e830'; } /* '' */
.icon-gateway:before { content: '\e831'; } /* '' */
.icon-dashboard:before { content: '\e832'; } /* '' */
.icon-cog:before { content: '\e833'; } /* '' */
.icon-plus:before { content: '\e834'; } /* '' */
.icon-signal-100:before { content: '\e835'; } /* '' */
.icon-signal-75:before { content: '\e836'; } /* '' */
.icon-signal-50:before { content: '\e837'; } /* '' */
.icon-signal-25:before { content: '\e838'; } /* '' */
.icon-cog-alt:before { content: '\e839'; } /* '' */
.icon-lock:before { content: '\e83a'; } /* '' */
.icon-star:before { content: '\e83b'; } /* '' */
.icon-resize-full:before { content: '\e83c'; } /* '' */
.icon-resize-small:before { content: '\e83d'; } /* '' */
.icon-details:before { content: '\e83e'; } /* '' */
.icon-pencil:before { content: '\e83f'; } /* '' */
.icon-user:before { content: '\e840'; } /* '' */
.icon-users:before { content: '\e841'; } /* '' */
.icon-eye:before { content: '\e842'; } /* '' */
.icon-edit:before { content: '\e843'; } /* '' */
.icon-org-struct:before { content: '\e844'; } /* '' */
.icon-loc-floor-plan:before { content: '\e845'; } /* '' */
.icon-loc-pin-map:before { content: '\e846'; } /* '' */
.icon-sig-analog:before { content: '\e847'; } /* '' */
.icon-stop-bg:before { content: '\e848'; } /* '' */
.icon-warn-bg:before { content: '\e849'; } /* '' */
.icon-go-bg:before { content: '\e84a'; } /* '' */
.icon-asset-robot-tmpl:before { content: '\e84b'; } /* '' */
.icon-trash-empty:before { content: '\e84c'; } /* '' */
.icon-asset-motor-tmpl:before { content: '\e84d'; } /* '' */
.icon-asset-add:before { content: '\e84e'; } /* '' */
.icon-location-add:before { content: '\e84f'; } /* '' */
.icon-organization-add:before { content: '\e850'; } /* '' */
.icon-asset-tmpl-add:before { content: '\e851'; } /* '' */
.icon-calendar:before { content: '\e852'; } /* '' */
.icon-org-company:before { content: '\e853'; } /* '' */
.icon-loc-factory:before { content: '\e854'; } /* '' */
.icon-phone:before { content: '\e855'; } /* '' */
.icon-critical:before { content: '\e856'; } /* '' */
.icon-warn:before { content: '\e857'; } /* '' */
.icon-loc-pin-floor-plan:before { content: '\e858'; } /* '' */
.icon-info:before { content: '\e859'; } /* '' */
.icon-location:before { content: '\e85a'; } /* '' */
.icon-loc-pin-factory:before { content: '\e85b'; } /* '' */
.icon-star-empty:before { content: '\e85c'; } /* '' */
.icon-mail:before { content: '\e85d'; } /* '' */
.icon-flow-solid:before { content: '\e85e'; } /* '' */
.icon-flow-outline:before { content: '\e85f'; } /* '' */
.icon-threshold:before { content: '\e860'; } /* '' */
.icon-globe:before { content: '\e861'; } /* '' */
.icon-go:before { content: '\e862'; } /* '' */
.icon-cancel:before { content: '\e863'; } /* '' */
.icon-ok:before { content: '\e864'; } /* '' */
.icon-plus-1:before { content: '\e865'; } /* '' */
.icon-eye-off:before { content: '\e866'; } /* '' */
.icon-bell-1:before { content: '\e867'; } /* '' */
.icon-link:before { content: '\e868'; } /* '' */
.icon-clock:before { content: '\e869'; } /* '' */
.icon-users-add:before { content: '\e86a'; } /* '' */
.icon-search:before { content: '\e86b'; } /* '' */
.icon-asset-list:before { content: '\e86c'; } /* '' */
.icon-org-list:before { content: '\e86d'; } /* '' */
.icon-location-list:before { content: '\e86e'; } /* '' */
.icon-vert-ellipsis:before { content: '\e86f'; } /* '' */
.icon-ellipsis:before { content: '\e870'; } /* '' */
.icon-export:before { content: '\e871'; } /* '' */
.icon-up-dir:before { content: '\e872'; } /* '' */
.icon-down-dir:before { content: '\e873'; } /* '' */
.icon-left-dir:before { content: '\e874'; } /* '' */
.icon-right-dir:before { content: '\e875'; } /* '' */
.icon-refresh:before { content: '\e876'; } /* '' */
.icon-off:before { content: '\e877'; } /* '' */
.icon-key:before { content: '\e878'; } /* '' */
.icon-down-open:before { content: '\e879'; } /* '' */
.icon-left-open:before { content: '\e87a'; } /* '' */
.icon-right-open:before { content: '\e87b'; } /* '' */
.icon-up-open:before { content: '\e87c'; } /* '' */
.icon-sig-dewpoint:before { content: '\e886'; } /* '' */
.icon-sensonode:before { content: '\e97d'; } /* '' */
.icon-sensonode2:before { content: '\e97e'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell:before { content: '\f0f3'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-info-1:before { content: '\f129'; } /* '' */
.icon-lock-open:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-add:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-user-profile:before { content: '\f2c3'; } /* '' */