
// :host{
//   margin-top: 75px;
//   margin-left: 175px;
//   width: 85%;
// }

.table-list-contents{
  display: contents;
}

.table-col-small{
  max-width: fit-content;
}

.align-center{
  text-align: center;
}

.table-col-name{
  min-width: fit-content;
}

.action-icon{
  padding: 5px;
  cursor: pointer;
}