
.breadcrum-master{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.breadcrumb-select{
    width: auto;
    margin-right: 15px;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}