<div class="navbar-nav pl-2">
  <div *ngFor="let breadcrumb of breadcrumbs; let i = index" [attr.data-index]="i" class="nav-item dropdown underline-on-hover">
    <a href="#" class="nav-item nav-link dropdown"
      [ngStyle]="{'color': i === breadcrumbs.length-1 ? 'white' : 'rgba(255,255,255,.5)'}"
      data-toggle="dropdown">{{breadcrumb.name}}<i class="fa fa-chevron-right ml-2"></i></a>
    <div class="dropdown-menu scrollable-menu">
      <a *ngFor="let item of breadcrumb.nodes" style="cursor: pointer" (click)="onItemSelection(item)"
        class="dropdown-item">{{item.name}}</a>
    </div>
  </div>
</div>


<!-- <div class="navbar-nav pl-2" *ngFor="let breadcrumb of breadcrumbs">
    <a href="#" class="nav-item nav-link active">{{breadcrumb.name}}</a>
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{breadcrumb.name}}/</a>
      <div class="dropdown-menu">
          <a *ngFor="let item of breadcrumb.nodes" style="cursor: pointer" (click)="onItemSelection(item)"
          class="dropdown-item">{{item.name}}</a>
      </div>
    </div>
  </div> -->


<!-- [routerLink]="['/org/home', item.id,item.name]" -->