<div class="navbar-nav pl-2">
  <div *ngFor="let breadcrumb of finalBreadcrumbs; let i = index" [attr.data-index]="i">
    <div *ngIf="breadcrumb.isVisible; else elseTemplate">
      <div class="nav-item dropdown underline-on-hover">
        <a href="#" class="nav-item nav-link dropdown"
          [ngStyle]="{'color': i === finalBreadcrumbs.length-1 ? 'white' : 'rgba(255,255,255,.5)'}"
          data-toggle="dropdown">{{i===finalBreadcrumbs.length-1?breadcrumb.name:breadcrumb.shortName}}<i
            *ngIf="i!==finalBreadcrumbs.length-1" class="fa fa-chevron-right ml-2"></i></a>
        <div class="dropdown-menu scrollable-menu">
          <a *ngFor="let item of breadcrumb.nodes" style="cursor: pointer" (click)="onItemSelection(item)"
            class="dropdown-item">{{item.name}}</a>
        </div>
      </div>
    </div>
    <ng-template #elseTemplate>
      <!-- <span style="color: white;" *ngIf="breadcrumb.showDots">...</span> -->
      <div *ngIf="breadcrumb.showDots && breadcrumb.type==='Organization'" class="nav-item dropdown underline-on-hover">
        <a href="#" style="color: white;" class="nav-item nav-link dropdown"
          data-toggle="dropdown">{{orgMinimizedBreadcrumbs.name}}<i style="color:grey;"
            class="fa fa-chevron-right ml-2"></i></a>
        <div class="dropdown-menu scrollable-menu">
          <a *ngFor="let item of orgMinimizedBreadcrumbs.nodes" style="cursor: pointer" (click)="onItemSelection(item)"
            class="dropdown-item">{{item.name}}</a>
        </div>
      </div>


      <div *ngIf="breadcrumb.showDots && breadcrumb.type==='Location'" class="nav-item dropdown underline-on-hover">
        <a href="#" style="color: white;" class="nav-item nav-link dropdown"
          data-toggle="dropdown">{{locMinimizedBreadcrumbs.name}}<i style="color:grey;"
            class="fa fa-chevron-right ml-2"></i></a>
        <div class="dropdown-menu scrollable-menu">
          <a *ngFor="let item of locMinimizedBreadcrumbs.nodes" style="cursor: pointer" (click)="onItemSelection(item)"
            class="dropdown-item">{{item.name}}</a>
        </div>
      </div>


      <div *ngIf="breadcrumb.showDots && breadcrumb.type==='Asset'" class="nav-item dropdown underline-on-hover">
        <a href="#" style="color: white;" class="nav-item nav-link dropdown"
          data-toggle="dropdown">{{assetMinimizedBreadcrumbs.name}}<i style="color:grey;"
            class="fa fa-chevron-right ml-2"></i></a>
        <div class="dropdown-menu scrollable-menu">
          <a *ngFor="let item of assetMinimizedBreadcrumbs.nodes" style="cursor: pointer"
            (click)="onItemSelection(item)" class="dropdown-item">{{item.name}}</a>
        </div>
      </div>
      <!-- <span *ngIf="i===1" style="color: white; cursor: pointer;">...<i style="color: grey;"
          class="fa fa-chevron-right ml-2"></i></span> -->
    </ng-template>
  </div>
</div>


<!-- <div class="navbar-nav pl-2" *ngFor="let breadcrumb of breadcrumbs">
    <a href="#" class="nav-item nav-link active">{{breadcrumb.name}}</a>
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{breadcrumb.name}}/</a>
      <div class="dropdown-menu">
          <a *ngFor="let item of breadcrumb.nodes" style="cursor: pointer" (click)="onItemSelection(item)"
          class="dropdown-item">{{item.name}}</a>
      </div>
    </div>
  </div> -->


<!-- [routerLink]="['/org/home', item.id,item.name]" -->