:host ::ng-deep .event-warning {
    background-color: #fff3cd!important;
}
:host ::ng-deep .event-danger {
    background-color: #f8d7da!important;
}
:host ::ng-deep .event-success {
    background-color: #d4edda!important;
}
.event-header{
    width: 100%;
    display: inline-block;
}
.event-search-bar-wrapper{
    float: left;
}

.align-center{
    text-align: center;
}
.event-create-font{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#addEventModalWrapper{

}
#addEventModalWrapper .modal-content{

}
#addEventModalWrapper .modal-header{
    padding: 0.5rem 1rem
}
#addEventModalWrapper .modal-body{

}
#addEventModalWrapper .modal-footer{
    padding: 0.5rem 1rem
}
.btn-search{
    padding: 0.15rem 0.5rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .row-detail {
    border: 1px solid #c8c8c8;
  }

  .row-detail-buttons {
    margin-top: -4rem;
    float: right;
  }


:host ::ng-deep .ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
  background-color: inherit!important;
}

