.event-warning{
    background-color: #ffffcc;
}
.event-stop{
    background-color: #ffb3b3;
}
.event-information{
    background-color: #b3e6ff;
}
.event-header{
    width: 100%;
    display: inline-block;
}
.event-search-bar-wrapper{
    float: left;
}
.add-event-btn-wrapper{
    float: right;
    margin-top: 20px;
}
.align-center{
    text-align: center;
}