<div class="event-header">
  <div class="event-search-bar-wrapper">
    <form class="form-inline">
      <label for="typeahead-config" id="event-log-search">Type to filter events:</label>
      <input class="form-control-sm ml-2 mb-3 mt-3" id="searchBoxEvent" type="search" placeholder="Search"
        aria-label="Search">
      <button class="btn btn-outline-info mr-2 ml-2 form-control-sm" id="searchButtonEvent" type="submit">Search</button>
    </form>
  </div>
  <div class="add-event-btn-wrapper">
    <button class="btn btn-info btn-group-right create-event-btn form-control-sm" (click)="openAddEventModal()"
      id="createEventButton" type="button"><i class="fa fa-industry mr-2"></i>Add Event</button>
  </div>
  <div></div>
</div>
<!-- <ng-template #recursiveTableList let-list="eventList" let-lvl="level">
    <ng-container *ngFor="let item of list">
      <tr>
        <td class="align-center"></td>
        <td class="align-left">{{item.name}}</td>
        <td class="align-left">{{item.eventTime}}</td>
        <td class="align-left">{{item.asset}}</td>
        <td class="align-left">{{item.signal}}</td>
        <td class="align-left">{{item.value}}</td>
        <td class="align-left">{{item.note}}</td>
        <td class="align-left">{{item.state}}</td>
      </tr>
    </ng-container>
  </ng-template> -->


<div class="table-responsive">
  <table class="table table-sm table-bordered org-table-fonts">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="align-left table-col-name">Sev</th>
        <th scope="col" class="align-left">Event Name</th>
        <th scope="col" class="align-left">Event Time</th>
        <th scope="col" class="align-left table-col-small">Asset/Loacation</th>
        <th scope="col" class="align-left table-col-small">Signal</th>
        <th scope="col" class="align-left table-col-small">Value</th>
        <th scope="col" class="align-left table-col-small">Note</th>
        <th scope="col" class="align-center table-col-small">State</th>
      </tr>
    </thead>
    <tbody>
      <!-- <ng-container *ngTemplateOutlet="recursiveTableList; context:{ eventList: eventList, level: 0 }">
        </ng-container> -->
      <tr class="event-information">
        <td class="align-center">
          <i class="fa fa-info-circle"></i>
        </td>
        <td class="align-left">Asset maintainance</td>
        <td class="align-left">08/31/19</td>
        <td class="align-left">Compressor 1</td>
        <td class="align-left"></td>
        <td class="align-left"></td>
        <td class="align-left">Replaced Filter</td>
        <td class="align-left"></td>
      </tr>
      <tr class="event-warning">
        <td class="align-center">
          <i class="fa fa-warning"></i>
        </td>
        <td class="align-left">Pump Motor Temprature</td>
        <td class="align-left">08/31/19</td>
        <td class="align-left">Pulp pump 1</td>
        <td class="align-left">
          <i class="fa fa-thermometer"></i>
          Moter Bearing
        </td>
        <td class="align-left">227.3</td>
        <td class="align-left">Exceeds 200.0</td>
        <td class="align-left">Open</td>
      </tr>
      <tr class="event-stop">
        <td class="align-center" rowspan="5"><i class="fa fa-warning"></i></td>
        <td class="align-left">Compressor Over Pressure</td>
        <td class="align-left">08/31/19</td>
        <td class="align-left">Compressor 1</td>
        <td class="align-left"><i class="fa fa-thermometer"></i> Inlet Pressure</td>
        <td class="align-left">152psi</td>
        <td class="align-left">Exceeds 150</td>
        <td class="align-left">Closed</td>
      </tr>
      <tr class="event-stop">
        <td colspan="7">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group pt-1">
                <label class="form-check-label">
                  <input type="radio" id="event-ack-close"> Acknowledge & close alert
                </label>
              </div>
            </div>
            <div class="col-md-8 pr-0">
              <div class="input-group row mb-3">
                <label for="closeby" class="col-sm-2 col-form-label">Close on</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" id="event-ack-close-ondate" class="form-control" placeholder="dd/mm/yyy mm:hh">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                </div>
                <label for="closeby" class="col-sm-2 col-form-label">Close by</label>
                <div class="col-sm-4 pr-0">
                  <input type="text" class="form-control" id="event-ack-close-by" placeholder="Close By">
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
                <div class="form-group pt-1">
                  <label class="form-check-label">
                    <input type="radio" id="evnLogcloseActEvnt"> Close alert with activity event
                  </label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label">Closure Activity Event</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="evnLogClosureActEvent">
                      <option>Asset Maintainance</option>
                    </select>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group pt-1">
                <label class="form-check-label">
                  <input type="radio" id="evnLogforcealtescalation"> Force alert escalation
                </label>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group row">
                <label for="" class="col-sm-4 col-form-label">Closure Notes</label>
                <div class="col-sm-8">
                  <textarea class="form-control" rows="2" id="evnLogClosureNotes"></textarea>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr class="event-stop">
        <td colspan="7" class="text-right">
          <button class="btn btn-secondary mr-3" id="evntLogCancel" disabled>Cancel</button>
          <button class="btn btn-primary" id="evntLogSave">Save</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Add Event Model Start-->
<div id="addEventModalWrapper" class="modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable event-create-font">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Event</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeAddEventModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body event-create-font">
        <form #organizationForm="ngForm" class="form needs-validation" novalidate>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Event Name</label>
            <div class="col-sm-4">
              <select class="form-control" id="evntName">
                <option>Select</option>
                <option>Plant Shut Down</option>
                <option>Pump Motor Temprature</option>
                <option>Compressor Over Pressure</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Created By</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="evntcretBy" placeholder="" value="Sean Healy">
            </div>
            <label for="" class="col-sm-1 col-form-label">On</label>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" id="evntcretOn" placeholder="dd/mm/yyy mm:hh">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Applies To</label>
            <div class="col-md-4">
              <select class="form-control" id="evntAppliesTo">
                <option>Select</option>
                <option>Compressor Room</option>
                <option>Pump Room</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Notes</label>
            <div class="col-md-6">
              <textarea class="form-control" rows="3" id="evntNotes"></textarea>
            </div>
          </div>
          <fieldset class="form-group">
            <legend>Alarm Blackout</legend>

            <div class="row">
              <div class="col-sm-4">
                <label for="startDate">Start Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="evntAlarmStartDate" placeholder="dd/mm/yyy mm:hh">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                <!-- <input type="date" class="form-control org-create-font" (change)="onStartDateChange()"
                  (click)="onStartDateChange()" (keyup)="onStartDateChange()" placeholder="Start Date" name="startDate"
                  required> -->
                <!-- <div *ngIf="startDate.dirty && startDate.invalid">
                        <app-votm-cloud-validator *ngIf="startDate.errors && startDate.errors.required"
                          message="Start Date is required"></app-votm-cloud-validator>
                        <app-votm-cloud-validator *ngIf="startDate.errors && startDate.errors.invalidDate"
                          message="Start Date can not be greater than or equal to end date"></app-votm-cloud-validator>
                      </div> -->
              </div>

              <div class="col-sm-4">
                <label for="endDate">End Date</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="evntAlarmEndDate" placeholder="dd/mm/yyy mm:hh">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                <!-- <input type="date" class="form-control org-create-font" (change)="onEndDateChange()"
                  (click)="onEndDateChange()" (keyup)="onEndDateChange()" placeholder="End Date" name="endDate"
                  required> -->
                <!-- <div *ngIf="endDate.dirty && endDate.invalid">
                        <app-votm-cloud-validator message="End Date is required"></app-votm-cloud-validator>
                      </div> -->
              </div>
              <div class="col-sm-4">
                <label for="">&nbsp;</label>
                <div class="input-group">
                  <button class="btn btn-secondary mr-3" id="alarmBlackoutClear">Clear</button>
                  <button class="btn btn-primary" id="alarmBlackoutset">Set</button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button id="add-event-cancle" type="button" class="btn button-mod btn-secondary btn-sm"
          (click)="closeAddEventModal('cancel')" id="addEvntCancle">Cancel
        </button>
        <button id="add-event-save" type="button" class="btn btn-info btn-color btn-sm"
          (click)="closeAddEventModal('save')" id="addEvntAdd">Add</button>
      </div>

    </div>

  </div>
</div>
<!-- Add Event Model End-->
