<div>
    <p-overlayPanel
      #op
      id="op"
      [appendTo]="'body'"
      [dismissable]="false"
      [showCloseIcon]="true"
    >
      <h6 *ngIf="selectedSignal">
        {{ selectedSignal.name }}&nbsp;
        <a (click)="op2.toggle($event)"><i class="fa fa-pencil-square-o"></i></a
        >&nbsp; <a (click)="op3.toggle($event)"><i class="fa fa-exclamation-triangle"></i></a>&nbsp;
        <a ><i class="fa fa-trash"></i></a>
      </h6>
    </p-overlayPanel>

    <p-overlayPanel #op2 [appendTo]="'body'" [dismissable]="false"
    [showCloseIcon]="true">
      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Signal Association</div>
                <div class="card-body">
                  <div class="row">

                    <div class="col-sm-3"><label>Name: &nbsp;</label></div>

                    <div class="col-sm-9">
                      <input type="text" id="signal_name" class="form-control" placeholder="Enter Signal Name">
                    </div>
                  </div>
                  <div class="row mar-top-5">
                    <div class="col-sm-3"><label>Position: &nbsp; X: &nbsp;</label></div>

                    <div class="col-sm-4">
                      <input type="text" id="position_x" class="form-control" placeholder="Enter Postion X">
                    </div>

                      <div class="col-sm-1">Y:  &nbsp;</div>
                      <div class="col-sm-4">
                        <input type="text" id="position_y" class="form-control" placeholder="Enter Position Y">
                      </div>


                  </div>
                  <div class="row mar-top-5">
                    <div class="col-sm-12">
                    <label> Source Signal Type: </label> Gage Pressure
                    </div>
                  </div>
                  <div class="row mar-top-5">
                      <div class="col-sm-12">
                      <label> Source Sensor: </label> Pressure Sensor E300025
                      </div>
                    </div>

                </div>
                <div class="card-footer text-muted">

                    <button class="btn btn-primary mt-3 pull-right" >Save</button>
                </div>
            </div>
        </div>
    </div>
    </p-overlayPanel>

      <p-overlayPanel #op3 [appendTo]="'body'" [dismissable]="false"
      [showCloseIcon]="true">

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">Alarm Rule Association</div>
                  <div class="card-body">
                      <select class="form-control">
                          <option>1</option>
                      </select>

                  </div>
                  <div class="card-footer text-muted">
                      <button class="btn btn-primary mt-3 pull-left" (click)="onClickOfCreateAssociateRule()">Create & Associate Rule</button>
                      &nbsp;&nbsp;
                      <button class="btn btn-primary mt-3 pull-right" >Save</button>
                  </div>
              </div>
          </div>
      </div>
    </p-overlayPanel>

    <form class="form">
      <h4 class="col">Associate Signals</h4>

      <div class="row org-create-font mar-top-30">
        <div class="col-md-4">
          <div class="enclosing-div">
            <a (click)="onClickOfAddCalculatedSignal()" class="cursor-point">f(x) Add Calculated Signal</a>
            <hr>
            <h5>Available Signals</h5>
            <hr />
            <ul>
              <ng-container
                *ngFor="let sensor of availableSignals; let sensorIndex = index"
              >
                <li *ngIf="sensor.node.length > 0">
                  <h6><i class="fa fa-plus"></i> &nbsp;{{ sensor.name }}</h6>
                  <ul>
                    <li
                      *ngFor="let signal of sensor.node; let signalIndex = index"

                    >
                    <a [class.disabled]="isSignalDisabled(signal)">
                      <img
                        [src]="signal.image"
                        style="cursor:pointer"
                        width="40"
                        height="40"
                        id="signal_{{ sensorIndex }}_{{ signalIndex }}"
                      />
                      </a>
                      &nbsp; {{ signal.name }}

                    </li>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>

        <div class="col-md-8" >
            <!-- *ngIf="assetImageURL" -->
          <div  class="enclosing-div" >
            <img id="dropdiv" src="../../../../assets/images/Parker.jpg" width="100%" />
          </div>
        </div>
      </div>
      <br />
      <div class="col">
        <button
          id="asset-cancel"
          for="form-cancel"
          type="button"
          (click)="onCancelClick($event)"
          class="btn btn-secondary"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>

  <!-- Add calculated signal Model Start-->
<div id="calculatedSignalModal" class="modal backdrop" [ngStyle]="{'display': display}">
    <div class="modal-dialog modal-lg modal-dialog-scrollable event-create-font">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Calculated Signal Configuration</h5>
          <button type="button" id="closeModalButton" class="close" aria-label="Close" (click)="closeCaluculatedSignalModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body event-create-font">
          <form >
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="inputEmail">Calculated Signal Name</label>
                  <input type="text" class="form-control" placeholder="Enter Calculated Signal Name" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputEmail">Icon</label>
                  <select class="form-control" >
                      <option value="flow">Flow</option>
                      <option value="battery">Battery</option>
                    </select>
                </div>
              </div>
              <span class="clearfix"></span>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputEmail">Function Name</label>
                  <select class="form-control" >
                      <option value="flow">&Sigma;Period Sum</option>
                    </select>
                </div>
              </div>
              <span class="clearfix"></span>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputEmail">Every period sum the measurements during the period for up to 10 signals.</label>
                </div>
              </div>
              <span class="clearfix"></span>
              <div class="col-md-12" >
                <div style="border: 1px solid black;">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="add-event-cancle" type="button" class="btn button-mod btn-secondary btn-sm"
            (click)="closeCaluculatedSignalModal()" id="addEvntCancle">Cancel
          </button>
          <button id="add-event-save" type="button" class="btn btn-info btn-color btn-sm"
            id="addEvntAdd">Add</button>
        </div>

      </div>

    </div>
  </div>
  <!-- Add  calculated signal Model End-->
