
@font-face {
  font-family: "data-sources";
  src: url("../../../../assets/fonts/data-sources.eot?85914990");
  src: url("../../../../assets/fonts/data-sources.eot?85914990#iefix")
      format("embedded-opentype"),
    url("../../../../assets/fonts/data-sources.woff?85914990") format("woff"),
    url("../../../../assets/fonts/data-sources.ttf?85914990") format("truetype"),
    url("../../../../assets/fonts/data-sources.svg?85914990#data-sources") format("svg");
  font-weight: normal;
  font-style: normal;
}

.max-btn,
.restore-btn {
  border-color: transparent;
  padding: 0.25rem !important;
}

.widget.norm {
  margin: 15px;
}

.widget.max {
  margin: 0;
  border-radius: 0;
  border: 0;
}

.widget.max .card-header {
  border-radius: 0;
}

.embed-responsive-2by1 {
  padding-bottom: 50%;
}

.welcome {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 23%;
  color: #666;
}

#chart-area-cont {
  position: relative;
  background-color: #f7f7f7;
}

 #sensor-cont {
  padding-left: 0;
  padding-right: 0;
  /*height: 625px;*/
  overflow: scroll;
}
.chart-cont {
  border: 1px solid #333;
  overflow: visible !important;
}

.map-settings-edit {
  line-height: 100%;
  position: absolute;
  z-index: 11;
  top: 1px;
  right: 0;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0.2;
  color: #fff;
  background: #424242;
  border: none;
  outline: none;
}

.map-settings-edit:hover {
  opacity: 1;
}

#map-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sensor-circle {
  position: absolute;
  height: 30px;
  white-space: nowrap;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-shadow: none;
  padding-left: 35px;
  padding-right: 10px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  text-align: left;
  text-overflow: ellipsis;
  z-index: 5;
  margin-left: -15px;
  margin-top: -15px;
}

 .sensor-circle {
  cursor: move;
}

 .sensor-circle.docked {
  display: none;
}

.sensor-circle:after,
.sensor-popover:after {
  position: absolute;
  left: -1px;
  top: -1px;
  height: 30px;
  width: 30px;
  line-height: 29px;
  font-size: 20px;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  text-indent: 1px;
  background-color: rgba(200, 200, 200, 0.85);
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 15px;
}

/*.sensor-popover:before {
    font-family: "data-sources";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    position: absolute;
    z-index: 1000;
    color: #aaa;
    bottom: 4px;
    left: 0;
    width: 30px;
    text-align: center;
    text-indent: 0;
    white-space: pre;
    line-height: 1.2;
    content: '\e808\a\e804';

}
*/
.sensor-circle.list-bkg {
  opacity: 0.15;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  padding-right: 0;
  position: relative;
  margin: 0 0 5px 0;
}
.sensor-circle.list-bkg.secondary-ds {
  left: 15px;
  width: calc(100% - 15px);
}
 .sensor-circle.list-bkg.docked {
  opacity: 1;
  display: block;
}

.secondary-ds.sensor-circle {
  font-weight: normal;
}

[class^="signalicon-"]:after,
[class*=" signalicon-"]:after,
[class^="signalicon-"]:before,
[class*=" signalicon-"]:before {
  font-family: "data-sources";
  font-style: normal;
  font-weight: normal;
}

.signalicon-temperature:after {
  content: "\e802";
}
.signalicon-humidity:after {
  content: "\e801";
  text-indent: 0px;
}
.signalicon-dew-point:after {
  content: "\e807";
}
.signalicon-current:after {
  content: "\e800";
}
.signalicon-pressure:after,
.signalicon-absolute-pressure:after,
.signalicon-differential-pressure:after {
  content: "\e805";
}
.signalicon-flow:after {
  content: "\e806";
  text-indent: 0px;
}
.signalicon-battery:after,
.signalicon-battery-100:after,
.signalicon-battery-75:after,
.signalicon-battery-50:after,
.signalicon-battery-25:after,
.signalicon-battery-0:after,
.signalicon-battery-100:before {
  content: "\e803";
  font-size: 16px;
}
.signalicon-battery-75:before {
  content: "\e808";
  font-size: 16px;
}
.signalicon-battery-50:before {
  content: "\e809";
  font-size: 16px;
}
.signalicon-battery-25:before {
  content: "\e80a";
  font-size: 16px;
}
.signalicon-battery-0:before {
  content: "\e80b";
  font-size: 16px;
}
.signalicon-signal-strength:after,
.signalicon-signal-100:after,
.signalicon-signal-75:after,
.signalicon-signal-50:after,
.signalicon-signal-25:after,
.signalicon-signal-0:after,
.signalicon-signal-100:before {
  content: "\e804";
  font-size: 15px;
}
.signalicon-signal-75:before {
  content: "\e80c";
  font-size: 15px;
}
.signalicon-signal-50:before {
  content: "\e80d";
  font-size: 15px;
}
.signalicon-signal-25:before {
  content: "\e80e";
  font-size: 15px;
}
.signalicon-signal-0:before {
  content: "\e804";
  font-size: 15px;
}

.sensor-popover .sensor-status {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 29px;
  text-align: center;
  line-height: 1.3;
}
.sensor-popover .sensor-status i {
  display: block;
}
.sensor-popover .sensor-status [class*=" signalicon-"]:after,
.sensor-popover .sensor-status [class^="signalicon-"]:after {
  position: absolute;
  color: #eaeaea;
  line-height: 1;
  left: 4px;
}
.sensor-popover .sensor-status [class*=" signalicon-"]:before,
.sensor-popover .sensor-status [class^="signalicon-"]:before {
  position: absolute;
  color: #888;
  line-height: 1;
  z-index: 1;
  left: 4px;
}

.alert-ok:after {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(103, 184, 71, 1);
  border: 1px solid rgba(52, 92, 36, 1);
  text-shadow: 1px 1px 1px rgba(52, 92, 36, 0.5);
}
.alert-info:after {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(87, 175, 219, 1);
  border: 1px solid rgba(36, 124, 168, 1);
  text-shadow: 1px 1px 1px rgba(36, 124, 168, 0.8);
}
.alert-warning:after {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(240, 220, 117, 1);
  border: 1px solid rgba(162, 137, 17, 1);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.alert-alarm:after {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(204, 127, 127, 1);
  border: 1px solid rgba(128, 51, 51, 1);
  text-shadow: 1px 1px 1px rgba(128, 51, 51, 0.5);
}

.sensor-offline {
  color: #999 !important;
  background-color: #fafafa !important;
  border: 1px dashed #999 !important;
}
.sensor-offline a {
  color: #999 !important;
}

.sensor-offline.sensor-popover:after,
.sensor-offline.sensor-circle:after {
  opacity: 0.35;
}

.draggable.sensor-circle {
  width: 30px !important;
  padding: 0 !important;
  overflow: hidden !important;
  min-width: initial !important;
  max-width: initial !important;
  border-radius: 15px;
  color: transparent;
  background-color: transparent;
  opacity: 0.7;
  z-index: 100;
}

.sensor-popover {
  position: absolute;
  color: #333;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  border-top-left-radius: 15px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
.sensor-popover:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 29px;
  background-color: #fafafa;
  border-right: 1px solid #ddd;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 5px;
}
.sensor-popover a {
  color: #333;
}

#pickImage .btn {
  width: 100%;
}

#pickImage .btn:first-child {
  margin-bottom: 10px;
}
