<hr>
<div class="row">
  <div id="sensor-cont" class="col-md-2"></div>
  <div class="col-md-10">
      <div class="chart-cont embed-responsive embed-responsive-16by9" style="background-color: #efefef;">
          <div class="embed-responsive-item" id="map-cont-1">
              <img *ngIf="imgURL"  id="map-image" class="img-fluid" [src]="imgURL" />
          </div>
      </div>
  </div>
  <div class="ml-auto mr-3 mt-3">
    <button id="loc-sig-cancel" for="form-cancel" type="button" (click)="onCancelClick($event)"
      class="btn btn-outline-secondary btn-sm mr-2">Cancel</button>
    <button id="loc-signal-association-save" type="button" class="btn btn-info btn-sm" (click)="onSaveSignalAssociation()"
      [disabled]="associatedSignals.length === 0 || isSignalAssociationAPILoading">
      Save<i *ngIf="isSignalAssociationAPILoading" class="fa fa-spinner fa-spin fa-fw"></i>
    </button>
  </div>

</div>

<p-overlayPanel #editOP [appendTo]="'body'" [style]="{ 'width' : '300px', 'z-index': '9999!important'}" [dismissable]="false"
[showCloseIcon]="true">
  <div class="row"  *ngIf="selectedSignal">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Signal Association</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-name-label">Name: </label>
                    <div class="">
                      <input type="text" class="form-control form-control-sm" id="edit-panel-name" placeholder="Enter Signal Name"
                      [(ngModel)]="selectedSignal.associationName">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-x-label">Position: &nbsp; X</label>
                    <div class="">
                      <input type="text" id="edit-panel-position-x" class="form-control form-control-sm" [(ngModel)]="selectedSignal.imageCoordinates.xPixels" placeholder="Enter Postion X">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-y-label">Position: &nbsp; Y</label>
                    <div class="">
                      <input type="text" id="edit-panel-position-y" class="form-control form-control-sm" [(ngModel)]="selectedSignal.imageCoordinates.yPixels" placeholder="Enter Position Y">
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-12">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-x-label">Source Signal Type: </label>
                    <div class="">
                      {{selectedSignal.name}}
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-x-label">Source Sensor: </label>
                    <div class="">
                      {{selectedSignal.sensorName}}
                    </div>
                  </div>
                </div> -->
                <div class="row mar-top-5">
                  <div class="col-sm-12">
                  <label> Source Signal Type: </label> {{selectedSignal.name}}
                  </div>
                </div>
                <div class="row mar-top-5">
                  <div class="col-sm-12">
                  <label> Source Sensor: </label> {{selectedSignal.sensorName}}
                  </div>
                </div>

              </div>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-sm btn-info pull-right" id="sigSave" (click)="onClickOfSaveSignalAssociationPanel()">Save</button>
                <button class="btn btn-sm btn-outline-secondary pull-right mr-1" id="sigClose" (click)="closeEditOpanel()">Close</button>
            </div>
        </div>
    </div>
</div>
</p-overlayPanel>

<p-overlayPanel #alertOP [appendTo]="'body'" [style]="{ 'width' : '300px'}" [dismissable]="false"
[showCloseIcon]="true">
  <div class="row"  *ngIf="selectedSignal">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Alarm Rule Association</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-name-label">Add Rule: </label>
                    <div class="">
                      <select  class="form-control form-control-sm" id="alert-panel-rule-name" [(ngModel)]="selectedAlertRule">
                        <option>Select Any</option>
                        <option *ngFor="let rule of alertRules" [ngValue]="rule">{{rule.alertRuleName}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-sm btn-info pull-right" (click)="onClickOfAlarmRuleAssociation()" id="alertSave" [disabled]="isAlarmRuleAssociationAPILoading">Save<i *ngIf="isAlarmRuleAssociationAPILoading" class="fa fa-spinner fa-spin fa-fw"></i>
                </button>
                <button class="btn btn-sm btn-outline-secondary pull-right mr-1" id="alertCreate" (click)="onClickOfCreateAssociateRule()">Create & Associate Rule</button>
            </div>
        </div>
    </div>
</div>
</p-overlayPanel>




