
.icon-sig-flow-v2:before { content: '\e800'; } /* '' */
.icon-asset-motor:before { content: '\e801'; } /* '' */
.icon-sig-capacitor:before { content: '\e802'; } /* '' */
.icon-sig-heat:before { content: '\e803'; } /* '' */
.icon-sig-humidity:before { content: '\e804'; } /* '' */
.icon-sig-pressure:before { content: '\e805'; } /* '' */
.icon-sig-vibration:before { content: '\e806'; } /* '' */
.icon-sig-vibration-accel:before { content: '\e807'; } /* '' */
.icon-sig-vibration-velocity:before { content: '\e808'; } /* '' */
.icon-sig-vibration-displacement:before { content: '\e809'; } /* '' */
.icon-sig-strain:before { content: '\e80a'; } /* '' */
.icon-sig-concentration:before { content: '\e80b'; } /* '' */
.icon-sig-flow:before { content: '\e80c'; } /* '' */
.icon-sig-conductivity:before { content: '\e80d'; } /* '' */
.icon-sig-binary:before { content: '\e80e'; } /* '' */
.icon-sig-categorical:before { content: '\e80f'; } /* '' */
.icon-sig-volume:before { content: '\e810'; } /* '' */
.icon-sig-area:before { content: '\e811'; } /* '' */
.icon-sig-angle:before { content: '\e812'; } /* '' */
.icon-sig-sound:before { content: '\e813'; } /* '' */
.icon-sig-ph:before { content: '\e814'; } /* '' */
.icon-sig-dynVis:before { content: '\e815'; } /* '' */
.icon-sig-weight:before { content: '\e816'; } /* '' */
.icon-sig-torque:before { content: '\e817'; } /* '' */
.icon-sig-time:before { content: '\e818'; } /* '' */
.icon-sig-temperature:before { content: '\e819'; } /* '' */
.icon-sig-string:before { content: '\e81a'; } /* '' */
.icon-signal:before { content: '\e81b'; } /* '' */
.icon-sig-percent:before { content: '\e81c'; } /* '' */
.icon-sig-impedance:before { content: '\e81d'; } /* '' */
.icon-sig-number:before { content: '\e81e'; } /* '' */
.icon-sig-location:before { content: '\e81f'; } /* '' */
.icon-sig-light:before { content: '\e820'; } /* '' */
.icon-sig-length:before { content: '\e821'; } /* '' */
.icon-sig-force:before { content: '\e822'; } /* '' */
.icon-sig-current:before { content: '\e823'; } /* '' */
.icon-battery-100:before { content: '\e824'; } /* '' */
.icon-battery-75:before { content: '\e825'; } /* '' */
.icon-battery-50:before { content: '\e826'; } /* '' */
.icon-battery-25:before { content: '\e827'; } /* '' */
.icon-battery-0:before { content: '\e828'; } /* '' */
.icon-sig-switch:before { content: '\e829'; } /* '' */
.icon-sig-function:before { content: '\e82a'; } /* '' */
.icon-sig-fill-level:before { content: '\e82b'; } /* '' */
.icon-sig-sum-fn:before { content: '\e82c'; } /* '' */
.icon-entity-list:before { content: '\e82d'; } /* '' */
.icon-asset-robot:before { content: '\e82e'; } /* '' */
.icon-loc-office:before { content: '\e82f'; } /* '' */
.icon-cell-tower:before { content: '\e830'; } /* '' */
.icon-gateway:before { content: '\e831'; } /* '' */
.icon-dashboard:before { content: '\e832'; } /* '' */
.icon-plus:before { content: '\e834'; } /* '' */
.icon-signal-25:before { content: '\e835'; } /* '' */
.icon-signal-50:before { content: '\e836'; } /* '' */
.icon-signal-75:before { content: '\e837'; } /* '' */
.icon-signal-100:before { content: '\e838'; } /* '' */
.icon-org-struct:before { content: '\e844'; } /* '' */
.icon-loc-floor-plan:before { content: '\e845'; } /* '' */
.icon-loc-pin-floor-plan:before { content: '\e846'; } /* '' */
.icon-sig-analog:before { content: '\e847'; } /* '' */
.icon-org-company:before { content: '\e853'; } /* '' */
.icon-loc-factory:before { content: '\e854'; } /* '' */
.icon-warn:before { content: '\e856'; } /* '' */
.icon-info:before { content: '\e857'; } /* '' */
.icon-good:before { content: '\e858'; } /* '' */
.icon-critical:before { content: '\e859'; } /* '' */
.icon-location:before { content: '\e85a'; } /* '' */
.icon-loc-pin-map:before { content: '\e85b'; } /* '' */
.icon-loc-pin-factory:before { content: '\e85c'; } /* '' */
.icon-sig-dewpoint:before { content: '\e886'; } /* '' */
.icon-sensonode:before { content: '\e97d'; } /* '' */
.icon-sensonode2:before { content: '\e97e'; } /* '' */