<app-votm-cloud-spinner *ngIf="loader else loadTemplate"></app-votm-cloud-spinner>
<ng-template #loadTemplate>
  <header>
    <h5 class="mb-2 mt-2">Organizations</h5>
    <!-- <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <form class="">
        <div class="row">
          <div class="col-xl-7">
            <div class="form-group">
              <label for="typeahead-config" id="org-filter" class="mr-2">Type to filter events:</label>
              <div class="input-group input-group-sm">
                <input name="organizationsearch" [(ngModel)]="searchedText" class="form-control" id="searchBox"
                  type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <span class="input-group-text p-0">
                    <button [disabled]="!searchedText" class="btn btn-sm btn-search" id="searchButton"
                      (click)="onOrganizationSearch()" type="submit"><i class="icon-search"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6 ml-auro text-right">
      <button id="org-create" [routerLink]="['/org/create', curOrgId, curOrgName]" type="button"
        class="btn btn-sm btn-info">
        <i class="pr-2 icon-organization-add"></i>Create Organization</button>
      <button id="org-create-loc" [routerLink]="['/loc/create', curOrgId, curOrgName]" type="button"
        class="btn btn-sm btn-info loc-table-fonts ml-2">
        <i class="pr-2 icon-location-add"></i>Create Location</button>
    </div>
  </div> -->

  </header>

  <p-treeTable [scrollable]="true" #tt  [globalFilterFields]="['name']" [resizableColumns]="true"
    [value]="organizationsList" [autoLayout]="true" id="orgTbl" class="orgTable">
    <ng-template pTemplate="caption">

      <!-- <div class="row"> -->
      <!-- <div class="col-12 col-md-6 col-lg-6 col-xl-6"> -->
      <!-- <form class=""> -->
      <div class="row">
        <div class="col-4">
          <div style="text-align: left;">
            <!-- <div class="form-group"> -->
            <!-- <label for="typeahead-config" id="org-filter" class="mr-2">Type to filter events:</label> -->
            <div class="input-group input-group-sm">
              <input name="organizationsearch" [(ngModel)]="searchedText" class="form-control" id="searchBox"
                type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <span class="input-group-text p-0">
                  <button class="btn btn-sm btn-search" id="searchButton"
                    (click)="onOrganizationSearch()" type="submit"><i class="icon-search"></i></button>
                </span>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="col-8">
          <button id="org-create" [routerLink]="['/org/create']" type="button"
            class="btn btn-sm btn-info btn-group-right ml-2">
            <i class="pr-2 icon-organization-add"></i>Create Organization</button>
          <button id="org-create-loc" [routerLink]="['/loc/create']" type="button"
            class="btn btn-sm btn-info loc-table-fonts btn-group-right">
            <i class="pr-2 icon-location-add"></i>Create Location</button>
        </div>
      </div>
      <!-- </form> -->
      <!-- </div> -->
      <!-- </div> -->
      <!-- <i class="icon-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="20" placeholder="Type to filter"
        (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto" id="organizationFilter"> -->

    </ng-template>
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col>
        <col [style.width.px]="130">
        <col [style.width.px]="130">
        <col>
        <col>
        <col>
        <col [style.width.px]="60">
        <col [style.width.px]="130">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th ttResizableColumn ttSortableColumn="name">Name
          <p-treeTableSortIcon field="name"></p-treeTableSortIcon>
        </th>
        <th ttResizableColumn ttSortableColumn="type">Type
          <p-treeTableSortIcon field="type"></p-treeTableSortIcon>
        </th>
        <th ttResizableColumn ttSortableColumn="customerNo">Customer #
          <p-treeTableSortIcon field="customerNo"></p-treeTableSortIcon>
        </th>
        <th ttResizableColumn ttSortableColumn="contractStart">Contract Start
          <p-treeTableSortIcon field="contractStart"></p-treeTableSortIcon>
        </th>
        <th ttResizableColumn ttSortableColumn="contractEnd">Contract End
          <p-treeTableSortIcon field="contractEnd"></p-treeTableSortIcon>
        </th>
        <th ttResizableColumn ttSortableColumn="serviceLevel">Service Level
          <p-treeTableSortIcon field="serviceLevel"></p-treeTableSortIcon>
        </th>
        <th ttResizableColumn>Status</th>
        <th ttResizableColumn class="align-center">Actions</th>
        <!-- <th class="text-center" ttResizableColumn>Associations</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">

        <td class="align-left">
          <span container="body" [ngbTooltip]="rowData.name" class="underline-on-hover">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <a style="color: #212529;" [routerLink]="['/org/view', curOrgId, curOrgName, rowData.id]">
              <i class="icon-org-company"></i>{{rowData.name}}
            </a>
          </span>
        </td>
        <td class="align-left">{{rowData.type}}</td>
        <td class="align-left">{{rowData.customerNo}}</td>
        <td class="align-left">{{rowData.contractStart.split(" ")[0]}}</td>
        <td class="align-left">{{rowData.contractEnd.split(" ")[0]}}</td>
        <td class="align-left">{{rowData.serviceLevel}}</td>
        <td class="text-center "><i [ngClass]="rowData.alarmStatus ?
          (
            rowData.alarmStatus.toLowerCase().includes('high') ? 'icon-critical-red' : (
              rowData.alarmStatus.toLowerCase().includes('low') ? 'icon-warn-yellow' : (
                rowData.alarmStatus.toLowerCase().includes('baseline') ? 'icon-nominal-green' : ''
              )
            )
          )
          : ''" ></i></td>
        <td class="align-center">
          <a class="action-icon" container="body" ngbTooltip="Location"
            [routerLink]="['/loc/home', rowData.id, rowData.name]">
            <i class="icon-location-list"></i>
          </a>

          <a class="action-icon" container="body" ngbTooltip="Edit"
            [routerLink]="['/org/edit',curOrgId, curOrgName, rowData.id]">
            <i class="icon-edit"></i>
          </a>
          <a class="action-icon" container="body" ngbTooltip="Delete"
            *ngIf="rowData.id.toUpperCase() !== curOrgId.toUpperCase()"
            (click)="openConfirmDialog(rowData.id, rowData.name)" title="Delete">
            <i class="icon-trash"></i>
          </a>
        </td>
      </tr>
    </ng-template>

    <tbody *ngIf="!isGetOrganizationsApiLoading">
      <ng-container *ngIf="organizationsList.length > 0">
        <ng-container *ngTemplateOutlet="recursiveTableList; context:{ orgList: organizationsList, level: 0 }">
        </ng-container>
      </ng-container>
      <tr *ngIf="organizationsList.length === 0">
        <td colspan="8"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></td>
      </tr>
    </tbody>
    <tbody *ngIf="isGetOrganizationsApiLoading">
      <i class="fa fa-spinner fa-spin fa-2x fa-fw"> No Organizations data found.</i>
    </tbody>
    <!-- <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="8">No data found.</td>
    </tr>
  </ng-template> -->
  </p-treeTable>

</ng-template>



<app-votm-cloud-confim-dialog #confirmBox [message]="message"
  headerMessage="Warning"></app-votm-cloud-confim-dialog>
