
<h1 class="flt-left"> Organizations</h1>
<div class="btn-group-right">
    <button [routerLink]="['/org/create']" type="button" class="btn btn-dark">Create Organization</button>
</div>

<ng-template #recursiveTableList let-list="orgList" let-lvl="level">
  <ng-container *ngFor="let item of list">

    <tr>
      <th scope="row" (click)="item.opened = !item.opened" [ngStyle]="{'padding-left.px': 15*(lvl+1)}">
        <i class="fa fa-sitemap"></i>
        {{item.name}} <i *ngIf="item.node.length > 0 " [ngClass]="{'fa': true, 'fa-caret-right': !item.opened, 'fa-caret-down': item.opened}"></i>
      </th>
      <td class="align-center" >{{item.type}}</td>
      <td class="align-center" >{{item.customerNo}}</td>
      <td class="align-center" >{{item.contractStart}}</td>
      <td class="align-center" >{{item.contractEnd}}</td>
      <td class="align-center" >{{item.serviceLevel}}</td>
      <td class="align-center">
        <a class="action-icon" title="List" [routerLink]="['/org/home', item.id, item.name]">
          <i class="fa fa-list"></i>
        </a>
        <a class="action-icon" title="View" [routerLink]="['/org/view', item.id]">
          <i class="fa fa-eye"></i>
        </a>
        <a class="action-icon" title="Edit" [routerLink]="['/org/edit', item.id]">
          <i class="fa fa-edit"></i>
        </a>
        <a class="action-icon" title="Delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    
    <ng-container  *ngFor="let itemLoc of item.node">
      <tr *ngIf="item.opened && itemLoc.entityType == 'Location'" >
        <th scope="row" [ngStyle]="{'padding-left.px': 15*(lvl+2)}"> <i class="fa fa-location-arrow"></i> {{itemLoc.name}}</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="align-center">
          <a class="action-icon">
            <i class="fa fa-list"></i>
          </a>
        </td>
      </tr>

        
      <tr *ngIf="item.opened && itemLoc.entityType == 'Organization'">
        <th scope="row" (click)="itemLoc.opened = !itemLoc.opened" [ngStyle]="{'padding-left.px': 15*(lvl+2)}">
          <i class="fa fa-sitemap"></i>
          {{itemLoc.name}} <i *ngIf="itemLoc.node.length > 0 " [ngClass]="{'fa': true, 'fa-caret-right': !itemLoc.opened, 'fa-caret-down': itemLoc.opened}"></i>
        </th>
        <td class="align-center" >{{itemLoc.type}}</td>
        <td class="align-center" >{{itemLoc.customerNo}}</td>
        <td class="align-center" >{{itemLoc.contractStart}}</td>
        <td class="align-center" >{{itemLoc.contractEnd}}</td>
        <td class="align-center" >{{itemLoc.serviceLevel}}</td>
        <td class="align-center">
          <a class="action-icon" title="List" [routerLink]="['/org/home', itemLoc.id, itemLoc.name]">
            <i class="fa fa-list"></i>
          </a>
          <a class="action-icon" title="View" [routerLink]="['/org/view', itemLoc.id]">
            <i class="fa fa-eye"></i>
          </a>
          <a class="action-icon" title="Edit" [routerLink]="['/org/edit', itemLoc.id]">
            <i class="fa fa-edit"></i>
          </a>
          <a class="action-icon" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>

      <ng-container *ngIf="itemLoc.opened">
          <ng-container *ngTemplateOutlet="recursiveTableList; context:{ orgList: itemLoc.node, level: lvl+2 }"></ng-container>
      </ng-container>
      
    </ng-container>
    
  </ng-container>
</ng-template>


<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="align-center table-col-name" >Name</th>
        <th scope="col" class="align-center" >Type</th>
        <th scope="col" class="align-center" >Customer #</th>
        <th scope="col" class="align-center table-col-small" >Contract Start</th>
        <th scope="col" class="align-center table-col-small" >Contract End</th>
        <th scope="col" class="align-center table-col-small" >Service Level</th>
        <th scope="col" class="align-center" >Actions</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngTemplateOutlet="recursiveTableList; context:{ orgList: organizationsList, level: 0 }"></ng-container>
    </tbody>
  </table>
