// fieldset {
//     padding: 10px;
//     border: 1px solid #ddd;
//  }
//  legend{
//     font-size: 1rem;
//     width: auto;
//     padding: 0 5px;
//     margin: 0;
//  }
//  .active-cell{
//     background-color:lightgreen;
//  }

.field-margin-top{
    margin-top: 95px;
}
td:hover{
    cursor:move;
    }