// fieldset {
//     padding: 10px;
//     border: 1px solid #ddd;
//  }
//  legend{
//     font-size: 1rem;
//     width: auto;
//     padding: 0 5px;
//     margin: 0;
//  }
//  .active-cell{
//     background-color:lightgreen;
//  }

.field-margin-top{
    margin-top: 95px;
}
#myFavTable td:hover{
  cursor:move;
}

.img-fluid-custom {
  /* width: 100%; */
  max-height: 100%;
}

.logo-preview{
  background-color: #f1f1f1;
  min-height: 220px;
  /* margin: 0 auto; */
  justify-content: center;
  text-align: center;
  display: flex;
  /* flex: 1 1 100%; */
  align-items: center
}
.btn-search{
  padding: 0.15rem 0.5rem;
}
.truncate-string {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 26%;
  width: 100%;
  display: block;
  overflow: hidden;
}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .ipad-pro-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ipad-pro-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

/* Portrait and portrait iPadPro*/
@media only screen 
  and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait){
    .ipad-pro-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .ipad-pro-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }