<div class="row">
  <h4 class="col-md-6">User Preferences</h4>
  <!-- <h4 class="col-md-6 text-right"><a href=""><i class="icon-lock"></i></a></h4> -->
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#information" class="nav-link active" data-toggle="tab">Information</a>
      </li>
      <li class="nav-item">
        <a href="#notification" class="nav-link" data-toggle="tab" (click)="onClickOfNotificationTab()">Notification</a>
      </li>
    </ul>
    <div class="tab-content border-left border-bottom border-right bg-white mb-3 p-3">
      <div class="tab-pane fade show active" id="information">
        <form #userPreferenceForm="ngForm" class="needs-validation"
          (ngSubmit)="onuserPreferenceSubmit(userPreferenceForm.value)" novalidate>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row-flex">
                <div class="form-group">
                  <label for="noti_fn" class="">Display Name:</label>
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control form-control-sm" id="noti_fn" placeholder="First name"
                        name="firstName" #firstName="ngModel" [(ngModel)]="userprofile.firstName" required>
                      <div *ngIf="firstName.dirty && firstName.invalid">
                        <app-votm-cloud-validator message="First Name is required"></app-votm-cloud-validator>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control form-control-sm" id="noti_ln" placeholder="Last name"
                        name="lastName" #lastName="ngModel" [(ngModel)]="userprofile.lastName" required>
                      <div *ngIf="lastName.dirty && lastName.invalid">
                        <app-votm-cloud-validator message="Last Name is required"></app-votm-cloud-validator>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-4 ipad-pro-lg-6">
                    <div class="form-group">
                      <label for="noti_email" class="">Email:</label>
                      <div class="">
                        <input type="email" class="form-control form-control-sm" id="noti_email" placeholder="email"
                          name="emailId" #emailId="ngModel" [(ngModel)]="userprofile.emailId" required email>
                        <div *ngIf="emailId.dirty && emailId.invalid">
                          <app-votm-cloud-validator *ngIf="emailId.errors && emailId.errors.required"
                            message="Email is required"></app-votm-cloud-validator>
                          <app-votm-cloud-validator *ngIf="emailId.errors && emailId.errors.email"
                            message="Please Enter valid email id"></app-votm-cloud-validator>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 ipad-pro-lg-6">
                    <div class="form-group">
                      <label for="noti_ph" class="">Phone Number:</label>
                      <div class="">
                        <input type="text" class="form-control form-control-sm" id="noti_ph"
                          placeholder="+1 (763) 123-456" #phoneNumber="ngModel" name="phoneNumber"
                          [(ngModel)]="userprofile.phoneNumber" OnlyNumber="true" maxlength="16" required>
                        <div *ngIf="phoneNumber.dirty && phoneNumber.invalid">
                          <app-votm-cloud-validator *ngIf="phoneNumber.errors && phoneNumber.errors.required"
                            message="Phone Number is required"></app-votm-cloud-validator>
                        </div>
                        <app-votm-cloud-char-validator
                          [condition]="userprofile.phoneNumber && userprofile.phoneNumber.length>=17">
                        </app-votm-cloud-char-validator>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 ipad-pro-lg-6">
                    <div class="form-group">
                      <label for="noti_role" class="">Role:</label>
                      <div class="">
                        <input type="text" name="userPrefRole" [(ngModel)]="userprofile.roleName"
                          class="form-control form-control-sm" disabled id="userPrefRole">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-5">
                    <div class="form-group">
                      <label for="noti_user_image" class="">User Image:</label>
                      <!-- <div class="">
                        <input type="file" class="form-control form-control-sm" id="noti_user_image"
                          placeholder="Browse">
                      </div> -->
                      <div class="custom-file">
                        <span style="color:rgb(106,96,85);" *ngIf="message">{{message}}</span>
                        <input class="custom-file-input ng-pristine ng-invalid" id="userImg" type="file"
                          *ngIf="pageType!=='View'" #file type="file" accept='image/*' (change)="preview(file.files)">
                        <label class="custom-file-label" for="">Choose file</label>
                        <span class="custom-file-label truncate-string"
                          *ngIf="userprofile && userprofile.logo">{{userprofile.logo.imageName}}</span>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-7">
                    <label for="logopreview">Image Preview:</label>
                    <div class="form-control logo-preview">
                      <img [src]="userImgURL" class="img-fluid img-fluid-custom" *ngIf="userImgURL">
                    </div>
                  </div>
                </div>
                <div class="">
                  <fieldset>
                    <legend>Preferences</legend>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4 ipad-pro-lg-6">
                        <div class="form-group">
                          <label for="noti_pre_lan" class="">Locale</label>
                          <div class="">
                            <!-- <ng-select id="DefaultLang" class="custom" required [multiple]="false" [(ngModel)]="userprofile.userConfigSettings[0].localeId"
                                name="userprofile.localeId" #language="ngModel" (change)="onLocaleChange()" placeholder="Select Locale"
                                [disabled]="pageType==='View'">
                                <ng-option value="null" disabled selected>Locale</ng-option>
                                <ng-option *ngFor="let locale of applicationConfiguration.locale" [value]="locale.localeId">{{locale.localeName}}
                                </ng-option>
                              </ng-select> -->
                            <ng-select required #language="ngModel" id="DefaultLang"
                              [(ngModel)]="userprofile.userConfigSettings[0].localeId" name="language"
                              class="drop-down custom">
                              <ng-option value="" data-default selected>Select Locale</ng-option>
                              <ng-option *ngFor="let locale of applicationConfiguration.locale" [value]="locale.localeId">{{locale.localeName}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 ipad-pro-lg-6">
                        <div class="form-group">
                          <label for="noti_pre_timezone" class="">Timezone</label>
                          <div class="">
                            <ng-select required #timezone="ngModel" id="timezone"
                              [(ngModel)]="userprofile.userConfigSettings[0].timeZoneId" name="timezone"
                              class="drop-down custom">
                              <!-- <option value="" data-default selected>Select Timezone</option> -->
                              <ng-option *ngFor="let timeZone of applicationConfiguration.timeZone"
                                [value]="timeZone.timeZoneId">{{timeZone.timeZoneName}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="noti_pre_timezone" class="">Clock</label>
                      <div class="">
                        <select id="timeFormat" class="drop-down form-control form-control-sm">
                          <option default selected value="format1">
                            24 hours
                          </option>
                          <option value="format2">
                            12 hours
                          </option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                      <div class="col-12 col-md-6 col-lg-4 ipad-pro-lg-6">
                        <div class="form-group">
                          <label for="noti_pre_units" class="">Units of Measure</label>
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text pt-0 pb-0" name="uom-logo"
                                id="unitsOfMeasureSelected">{{uomMeasurement}}</span>
                              <div class="">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                id="noti_pre_custom"
                                  (click)="openModal()" style="z-index: 0;">Change</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 p-3">
              <fieldset>
                <legend>Favorites <i class="icon-info"
                    ngbPopover="To change the order of the favorites, drag the favorite order to a desired position."
                    triggers="mouseenter:mouseleave" popoverTitle="Information"></i></legend>
                <div class="tableFixHead">
                  <table class="table table-bordered table-sm table-hover mb-3" id="myFavTable">
                    <thead class="thead-dark">
                      <tr>
                        <th class="text-center">Order</th>
                        <th>Favorite Name</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2"> No Favorites data found.</td>
                      </tr>
                      <tr *ngFor="let userFav of userprofile.userFavorites; let i = index"
                        id="{{userFav.favoriteOrder}}">
                        <td class="index text-center">{{userFav.favoriteOrder}}
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" [disabled]="!userFav.disabled"
                            name="favName{{userFav.favoriteOrder}}" [(ngModel)]="userFav.favoriteName" required>
                          <!-- <input type="text" class="favoriteOrder" value="{{userFav.favoriteOrder}}" #favOrder="ngModel" name="{{userFav.favoriteOrder}}" [(ngModel)]="userFav.favoriteOrder"> -->
                          <input type="hidden" class="favoriteOrderId" value="{{userFav.userFavoriteId}}"
                            #favOrder="ngModel" name="{{userFav.userFavoriteId}}" [(ngModel)]="userFav.userFavoriteId">
                        </td>
                        <td class="text-center"><a class="action-icon" title="Edit Name" style="cursor: pointer;">
                            <i class="icon-edit" (click)="onEditFavorite(i)"></i>
                          </a>
                          <a class="action-icon" title="Delete Favorite"
                            (click)="onClickOfConfirmDeleteUserFavorite(userFav)" style="cursor: pointer;">
                            <i class="icon-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset>
              <fieldset class="mt-3">
                <legend>Organization Access</legend>
                <div class="form-group row">
                  <div class="col-12 col-md-12 col-lg-4 ipad-pro-lg-12 mb-3">
                    <label for="org_ha" class="">Home Access</label>
                    <div class="">
                      <input type="text" name="org_ha" class="form-control form-control-sm" id="org_ha"
                        [(ngModel)]="userprofile.organizationName" disabled />
                    </div>
                  </div>

                  <div class="col-12 col-md-12 col-lg-8 ipad-pro-lg-12">
                    <label for="org_ga" class="">Guest Access</label>
                    <div class="">
                      <table class="table table-bordered table-sm table-hover" id="org_ga">
                        <thead class="thead-dark">
                          <tr>
                            <th>Organization Name</th>
                            <th>Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let userGuestOrg of userprofile.userGuestOrganization">
                            <td>{{ userGuestOrg.organizationName}}</td>
                            <td>{{ userGuestOrg.roleName}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <hr>
          <div class="text-right pt-2">
            <button class="btn btn-sm btn-outline-secondary mr-2" id="not_fav_cancel" type="button" (click)="onCancelClick($event)">Cancel</button>
            <button class="btn btn-sm btn-info" type="submit" id="noti_fav_save">Save</button>
          </div>
        </form>
      </div>
      <div class="tab-pane fade p-3" id="notification">
        <form [formGroup]="userNotificationForm">
          <fieldset class="">
            <legend>Notification Delivery Methods</legend>
            <div class="row mb-3" >
              <div class="col-12 col-md-8 col-lg-8 ipad-pro-lg-12">
                <div class="row mb-3">
                  <div class="col-sm-3">Critical Alarm</div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input criticalNotificationClass" name="noti_crit_sms"
                        formControlName="noti_crit_sms" id="noti_crit_sms"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].criticalAlarm.includes('SMS+Web')"
                        value="SMS+Web">
                      <label class="custom-control-label" for="noti_crit_sms">SMS + Web</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input criticalNotificationClass"
                        name="noti_crit_email" formControlName="noti_crit_email" id="noti_crit_email"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].criticalAlarm.includes('Email+Web')"
                        value="Email+Web">
                      <label class="custom-control-label" for="noti_crit_email">Email + Web</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input criticalNotificationClass" name="noti_crit_web"
                        formControlName="noti_crit_web" id="noti_crit_web"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].criticalAlarm.includes('Web Only')"
                        value="Web Only">
                      <label class="custom-control-label" for="noti_crit_web">Web Only</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">Warning Alarm</div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input warningNotificationClass" name="noti_war_sms"
                        formControlName="noti_war_sms" id="noti_war_sms"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].warningAlarm.includes('SMS+Web')"
                        value="SMS+Web">
                      <label class="custom-control-label" for="noti_war_sms">SMS + Web</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input warningNotificationClass" name="noti_war_email"
                        formControlName="noti_war_email" id="noti_war_email"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].warningAlarm.includes('Email+Web')"
                        value="Email+Web">
                      <label class="custom-control-label" for="noti_war_email">Email + Web</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input warningNotificationClass" name="noti_war_web"
                        formControlName="noti_war_web" id="noti_war_web"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].warningAlarm.includes('Web Only')"
                        value="Web Only">
                      <label class="custom-control-label" for="noti_war_web">Web Only</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">Info Message</div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input infoNotificationClass" name="noti_info_sms"
                        formControlName="noti_info_sms" id="noti_info_sms"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].infoMessage.includes('SMS+Web')"
                        value="SMS+Web">
                      <label class="custom-control-label" for="noti_info_sms">SMS + Web</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input infoNotificationClass" name="noti_info_email"
                        formControlName="noti_info_email" id="noti_info_email"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].infoMessage.includes('Email+Web')"
                        value="Email+Web">
                      <label class="custom-control-label" for="noti_info_email">Email + Web</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input infoNotificationClass" name="noti_info_web"
                        formControlName="noti_info_web" id="noti_info_web"
                        [checked]="userprofile && userprofile.userNotification[0] && userprofile.userNotification[0].infoMessage.includes('Web Only')"
                        value="Web Only">
                      <label class="custom-control-label" for="noti_info_web">Web Only</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 ipad-pro-lg-12 text-right">
                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal"><i
                    class="icon-calendar mr-2"></i>Set Notification Delivery
                  Schedule</button>
              </div>
            </div>
            <div class="border-top text-right pt-2">
              <button type="button" class="btn btn-sm btn-outline-secondary mr-2" id="noti_cancel">Cancel</button>
              <button type="button" class="btn btn-sm btn-info" id="noti_save"
                (click)="onUserNotificationSave()">Save</button>
            </div>
          </fieldset>
        </form>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade" tabindex="-1">
          <div class="modal-dialog modal-xl ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Notification Delivery Schedule</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <table class="table table-sm table-bordered" id="noti_schedule">
                  <thead class="thead-dark">
                    <tr>
                      <th rowspan="2"></th>
                      <th colspan="2" class="text-center">Sun</th>
                      <th colspan="2" class="text-center">Mon</th>
                      <th colspan="2" class="text-center">Tue</th>
                      <th colspan="2" class="text-center">Wed</th>
                      <th colspan="2" class="text-center">Thu</th>
                      <th colspan="2" class="text-center">Fri</th>
                      <th colspan="2" class="text-center">Sat</th>
                    </tr>
                    <tr>
                      <th class="text-center">AM</th>
                      <th class="text-center">PM</th>
                      <th class="text-center">AM</th>
                      <th class="text-center">PM</th>
                      <th class="text-center">AM</th>
                      <th class="text-center">PM</th>
                      <th class="text-center">AM</th>
                      <th class="text-center">PM</th>
                      <th class="text-center">AM</th>
                      <th class="text-center">PM</th>
                      <th class="text-center">AM</th>
                      <th class="text-center">PM</th>
                      <th class="text-center">AM</th>
                      <th class="text-center">PM</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">1:00</td>
                      <td class="text-center"></td>
                      <td class="text-center active-cell"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center active-cell"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">2:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">3:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">4:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">5:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">6:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">7:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">8:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">9:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">10:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">11:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                    <tr>
                      <td class="text-center">12:00</td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                      <td class="text-center"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary" id="noti_sch_clear">Clear</button>
                <button type="button" class="btn btn-sm btn-info" id="noti_sch_save">Save</button>
              </div>
            </div>
          </div>
        </div>
        <fieldset class="mt-3">
          <legend>Alarm Subscriptions</legend>
          <div class="row">
            <div class="col-md-6 mb-2">

              <div class="input-group">
                <form class="form-inline">
                  <label for="typeahead-config" id="alertRule-filter">Type to filter events:</label>
                  <div class="input-group">
                    <input class="form-control form-control-sm ml-2" id="userAlertsearchBox" type="search"
                      placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                      <span class="input-group-text p-0">
                        <button class="btn btn-sm btn-search" id="userAlertSearchButton" type="submit"><i
                            class="icon-search"></i></button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>

            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-bordered asset-table-fonts" id="alertListTb">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="align-left table-col-name">Rule Name</th>
                  <th scope="col" class="align-left">Metric Type</th>
                  <th scope="col" class="align-left">Rule Type</th>
                  <th scope="col" class="align-left table-col-small">Rule Owner</th>
                  <th scope="col" class="align-left table-col-small">Associations</th>
                  <th scope="col" class="align-left table-col-small">Notifications</th>
                  <!-- <th scope="col" class="align-center">Actions</th> -->
                </tr>
              </thead>
              <tr *ngFor="let item of alertList">
                <th scope="row">
                  <a style="color: #212529;" [routerLink]="['alertRule/view', item.alertRuleId]">
                    {{item.alertRuleName}}</a>
                </th>
                <td class="align-left"><i class="fa fa-thermometer-half mr-1"></i>{{item.alertTypeName}}</td>
                <td class="align-left">{{item.ruleType}}</td>
                <td class="align-left">{{item.organizationScopeName}}</td>
                <td class="align-left">{{item.numberofSignalAssociated}}</td>
                <td class="align-left">{{item.numberofUserAssociated}}</td>
                <!-- <td class="align-center">
                  <a style="color: #212529;" class="action-icon" title="Edit" (click)="onEditViewClick(item)">
                    <i class="icon-edit pr-1"></i>
                  </a>
                  <a class="action-icon" (click)="openConfirmDialog(item.id, item.name)" title="Delete">
                    <i class="icon-trash"></i>
                  </a>
                </td> -->
              </tr>
            </table>
          </div>
          <!-- <table class="table table-bordered table-sm table-striped">
            <thead>
              <tr>
                <th>Rule Name</th>
                <th>Metric Type</th>
                <th>Rule Type</th>
                <th>Access Scope</th>
                <th>Associations</th>
                <th>Notification</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of alertList">
                <th scope="row">
                  <a style="color: #212529;" [routerLink]="['alertRule/view', item.alertRuleId]">
                    {{item.alertRuleName}}</a>
                </th>
                <td class="align-left"><i class="fa fa-thermometer-half mr-1"></i>{{item.alertTypeName}}</td>
                <td class="align-left">{{item.ruleType}}</td>
                <td class="align-left">{{item.organizationScopeName}}</td>
                <td class="align-left">{{item.numberofSignalAssociated}}</td>
                <td class="align-left">{{item.numberofUserAssociated}}</td>
                <td class="align-center">
                  <a style="color: #212529;" class="action-icon" title="Edit"
                    [routerLink]="['alertRule/edit', item.alertRuleId]">
                    <i class="icon-edit pr-1"></i>
                  </a>
                  <a class="action-icon" (click)="openConfirmDialog(item.id, item.name)" title="Delete">
                    <i class="icon-trash"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <th>{{item.alertRuleName}}</th>
                <td>{{item.alertTypeName}}</td>
                <td>{{item.ruleType}}</td>
                <td>{{item.organizationScopeName}}</td>
                <td>{{item.numberofSignalAssociated}}</td>
                <td>{{item.numberofUserAssociated}}</td>
                <td class="text-center">
                  <a href="" class="mr-2"><i class="icon-trash"></i></a>
                  <a href=""><i class="icon-edit"></i></a>
                </td>
              </tr>
            </tbody>
          </table> -->
        </fieldset>
      </div>
    </div>
  </div>
</div>



<!-- UOM Modal -->
<div id="uomModal" class="modal">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <label for="UOM" class="pr-2"><b>Units of Measure :</b></label>
        <!-- <div class="form-check form-check-inline">
            <input [disabled]="pageType==='View'" class="form-check-input org-create-font" type="radio" value="SI"
              name="UOM" (change)="onUnitChange($event)" checked id="f-si">
            <label class="form-check-label" for="f-si">SI</label>
          </div> -->
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Imperial" name="UOM"
            (change)="onUnitChange($event)" id="f-imperial" [(ngModel)]="uomMeasurement">
          <label class="form-check-label" for="f-imperial">Imperial</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Metric" name="UOM"
            (change)="onUnitChange($event)" id="f-metric"  [(ngModel)]="uomMeasurement">
          <label class="form-check-label" for="f-metric">Metric</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Custom" name="UOM"
            (change)="onUnitChange($event)" id="f-custom"  [(ngModel)]="uomMeasurement" disabled>
          <label class="form-check-label" for="f-custom">Custom</label>
        </div>
      </div>
      <div class="modal-body org-create-font" *ngIf="uomModels" >

        <div *ngFor="let uom of applicationConfiguration.unitOfMeassurement; let i = index" [attr.data-index]="i"
          class="container-fluid">
          <div class="row" *ngIf="i%3===0 && uom">

            <div class="col-4">
              <div class="form-group">
                <label class="" for="uom.uomTypeName">{{uom.uomTypeName}}:</label>
                <div class="">
                  <ng-select [(ngModel)]="uomModels[uom.uomTypeId]"
                    (change)="onUoMDropdownChange(uom.uomTypeId, uomModels[uom.uomTypeId])" name="uom.uomTypeName"
                    class="custom">

                    <ng-option *ngFor="let view of uom.uoMView" [value]="view" >
                      {{view.uoMName}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>

            <div class="col-4" *ngIf="applicationConfiguration.unitOfMeassurement[i+1]">
              <div class="form-group">
                <label class=""
                  for="applicationConfiguration.unitOfMeassurement[i+1].uomTypeName">{{applicationConfiguration.unitOfMeassurement[i+1].uomTypeName}}:</label>
                <div class="">
                  <ng-select [(ngModel)]="uomModels[applicationConfiguration.unitOfMeassurement[i+1].uomTypeId]"
                  (change)="onUoMDropdownChange(applicationConfiguration.unitOfMeassurement[i+1].uomTypeId, uomModels[applicationConfiguration.unitOfMeassurement[i+1].uomTypeId])"
                    name="applicationConfiguration.unitOfMeassurement[i+1].uomTypeName"
                    class="custom">

                    <ng-option *ngFor="let view of applicationConfiguration.unitOfMeassurement[i+1].uoMView"
                      [value]="view">
                      {{view.uoMName}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>

            <!-- 3rd column -->
            <div class="col-4" *ngIf="applicationConfiguration.unitOfMeassurement[i+2]">
              <div class="form-group">
                <label class=""
                  for="applicationConfiguration.unitOfMeassurement[i+2].uomTypeName">{{applicationConfiguration.unitOfMeassurement[i+2].uomTypeName}}:</label>
                <div class="">
                  <ng-select [(ngModel)]="uomModels[applicationConfiguration.unitOfMeassurement[i+2].uomTypeId]"
                  (change)="onUoMDropdownChange(applicationConfiguration.unitOfMeassurement[i+2].uomTypeId, uomModels[applicationConfiguration.unitOfMeassurement[i+2].uomTypeId])"
                    name="applicationConfiguration.unitOfMeassurement[i+2].uomTypeName"
                    class="custom">

                    <ng-option *ngFor="let view of applicationConfiguration.unitOfMeassurement[i+2].uoMView"
                      [value]="view">
                      {{view.uoMName}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="org-uom-cancle" type="button" class="btn btn-outline-secondary btn-sm" (click)="closemodal('cancel')">Cancel
        </button>
        <button id="org-uom-save" type="button" class="btn btn-info btn-sm" (click)="onSaveUOMDetails()">Save</button>
      </div>

    </div>

  </div>
</div>



<!-- UOM Modal  -->
<!-- <div class="modal fade" id="uomModal" tabindex="-1" role="dialog" aria-labelledby="uomSelection" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label for="UOM" class="pr-2"><b>Units of Measure :</b></label>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input org-create-font" type="radio" value="SI"
            name="UOM" (change)="onUnitChange($event)" checked id="f-si">
          <label class="form-check-label" for="f-si">SI</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Imperial" name="UOM"
            (change)="onUnitChange($event)" id="f-imperial">
          <label class="form-check-label" for="f-imperial">Imperial</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Metric" name="UOM"
            (change)="onUnitChange($event)" id="f-metric">
          <label class="form-check-label" for="f-metric">Metric</label>
        </div>
        <div class="form-check form-check-inline">
          <input [disabled]="pageType==='View'" class="form-check-input" type="radio" value="Custom" name="UOM"
            (change)="onUnitChange($event)" id="f-custom">
          <label class="form-check-label" for="f-custom">Custom</label>
        </div>
      </div>
      <div class="modal-body org-create-font">

        <div *ngFor="let uom of applicationConfiguration.unitOfMeassurement; let i = index" [attr.data-index]="i"
          class="container-fluid">
          <div class="row" *ngIf="i%2===0 && uom">

            <div class="col-4">
              <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="uom.uomTypeName"><b>{{uom.uomTypeName}}:</b></label>
                <div class="col-sm-8 org-create-font">
                  <select [(ngModel)]="uomModels[uom.uomTypeName]"
                    (change)="onUoMDropdownChange($event,uom.uomTypeName)" name="uom.uomTypeName"
                    class="form-control org-create-font">
                    <option></option>
                    <option *ngFor="let view of uom.uoMView" [value]="view.uoMId">
                      {{view.uoMName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="uom.uomTypeName"><b>{{uom.uomTypeName}}:</b></label>
                <div class="col-sm-8 org-create-font">
                  <select [(ngModel)]="uomModels[uom.uomTypeName]"
                    (change)="onUoMDropdownChange($event,uom.uomTypeName)" name="uom.uomTypeName"
                    class="form-control org-create-font">
                    <option></option>
                    <option *ngFor="let view of uom.uoMView" [value]="view.uoMId">
                      {{view.uoMName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-4" *ngIf="applicationConfiguration.unitOfMeassurement[i+1]">
              <div class="row form-group">
                <label class="col-sm-4 col-form-label"
                  for="applicationConfiguration.unitOfMeassurement[i+1].uomTypeName"><b>{{applicationConfiguration.unitOfMeassurement[i+1].uomTypeName}}:</b></label>
                <div class="col-sm-8 org-create-font">
                  <select [(ngModel)]="uomModels[applicationConfiguration.unitOfMeassurement[i+1].uomTypeName]"
                    (change)="onUoMDropdownChange($event, applicationConfiguration.unitOfMeassurement[i+1].uomTypeName)"
                    name="applicationConfiguration.unitOfMeassurement[i+1].uomTypeName"
                    class="form-control org-create-font">
                    <option></option>
                    <option *ngFor="let view of applicationConfiguration.unitOfMeassurement[i+1].uoMView"
                      [value]="view.uoMId">
                      {{view.uoMName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="user-uom-cancle" type="button" class="btn btn-sm btn-secondary"
          (click)="closemodal('cancel')">Cancel
        </button>
        <button id="user-uom-save" type="button" class="btn btn-sm btn-info"
          (click)="closemodal('save')">Save</button>
      </div>

    </div>
  </div>
</div> -->
<app-votm-cloud-confim-dialog (onClose)="onClickOfDeleteUserFavorite($event)" #confirmDelFavorite
  [message]="confirmDelUserFavoriteMessage" headerMessage="Delete Favorite"></app-votm-cloud-confim-dialog>
