


/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

@import "styles/bootstrap.min.css", "styles/pcm.css";
@import "styles/_functions.scss", "styles/_variables.scss";
@import "styles/select.scss";
// @import "styles/side.css";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/dist/css/bootstrap.css";
// @import "~font-awesome/css/font-awesome.css";
// @import "assets/fontello/css/fontello.css";
@import 'assets/pcm-font/css/pcm.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
// @import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';


fieldset {
    padding:10px;
    border: 1px solid #ddd;
  }
legend{
  font-size:0.875rem;
  width: auto;
  padding: 0 5px;
  margin:0;
}
// .input-group-text{
//   padding: .365rem .75rem !important;
// }
// scrollbar custom
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #333;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #fff;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #78C8D2;
}

