


/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

@import "styles/bootstrap.min.css";
@import "styles/_functions.scss", "styles/_variables.scss";
@import "styles/select.scss";
@import "styles/theme.css";
// @import "styles/side.css";

@import '~bootstrap/scss/bootstrap-reboot';
// @import '~bootstrap/scss/bootstrap-grid';
// @import "~bootstrap/dist/css/bootstrap.css";
// @import "~font-awesome/css/font-awesome.css";
// @import "assets/fontello/css/fontello.css";
@import 'assets/pcm-font/css/pcm.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
// @import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
fieldset {
    padding:10px;
    border: 1px solid #ddd;
  }
legend{
  font-size: $font-size-base;
  width: auto;
  padding: 0 5px;
  margin:0;
}

label {
  margin-bottom: 0.25rem;
}
// common search field with button
.btn-search{
  padding: 0.15rem 0.5rem;
}
a:hover, .btn:hover{
  transition: 0.4s;
}
// .input-group-text{
//   padding: .365rem .75rem !important;
// }
// // scrollbar custom
// body::-webkit-scrollbar-track
// {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	background-color: #333;
// }

// body::-webkit-scrollbar
// {
// 	width: 12px;
// 	background-color: #fff;
// }

// body::-webkit-scrollbar-thumb
// {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 	background-color: #78C8D2;
// }
.table .thead-dark th{
  background-color: #dee2e6;
  border:1px solid #c8c8c8;
  color:#333;
}

// active tabs
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-color: #00a2ae !important;
    background-color: #00a2ae !important;
    color: white;
    font-weight: bold;
}
ul.nav-tabs-left, .nav-tabs .nav-link {
  transition: border-color 0.125s ease-in;
  white-space: nowrap;
  color: #495057;
  background-color: #f3f4f6;
}

// lock tab
.lock-tab {
  position: absolute;
  right: calc(-0.875rem - 1px);
  top: calc(-2.3125rem - 0.875rem - (-1px));
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0 0;
  cursor: pointer;
}

