
<div class="mt-3">
  <div class="embed-responsive embed-responsive-16by9" >
    <div class="embed-responsive-item">
      <div class="drag-root d-flex h-100">
        <div class="col-12 col-md-3 pl-md-0 h-100"  >
          <div class="sensor-list h-100" *ngIf="isDragDropRequired">
            <div *ngIf="(showSensor(derivedSignals) || showUnassoc)" class="derived">
              <span class="icon-sig-function">Calculated Signals</span
              ><button type="button" class="btn btn-sm" (click)="openmodal('derivedSignalModal')" ><i class="icon-plus"></i></button>
              <div class="signal-list">
                <ng-container *ngFor="let signal of derivedSignals">
                  <div
                    class="signal-item {{ signal.icon }}"
                    *ngIf="showSignal(signal)"
                    [ngClass]="{ assoc: signal.associated, locked: disable }"
                    [dndDraggable]="signal"
                    [dndDisableIf]="signal.associated"
                    [dndEffectAllowed]="'move'"
                    (dndStart)="onStart($event)"
                  >
                    {{ signal.signalName }}
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container>
              <ng-container *ngFor="let sensor of dragList; let i = index"  >
                <div *ngIf="showSensor(sensor.node)" class="sensor-item icon-sensonode">
                  {{ sensor.sensorName }}

                  <div class="signal-list">
                    <ng-container *ngFor="let signal of sensor.node; let j = index">
                      <ng-container *ngIf="signal.signalType.toLowerCase() !== batterySignalType && signal.signalType.toLowerCase() !== signalSignalType" >
                        <div
                          attr.sensorIx="{{ i }}"
                          attr.signalIx="{{ j }}"
                          class="signal-item {{ signal.icon }}"
                          *ngIf="showSignal(signal)"
                          [ngClass]="{ assoc: signal.associated, locked: disable, cursordefault: !sensor.isLink }"
                          [dndDraggable]="signal"
                          [dndDisableIf]="signal.associated || !sensor.isLink"
                          [dndEffectAllowed]="'move'"
                          (dndStart)="onStart($event, i, j)"
                        >
                          {{ signal.associationName }}
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <!-- <ng-template #noSensorData>
                <div class="signal-list">
                  <ng-container *ngFor="let signal of dragList; let j = index">
                    <div
                      attr.signalIx="{{ j }}"
                      class="signal-item {{ signal.icon }}"
                      *ngIf="showSignal(signal)"
                      [ngClass]="{ assoc: signal.associated, locked: disable }"
                      [dndDraggable]="signal"
                      [dndDisableIf]="signal.associated"
                      [dndEffectAllowed]="'move'"
                      (dndStart)="onStart($event, undefined, j)"
                    >
                      {{ signal.name }}
                    </div>
                  </ng-container>
                </div>
            </ng-template> -->
          </div>
          <div class="sensor-list h-100" *ngIf="!isDragDropRequired" >
              <div class="sensor-item icon-asset-robot">
                  Assets
                <div class="signal-list">
                  <ng-container *ngFor="let item of dragList; let j = index">
                    <div
                      class="signal-item {{ item.icon }} border-0 transparent "
                      [ngClass]="{ assoc: item.associated, cursorpoint: !disable, cursordefault: disable}"
                      (click)="!disable ? onClickOfAssetName(item) : ''"
                    >
                      {{ item.name }}
                    </div>
                  </ng-container>
                  <div *ngIf="dragList.length === 0" >
                    No data available.
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-9 px-md-0" >
          <div class="border h-100 assoc-pane" (window:resize)="onResize($event)">
            <!--  [src]="imgURL" -->
            <img #locationImage [src]="imageURL" class="assoc-img" (load)="onLoadLocImg()" dndDropzone (dndDrop)="onDrop($event)" />
            <span class="loc-origin"  [class.d-none]="disable" [style.left.px]="imgOffsetLeft + 1" [style.top.px]="imgOffsetTop">[0,0]</span>
            <span class="loc-extent" [class.d-none]="disable" [style.right.px]="imgOffsetLeft + 1" [style.bottom.px]="imgOffsetTop">
              [{{ imgSourceWidth }},{{ imgSourceHeight }}]
            </span>
            <div
              id="sig_{{i}}"
              *ngFor="let item of droppedList; let i = index;"
              style="position: absolute;"
              class="signal-item {{ item.icon }}"
              [ngClass]="{ locked: disable || !item.bound, active: item.isClicked, unbound: !item.bound }"
              [style.left.px]="imgOffsetLeft + item.pctPos.left * imgOffsetWidth - 16"
              [style.top.px]="imgOffsetTop + item.pctPos.top * imgOffsetHeight - 16"
              [dndDraggable]="item"
              [dndEffectAllowed]="'move'"
              (dndStart)="onStart($event, i)"
              [dndDisableIf]="disable || !item.bound"
            >
              {{item.associationName}}
              <a id="sig_edit_{{i}}" *ngIf="showEditIcon"  [class.d-none]="disable || !item.bound" (click)="onClickOfEditIcon(i, $event)"><i class="icon-edit cursorpoint"></i></a>
              <a id="sig_alert_{{i}}" *ngIf="showAlertIcon" [class.d-none]="disable || !item.bound" (click)="onClickOfAlertIcon(i, $event)"><i class="icon-warn cursorpoint"></i></a>
              <a id="sig_unlink_{{i}}" *ngIf="showDetachIcon"  [class.d-none]="disable || !item.bound" (click)="onDetachSignalFromAsset(i)"><i class="icon-unlink cursorpoint"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ml-auto mr-3 mt-3 pull-right" [class.d-none]="disable" *ngIf="model === 'Signal'">
    <button id="loc-sig-cancel" for="form-cancel" type="button" (click)="onCancelClick($event)"
      class="btn btn-outline-secondary btn-sm mr-2">Return to List</button>
    <button id="loc-sig-reset" for="form-reset" type="button" (click)="onClickOfReset()"
      class="btn btn-info btn-sm mr-2">Reset</button>
    <button id="loc-signal-association-save" type="button" class="btn btn-info btn-sm" (click)="onSaveSignalAssociation()"
      [disabled]="droppedList.length === 0 || isSignalAssociationAPILoading">
      Save<i *ngIf="isSignalAssociationAPILoading" class="fa fa-spinner fa-spin fa-fw"></i>
    </button>
  </div>

</div>


<p-overlayPanel #editOP [appendTo]="'body'" [style]="{ 'width' : '300px', 'z-index': '9999!important'}" [dismissable]="false"
>
  <div class="row"  *ngIf="selectedSignal">
    <div class="col-md-12">
        <div class="card border-0">
            <div class="card-header">Association
                <button type="button" class="pull-right close" (click)="closeEditOpanel()">&times;</button>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12" *ngIf="isDragDropRequired">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-name-label">Name: </label>
                    <div class="">
                      <input type="text" class="form-control form-control-sm" id="edit-panel-name" placeholder="Enter Signal Name"
                      [(ngModel)]="selectedSignal.associationName">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-x-label">Position: &nbsp; X</label>
                    <div class="">
                      <input type="text" id="edit-panel-position-x" class="form-control form-control-sm" [(ngModel)]="selectedSignal.imageCordinates.x" placeholder="Enter Postion X">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-y-label">Position: &nbsp; Y</label>
                    <div class="">
                      <input type="text" id="edit-panel-position-y" class="form-control form-control-sm" [(ngModel)]="selectedSignal.imageCordinates.y" placeholder="Enter Position Y">
                    </div>
                  </div>
                </div>
                <div class="row-flex" *ngIf="isDragDropRequired" >
                  <div class="col-sm-12">
                  <i> Source Signal Type:  {{selectedSignal.signalType}}</i>
                  </div>
                </div>
                <div class="row-flex" *ngIf="isDragDropRequired">
                  <div class="col-sm-12">
                  <i> Source Sensor:  {{selectedSignal.sensorName}}</i>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-sm btn-info pull-right" id="sigSave" (click)="onClickOfSaveSignalAssociationPanel($event)">Save</button>
                <button class="btn btn-sm btn-outline-secondary pull-right mr-1" id="sigClose" (click)="closeEditOpanel()">Close</button>
            </div>
        </div>
    </div>
</div>
</p-overlayPanel>

<p-overlayPanel #alertOP [appendTo]="'body'" [style]="{ 'width' : '300px'}" [dismissable]="false"
>
  <div class="row"  *ngIf="selectedSignal">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Alarm Rule Association
                <button type="button" class="pull-right close" (click)="closeAlertOPanel()">&times;</button>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="temp" id="edit-panel-name-label">Add Rule: </label>
                    <div class="">
                      <select  class="form-control form-control-sm" id="alert-panel-rule-name" [(ngModel)]="selectedAlertRule">
                        <option>Select Any</option>
                        <option *ngFor="let rule of alertRules" [ngValue]="rule">{{rule.alertRuleName}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-sm btn-info pull-right" (click)="onClickOfAlarmRuleAssociation()" id="alertSave" [disabled]="isAlarmRuleAssociationAPILoading">Save<i *ngIf="isAlarmRuleAssociationAPILoading" class="fa fa-spinner fa-spin fa-fw"></i>
                </button>
                <button class="btn btn-sm btn-outline-secondary pull-right mr-1" id="alertCreate" (click)="onClickOfCreateAssociateRule()">Create & Associate Rule</button>
            </div>
        </div>
    </div>
</div>
</p-overlayPanel>


<!-- Modal for Favorite  -->
<!-- <div id="alertModal" class="modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">

      <div class="modal-content">
        <app-votm-cloud-alerts-create></app-votm-cloud-alerts-create>
      </div>
    </div>
  </div> -->
<!-- <app-votm-cloud-alerts-create></app-votm-cloud-alerts-create> (click)="openmodal()" -->
<div id="derivedSignalModal" class="modal">
  <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Calculated Signal Configuration</h5>
              <button type="button" class="close" (click)="closeModal(derivedSignalModal)">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12 col-md-8 col-lg-8">
                <div class="form-group">
                  <label for="">Calculated Signal Name</label>
                  <input type="text" class="form-control form-control-sm" id="" value="My Derived Signal">
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="">Icon</label>
                  <ng-select class="">
                    <ng-option value="company"><i class="icon-location"></i></ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="">Function Name</label>
                  <ng-select class="">
                    <ng-option value="company"><i class="icon-location"></i></ng-option>
                  </ng-select>
                  <i>Every period sum the measurements during the period for up to 10 input signals.</i>
                </div>
              </div>
            </div>
            <fieldset>
              <legend>Function Inputs</legend>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Period type</label>
                    <ng-select class="">
                      <ng-option value="company">Month<i class="icon-location"></i></ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Summable signal type</label>
                    <ng-select class="">
                      <ng-option value="company">Flow<i class="icon-location"></i></ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Input Signal 1</label>
                    <ng-select class="">
                      <ng-option value="company">Compressor 1 Flow<i class="icon-location"></i></ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="">Input Signal 2</label>
                    <ng-select class="">
                      <ng-option value="company">Compressor 2 Flow<i class="icon-location"></i></ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" (click)="closeModal(derivedSignalModal)">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="addDerived()">Save</button>
          </div>
      </div>
  </div>
</div>




