.btn-search{
    padding: 0.15rem 0.5rem;
}
#cus-data-per{
    background-color: rgba(0,0,0,0.5);
    .modal-dialog-centered{
        top:1%;
    }
}
#noti-deli-sche{
    background-color: rgba(0,0,0,0.5);
    .modal-dialog-centered{
        top:1%;
    }
}