<div class="position-relative">
  <div class="lock-tab border border-bottom-0 cursor-point">
    <a (click)="toggleDisable()"><i
        [ngClass]="disable ? 'icon-lock edit-view-lock' : 'icon-lock-open edit-view-lock'"></i></a>
  </div>
</div>
<div  class="position-relative" *ngIf="imgURL">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="form-group has-search">
        <span class="icon-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Filter Assets" />
      </div>
    </div>

  </div>
  <app-votm-cloud-association
    [imageURL]="imgURL"
    [dragList]="childAssets"
    [droppedList]="associatedChildAssets"
    [showEditIcon]="true"
    [showAlertIcon]="false"
    [showDetachIcon]="false"
    [disable]="disable"
    [isDragDropRequired]="false"
    [showUnassoc]="showUnassoc"
    (reload)="getChildAssetAssociation()"
    (saveAssociation)="onSaveChildAssetAssociation($event)"
    (resetPage)="onReset()"
    (returnToList)="onReturnToList()"
  >
  </app-votm-cloud-association>
</div>
<div class="center" *ngIf="!imgURL">
  <i  class="fa fa-spinner fa-2x fa-spin fa-fw"></i>
</div>
